img {width: 100%; }

/*=========清除浮動=========*/
.setdown26:after {
  content: '';
  display: block;
  clear: both; }

.register26 {
  color: #fff;
  background-color: #374d60;
  background-size: cover;
  background-size: 70%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.setdown26 {
  margin: auto;
  /*form26*/ }
  .setdown26 #form26 {
    margin: auto;
    background-color: rgba(73, 100, 122, 0.5);
    /*item26*/ }
    .setdown26 #form26 .title26 {
      background-color: rgba(217, 217, 217, 0.2); }
    .setdown26 #form26 .item26 .label26 {
      display: inline-block;
      text-align: right;
      margin-right: 1vw; }
    .setdown26 #form26 .item26 #number26 {/*修改*/
      display: inline-block;
      width: 110px; }
    #reset26{/*修改*/
      display: inline-block;
      width: 30px;
      margin-left: 5px;
      cursor: pointer;
      }
    .setdown26 #form26 .span26, .setdown26 #form26 .check26, .setdown26 #form26 #number26 img, .setdown26 #form26 #reset26 img {
      vertical-align: middle; }/*修改*/
    .setdown26 #form26 .read26 {
      text-align: center; }
      .setdown26 #form26 .read26 #rule26 { /*修改*/
        color: #fff;
        text-decoration: underline; }
    .setdown26 #form26 #submit26 {  /*修改*/
      display: block;
      color: #000;
      margin: auto;
      width: 150px; }

/*setdown26*/
@media screen and (max-width: 999px) {
  .setdown26 {
    width: 100%; }
    .setdown26 .prompt26 {
      width: 80%;
      margin: auto;
      padding: 100px 0px;
      font-size: 18px;
      line-height: 1.5em; }
      .setdown26 .prompt26 p {
        padding-top: 10px; }
      .setdown26 .prompt26 p:first-child {
        font-size: 30px;
        line-height: 2.5em; }
    .setdown26 #form26 {
      width: 90%;
      padding-bottom: 90px; }
      .setdown26 #form26 .title26 {
        width: 100%;
        padding: 0.7em 0em;
        text-align: center;
        letter-spacing: 10px; }
      .setdown26 #form26 .detail26 {
        width: 90%;
        margin: auto; }
        .setdown26 #form26 .detail26 .item26 {
          padding-top: 8vw; }
          .setdown26 #form26 .detail26 .item26:first-child {
            padding-top: 50px; }
          .setdown26 #form26 .detail26 .item26 .label26 {
            width: 6em; }/*修改*/
          .setdown26 #form26 .detail26 .item26 .input26 {
            width: calc(100%  - 22.5px - 7em - 1vw - 4px); }
        .setdown26 #form26 .detail26 .verticle26 .check26 {
          width: 98px;
          margin-bottom: 4vw; }
        .setdown26 #form26 .detail26 .read26 {
          margin-top: 50px; } }
@media screen and (min-width: 1000px) {
  .register26 {
    background-image: url(../images/7member/register_bg.png); }

  .setdown26 {
    width: 90%;
    max-width: 1170px;
    padding: 150px 0px; }
  .setdown26 .prompt26 {
    width: calc(100% - 500px - 65px - 4%);
    margin: 10% 4% 0% 0%;
    float: left;
    font-size: 22px;
    line-height: 2em; }
  .setdown26 .prompt26 p:first-child {
    font-size: 50px;
    line-height: 1.5em; }
  .setdown26 #form26 {
    width: 500px;
    padding: 45px 0px;
    padding-right: 65px;
    float: right; }
  .setdown26 #form26 .title26 {
    width: 12em;
    padding: 0.7em 1.25em;
    margin-bottom: 15px;
    text-align: right; }
  .setdown26 #form26 .item26 {
    padding-top: 25px; }
  .setdown26 #form26 .item26 .label26 {
    width: 9em; }
  .setdown26 #form26 .item26 .input26 {
    width: calc(100% - 22.5px - 9em - 1vw - 4px); }
  .setdown26 #form26 .item26 #number26 {/*修改*/
    display: inline-block;
    width: 120px;
    margin-left: 5px;
  }
  .setdown26 #form26 .verticle26 .check26 {
    width: calc(100% - 22.5px - 9em - 1vw - 200px - 8px); }/*修改*/
  .setdown26 #form26 .verticle26 .br26 {
    display: none; }
  .setdown26 #form26 .read26 {
    margin-top: 40px;
    width: calc(100% + 65px); }
  .setdown26 #form26 #submit26 {  /*修改*/
    position: relative;
    left: calc(65px/2); } }