@charset "UTF-8";
/*=========清除浮動=========*/
.personal21:after, .changepsw21:after, .row21:after {
  content: '';
  display: block;
  clear: both; }

.row21 .span21 {
  display: inline-block;
  text-align: right; }

@media screen and (min-width: 768px) {
  .row21 {
    margin-top: 20px; }
    .row21:first-child {
      margin-top: 0px; }
    .row21 .span21 {
      width: 200px; }

  .submit21 {
    float: right;
    margin-top: 50px;
    margin-right: 50px; } }
