@charset "UTF-8";
img {
  width: 100%; }

/*=========清除浮動=========*/
.topbar26:after, .item26:after {
  content: '';
  display: block;
  clear: both; }

.register26 {
  color: #fff;
  background-color: #374d60;
  background-image: url(../images/7member/register_bg.png);
  background-size: cover;
  background-size: 70%;
  background-position: bottom;
  background-repeat: no-repeat; }

.setdown26 {
  margin: auto;
  /*detail26*/ }
  .setdown26 .prompt26 {
    font-size: 22px;
    line-height: 1.5em;
    text-align: left; }
  .setdown26 .detail26 {
    padding-right: 80px;
    background-color: rgba(73, 100, 122, 0.5);
    /*item26*/ }
    .setdown26 .detail26 .title26 {
      padding: 0.7em 1.25em;
      background-color: rgba(217, 217, 217, 0.2); }
    .setdown26 .detail26 .item26 .span26 {
      display: inline-block;
      text-align: right;
      margin-right: 1vw; }
    .setdown26 .detail26 .item26 .number26 {
      display: inline-block; }
    .setdown26 .detail26 .read26 {
      text-align: center; }
      .setdown26 .detail26 .read26 a {
        color: #fff;
        text-decoration: underline; }
    .setdown26 .detail26 .submit26 {
      display: block;
      color: #000;
      margin: auto;
      width: 150px; }

/*setdown26*/
@media screen and (min-width: 1000px) {
  .setdown26 {
    width: 60%;
    min-width: 1170px;
    padding: 100px;
    border: 1px solid #fa0; }
    .setdown26 .prompt26, .setdown26 .detail26 {
      display: inline-block;
      vertical-align: middle; }
    .setdown26 .prompt26 {
      width: calc(100% - 200px - 540px - 10%); }
    .setdown26 .detail26 {
      padding: 30px 0px;
      margin-left: 10%;
      width: 540px; }
      .setdown26 .detail26 .title26 {
        width: 12em;
        text-align: right; }
    .setdown26 .item26 {
      margin-top: 25px; }
      .setdown26 .item26:first-child {
        margin-top: 0px; }
      .setdown26 .item26 .span26 {
        width: 10em;
        display: inline-block; }
    .setdown26 .verticle26 .br26 {
      display: none; }
    .setdown26 .verticle26 .number26 {
      width: 120px; }
    .setdown26 .verticle26 .span26, .setdown26 .verticle26 .check26, .setdown26 .verticle26 .number26 img {
      vertical-align: middle; } }
