@charset "UTF-8";

img {width: 100%; }
/*=========清除浮動=========*/
/*.topbar26:after, .item26:after {
  content: '';
  display: block;
  clear: both; }*/
.box27{
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.img27{
  display: inline-block;
  z-index: -1;
}
.welcome27 {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: -70vh;
  padding: 3vw; 
  box-sizing: border-box;

  text-align: center;
  
  font-size: 30;
  line-height: 2;
  letter-spacing: 5px;
  color: white;
  font-weight: bold;

  box-shadow: 2px 2px 5px rgba(255,255,255,255,0.8);
}

@media screen and (min-width: 767px) {

  .box27{
    width: 100%;
    height: auto;
  }
  .welcome27 {
    
  }

}
