@charset "UTF-8";
/*=========清除浮動=========*/
.personal21:after, .changepsw21:after, .row21:after {
  content: '';
  display: block;
  clear: both; }

.row21 .label21 {
  display: inline-block;
  text-align: right; }
.row21 .addr21 {
  margin-top: 10px;
  width: calc(100% - 204px - 22.222px); }
.row21 .upload21 {
  background-color: transparent; }

@media screen and (min-width: 768px) {
  .right20 .row21 {
    margin-top: 25px; }
    .right20 .row21:first-child {
      margin-top: 0px; }
    .right20 .row21 .label21 {
      width: 200px; }

  .submit21 {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    color: #031f36; } }
