ul.sidebar-menu li a[href="9backstage_map.php"] {
    background-color: #e97b23; 
}

.g4{
   width: 300px;
}
.g5,.tp{
   width: 600px;
   resize: none;
 }
.red{
   color:red;
}

.postBang{
   width: 600px;
}

.replyWidth{
  width: 300px;
}

.lightmap{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  background-color: rgba(0,0,0,5);
  z-index: 999;
}

.cont{
  font-size: 20px;
  width: 600px;
  height: 150px;
  text-align: center;
  background-color: lightblue;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

#clo{
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: 20;
  background-color: rgba(255,255,255,.5);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: auto;
  cursor: pointer;
}

.ob{
  margin-top: 13px;
}
.btt{
  display: inline-block;
  /*width: 30px;*/
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 3px;
}

.postT{
  width: 150px !important;
}