@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 微軟正黑體; }

.clearfix {
  clear: both; }

@media screen and (max-width: 767px) {
  .banner_17 {
    background-image: url("../images/6ariki/pexels-photo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 70%; }
    .banner_17 p {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-top: 25%;
      text-align: center;
      color: #444;
      font-size: 18px; }

  .main_title_17 {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10%;
    text-align: center;
    color: #444;
    letter-spacing: 2px; }

  .about_title {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 1vh; }

  .about_rightSide_17 p {
    margin: 20px;
    line-height: 1.8;
    display: inline-block; }

  .business_philosophy_title {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 1vh; }

  .business_rightSide_17 p {
    margin: 20px;
    line-height: 1.8;
    display: inline-block; }

  .winning_record_title {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 1vh; }

  .winning_text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

  .global_base_title {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 1vh; }

  .global_img_1, .global_img_2, .global_img_3, .global_img_4 {
    position: relative; }
    .global_img_1 img, .global_img_2 img, .global_img_3 img, .global_img_4 img {
      width: 100%;
      height: auto; }

  .global_text_1, .global_text_2, .global_text_3, .global_text_4 {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 5px;
    color: #fff;
    font-weight: 800; }

  .text_description_1, .text_description_2, .text_description_3, .text_description_4 {
    padding: 10px; }

  .clock, .phone, .location {
    width: 100%;
    height: 40px; }
    .clock img, .phone img, .location img {
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 5px;
      width: 24px;
      height: 24px;
      float: left; }
    .clock p, .phone p, .location p {
      margin-top: 10px;
      float: left;
      line-height: 1.8;
      height: 24px;
      text-align: center; } }
/*RWD結束*/
@media screen and (min-width: 768px) {
  .body_17 {
    max-width: 1170px;
    margin: auto; }

  .banner_17 {
    background-image: url("../images/6ariki/pexels-photo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 45%; }
    .banner_17 p {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-top: 15%;
      text-align: center;
      color: #444;
      font-size: 20px; }

  .main_title_17 {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10%;
    text-align: center;
    color: #444;
    letter-spacing: 2px; }

  .about_title {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh; }

  .about_img, .business_img {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }

  .about_leftSide_17 {
    width: 100%; }
    .about_leftSide_17 img {
      width: 100%;
      vertical-align: middle;
      display: inline-block; }

  .about_rightSide_17 {
    width: 100%; }
    .about_rightSide_17 p {
      margin: 30px;
      line-height: 2;
      vertical-align: middle;
      display: inline-block; }

  .about_txt, .business_txt {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out; }

  .fade-in {
    opacity: 1;
    transform: translateY(0); }

  .business_philosophy_title {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh; }

  .business_leftSide_17 img {
    width: 100%; }

  .business_rightSide_17 p {
    margin: 30px;
    line-height: 2;
    vertical-align: middle;
    display: inline-block; }

  .winning_record_title {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh; }

  .winning_img img {
    width: 350px;
    height: 350px; }

  .winning_text {
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

  .global_base_title {
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh; }

  .global_img_1, .global_img_2, .global_img_3, .global_img_4 {
    position: relative;
    cursor: pointer; }
    .global_img_1 img, .global_img_2 img, .global_img_3 img, .global_img_4 img {
      width: 270px;
      height: 215px; }

  .global_text_1, .global_text_2, .global_text_3, .global_text_4 {
    width: 270px;
    padding: 10px;
    box-sizing: border-box;
    height: 215px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.4s cubic-bezier(0.32, 0.28, 1, 1.09); }

  .global_text_1:hover, .global_text_2:hover, .global_text_3:hover, .global_text_4:hover {
    height: 40px; }

  .text_description_1, .text_description_2, .text_description_3, .text_description_4 {
    padding: 10px;
    display: none; }

  .clock, .phone, .location {
    width: 240px;
    height: 40px; }
    .clock img, .phone img, .location img {
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 5px;
      width: 24px;
      height: 24px;
      float: left; }
    .clock p, .phone p, .location p {
      margin-top: 10px;
      float: left;
      line-height: 1.8;
      height: 24px;
      text-align: center;
      font-size: 16px; }

  .range {
    width: 1170px;
    height: 500px; } }
/*桌機結束*/
