@charset "UTF-8";
.clearfix {
  clear: both; }

@media screen and (min-width: 768px) {
  .body_28 {
    background-color: #edf6fd; }

  .cart-body_28 a {
    text-decoration: none;
    color: black; }
  .cart-body_28 .cart1-phone_28 {
    display: none; }
  .cart-body_28 .btn-item {
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center; }
  .cart-body_28 .big-title_28 {
    border-bottom: 3px solid #5A929E;
    margin-top: 1%;
    padding: 0;
    text-align: center; }
    .cart-body_28 .big-title_28 h2 {
      width: 150px;
      background-color: #5A929E;
      box-sizing: border-box;
      padding: 5px; }
  .cart-body_28 .flow_28 {
    max-width: 1170px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 5%; }
    .cart-body_28 .flow_28 .flow-box {
      width: 60%;
      margin: 0 20%;
      text-align: center; }
      .cart-body_28 .flow_28 .flow-box ul {
        display: inline-block; }
        .cart-body_28 .flow_28 .flow-box ul li {
          float: left;
          text-align: center;
          line-height: 13px; }
        .cart-body_28 .flow_28 .flow-box ul li:nth-child(odd) {
          background-color: #ccc;
          border-radius: 10px;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px; }
        .cart-body_28 .flow_28 .flow-box ul li:nth-child(even) {
          padding-bottom: 30px; }
          .cart-body_28 .flow_28 .flow-box ul li:nth-child(even) .line-item {
            height: 3px;
            width: 150px;
            background-color: #ccc;
            margin-top: 3px; }
        .cart-body_28 .flow_28 .flow-box ul li:last-child {
          position: relative; }
          .cart-body_28 .flow_28 .flow-box ul li:last-child .flag {
            width: 5px;
            height: 30px;
            background-color: #ddd;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            bottom: 10px; }
          .cart-body_28 .flow_28 .flow-box ul li:last-child .flag:after {
            content: '◣';
            position: absolute;
            bottom: 10px; }
        .cart-body_28 .flow_28 .flow-box ul li:nth-child(1),
        .cart-body_28 .flow_28 .flow-box ul li:nth-child(2) .flowline1 {
          background-color: #5A929E; }
        .cart-body_28 .flow_28 .flow-box ul li:nth-child(2) span {
          color: #5A929E; }
  .cart-body_28 .cart1-pc_28 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
    .cart-body_28 .cart1-pc_28 .title-group_28 {
      border: 2px #E4E4EF solid;
      background-color: #E4E4E4;
      width: 100%;
      margin: 1% 0 1%;
      text-align: center;
      box-sizing: border-box;
      padding: 0 50px; }
      .cart-body_28 .cart1-pc_28 .title-group_28 ul li {
        font-size: 20px; }
    .cart-body_28 .cart1-pc_28 .list-group_28 {
      border: 2px #ccc solid;
      width: 100%;
      margin-bottom: 1%;
      text-align: center; }
      .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pimg_28 {
        padding-top: 3%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pimg_28 img {
          width: 50%; }
      .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pname_28 {
        padding-top: 5%;
        text-align: left; }
      .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 {
        width: 47%;
        padding-top: 5%;
        text-align: left; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 p {
          display: inline-block;
          box-sizing: border-box; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 p:nth-child(1) {
          padding-left: 13%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 p:nth-child(2) {
          padding-left: 22%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 p:nth-child(3) {
          padding-left: 22%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-context_28 .Pamount {
          width: 40px; }
      .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pchange_28 {
        padding-top: 2%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pchange_28 .Pchange-changebtn {
          margin: 0 auto;
          margin-bottom: 3%; }
        .cart-body_28 .cart1-pc_28 .list-group_28 .list-Pchange_28 .Pchange-deletbtn {
          margin: 0 auto; }
    .cart-body_28 .cart1-pc_28 .total_28 {
      width: 100%;
      background-color: #ddd;
      box-sizing: border-box;
      padding: 2% 0;
      margin-bottom: 3%; }
      .cart-body_28 .cart1-pc_28 .total_28 .group-del {
        float: left;
        margin-left: 2%; }
      .cart-body_28 .cart1-pc_28 .total_28 .total-sum {
        width: 40%;
        margin-left: 77%; }
        .cart-body_28 .cart1-pc_28 .total_28 .total-sum .total-num,
        .cart-body_28 .cart1-pc_28 .total_28 .total-sum .total-money {
          display: inline-block;
          color: red;
          font-size: 25px;
          margin: 0 5px; }
  .cart-body_28 .notice_28 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
    .cart-body_28 .notice_28 .notice-context {
      margin-top: 1%;
      margin-bottom: 1%;
      border: 1px solid black;
      box-sizing: border-box;
      padding: 1% 0; }
      .cart-body_28 .notice_28 .notice-context ul li {
        list-style: circle;
        margin-left: 3%; }
  .cart-body_28 .change-page_28 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1%; }
    .cart-body_28 .change-page_28 .btn-item {
      width: 150px;
      height: 50px;
      line-height: 50px;
      float: left;
      margin: 0 3px; }
    .cart-body_28 .change-page_28 .btn-goshop {
      margin-left: 72%; }

  .InputInfo-body_29 {
    display: none;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
    .InputInfo-body_29 .flow {
      max-width: 1170px;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      margin-top: 5%; }
      .InputInfo-body_29 .flow .flow-box {
        width: 60%;
        margin: 0 20%;
        text-align: center; }
        .InputInfo-body_29 .flow .flow-box ul {
          display: inline-block; }
          .InputInfo-body_29 .flow .flow-box ul li {
            float: left;
            text-align: center;
            line-height: 13px; }
          .InputInfo-body_29 .flow .flow-box ul li:nth-child(odd) {
            background-color: #ccc;
            border-radius: 10px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px; }
          .InputInfo-body_29 .flow .flow-box ul li:nth-child(even) {
            padding-bottom: 30px; }
            .InputInfo-body_29 .flow .flow-box ul li:nth-child(even) .line-item {
              height: 3px;
              width: 150px;
              background-color: #ccc;
              margin-top: 3px; }
          .InputInfo-body_29 .flow .flow-box ul li:last-child {
            position: relative; }
            .InputInfo-body_29 .flow .flow-box ul li:last-child .flag {
              width: 5px;
              height: 30px;
              background-color: #ddd;
              position: absolute;
              right: 0;
              left: 0;
              margin: auto;
              bottom: 10px; }
            .InputInfo-body_29 .flow .flow-box ul li:last-child .flag:after {
              content: '◣';
              position: absolute;
              bottom: 10px; }
          .InputInfo-body_29 .flow .flow-box ul li:nth-child(3),
          .InputInfo-body_29 .flow .flow-box ul li:nth-child(4) .flowline2 {
            background-color: #5A929E; }
          .InputInfo-body_29 .flow .flow-box ul li:nth-child(4) span {
            color: #5A929E; }
    .InputInfo-body_29 .big-title {
      border-bottom: 3px solid #5A929E;
      margin-top: 1%;
      padding: 0;
      text-align: center; }
      .InputInfo-body_29 .big-title h2 {
        width: 150px;
        background-color: #5A929E;
        box-sizing: border-box;
        padding: 5px; }
    .InputInfo-body_29 .InfoArea-Item {
      border: 5px solid #5A929E;
      margin: 2% 0;
      box-sizing: border-box;
      padding: 3%; }
      .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul {
        width: 100%; }
        .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li {
          margin: 1% 0; }
          .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .span-item {
            display: inline-block;
            width: 10%;
            margin-right: 2%; }
          .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .input-item {
            width: 40%;
            box-sizing: border-box;
            padding: 1%;
            margin-left: 5%; }
          .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .message-item {
            display: inline-block;
            margin-left: 5%;
            width: 20%; }
          .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .item-sync-member {
            margin-left: 17%; }
    .InputInfo-body_29 .PvNext-page-btn {
      width: 100%;
      margin-bottom: 2%;
      text-align: right; }
      .InputInfo-body_29 .PvNext-page-btn .btn-item {
        width: 18%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #ccc;
        margin-left: 20px;
        float: left; }
      .InputInfo-body_29 .PvNext-page-btn .previous-page {
        position: relative;
        margin-left: 61%; }
      .InputInfo-body_29 .PvNext-page-btn .previous-page:before {
        content: '〈';
        font-size: 25px;
        position: absolute;
        left: 0; }
      .InputInfo-body_29 .PvNext-page-btn .next-page {
        background-color: #ccc;
        position: relative; }
      .InputInfo-body_29 .PvNext-page-btn .next-page:before {
        content: '〉';
        position: absolute;
        right: 0;
        font-size: 25px; }

  .order-confirm_30 {
    display: none;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
    .order-confirm_30 .ProCfirmInfo-phone {
      display: none; }
    .order-confirm_30 .flow {
      max-width: 1170px;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      margin-top: 5%; }
      .order-confirm_30 .flow .flow-box {
        width: 60%;
        margin: 0 20%;
        text-align: center; }
        .order-confirm_30 .flow .flow-box ul {
          display: inline-block; }
          .order-confirm_30 .flow .flow-box ul li {
            float: left;
            text-align: center;
            line-height: 13px; }
          .order-confirm_30 .flow .flow-box ul li:nth-child(odd) {
            background-color: #ccc;
            border-radius: 10px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px; }
          .order-confirm_30 .flow .flow-box ul li:nth-child(even) {
            padding-bottom: 30px; }
            .order-confirm_30 .flow .flow-box ul li:nth-child(even) .line-item {
              height: 3px;
              width: 150px;
              background-color: #ccc;
              margin-top: 3px; }
          .order-confirm_30 .flow .flow-box ul li:last-child {
            position: relative; }
            .order-confirm_30 .flow .flow-box ul li:last-child .flag {
              width: 5px;
              height: 30px;
              background-color: #ddd;
              position: absolute;
              right: 0;
              left: 0;
              margin: auto;
              bottom: 10px; }
            .order-confirm_30 .flow .flow-box ul li:last-child .flag:after {
              content: '◣';
              position: absolute;
              bottom: 10px; }
          .order-confirm_30 .flow .flow-box ul li:nth-child(5),
          .order-confirm_30 .flow .flow-box ul li:nth-child(6) .flowline3 {
            background-color: #5A929E; }
          .order-confirm_30 .flow .flow-box ul li:nth-child(6) span {
            color: #5A929E; }
    .order-confirm_30 .big-title {
      border-bottom: 3px solid #5A929E;
      margin-top: 1%;
      padding: 0;
      text-align: center; }
      .order-confirm_30 .big-title h2 {
        width: 150px;
        background-color: #5A929E;
        box-sizing: border-box;
        padding: 5px; }
    .order-confirm_30 .OCfirmInfo .OCfirmInfo-box {
      width: 100%;
      border: 1px solid #5A929E;
      margin: 1% 0;
      box-sizing: border-box;
      padding: 10px; }
      .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul li {
        margin: 2%; }
        .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul li .OC-li-item {
          display: inline-block;
          width: 30%;
          margin-left: 10px; }
        .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul li .get-li-item {
          display: inline-block;
          width: 50%; }
    .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box {
      border: 2px solid #5A929E;
      margin: 1% 0; }
      .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfirm-title {
        background-color: #ccc;
        border-bottom: 2px solid #5A929E;
        text-align: center; }
        .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfirm-title ul li {
          border-left: 1px dotted #5A929E; }
      .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfirm-pro {
        box-sizing: border-box;
        padding: 5px;
        text-align: center; }
        .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfirm-pro ul li:nth-child(1) {
          text-align: left; }
      .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfrim-total p {
        display: block;
        text-align: right;
        box-sizing: border-box;
        padding: 5px;
        margin-right: 1%; }
        .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfrim-total p span {
          color: red;
          font-size: 20px; }
        .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfrim-total p .getTotalMath,
        .order-confirm_30 .ProCfirmInfo-pc .ProCfirmInfo-pc-box .Cfrim-total p .getTotalPrice {
          margin: 0 7px; }
    .order-confirm_30 .PvNext-page-btn2 {
      width: 100%;
      margin-bottom: 2%;
      text-align: right; }
      .order-confirm_30 .PvNext-page-btn2 .btn-item {
        width: 18%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #ccc;
        margin-left: 20px;
        float: left; }
      .order-confirm_30 .PvNext-page-btn2 .previous-page2 {
        position: relative;
        margin-left: 61%; }
      .order-confirm_30 .PvNext-page-btn2 .previous-page2:before {
        content: '〈';
        font-size: 25px;
        position: absolute;
        left: 0; }
      .order-confirm_30 .PvNext-page-btn2 .next-page2 {
        background-color: orange;
        position: relative; }
      .order-confirm_30 .PvNext-page-btn2 .next-page2:before {
        content: '〉';
        position: absolute;
        right: 0;
        font-size: 25px; }

  .order-over_31 {
    display: none;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
    .order-over_31 .Odover-phone {
      display: none; }
    .order-over_31 .flow {
      max-width: 1170px;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      margin-top: 5%; }
      .order-over_31 .flow .flow-box {
        width: 60%;
        margin: 0 20%;
        text-align: center; }
        .order-over_31 .flow .flow-box ul {
          display: inline-block; }
          .order-over_31 .flow .flow-box ul li {
            float: left;
            text-align: center;
            line-height: 13px; }
          .order-over_31 .flow .flow-box ul li:nth-child(odd) {
            background-color: #ccc;
            border-radius: 10px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px; }
          .order-over_31 .flow .flow-box ul li:nth-child(even) {
            padding-bottom: 30px; }
            .order-over_31 .flow .flow-box ul li:nth-child(even) .line-item {
              height: 3px;
              width: 150px;
              background-color: #ccc;
              margin-top: 3px; }
          .order-over_31 .flow .flow-box ul li:last-child {
            position: relative; }
            .order-over_31 .flow .flow-box ul li:last-child .flag {
              width: 5px;
              height: 30px;
              background-color: #ddd;
              position: absolute;
              right: 0;
              left: 0;
              margin: auto;
              bottom: 10px; }
            .order-over_31 .flow .flow-box ul li:last-child .flag:after {
              content: '◣';
              position: absolute;
              bottom: 10px; }
          .order-over_31 .flow .flow-box ul li:nth-child(7),
          .order-over_31 .flow .flow-box ul li:nth-child(7) .flowline3 {
            background-color: #5A929E; }
          .order-over_31 .flow .flow-box ul li:nth-child(7) span {
            color: #5A929E; }
    .order-over_31 .big-title {
      border-bottom: 3px solid #5A929E;
      margin-top: 1%;
      padding: 0;
      text-align: center; }
      .order-over_31 .big-title h2 {
        width: 150px;
        background-color: #5A929E;
        box-sizing: border-box;
        padding: 5px; }
    .order-over_31 .give-money .giveInfo ul {
      box-sizing: border-box;
      padding: 10px;
      margin-top: 1%;
      border: 2px solid #5A929E; }
      .order-over_31 .give-money .giveInfo ul li {
        margin: 2% 0; }
        .order-over_31 .give-money .giveInfo ul li .give-sp-item1 {
          display: inline-block;
          width: 20%; }
        .order-over_31 .give-money .giveInfo ul li .give-sp-item2 {
          display: inline-block;
          width: 30%; }
    .order-over_31 .Odover-pc .Odover-pc-box {
      border: 2px solid #5A929E;
      margin: 1% 0; }
      .order-over_31 .Odover-pc .Odover-pc-box .Odover-title {
        background-color: #ccc;
        border-bottom: 2px solid #5A929E;
        text-align: center; }
        .order-over_31 .Odover-pc .Odover-pc-box .Odover-title ul li {
          border-left: 1px dotted #5A929E; }
      .order-over_31 .Odover-pc .Odover-pc-box .Odover-pro {
        box-sizing: border-box;
        padding: 5px;
        text-align: center; }
        .order-over_31 .Odover-pc .Odover-pc-box .Odover-pro ul li:nth-child(1) {
          text-align: left; }
      .order-over_31 .Odover-pc .Odover-pc-box .Odover-total p {
        display: block;
        text-align: right;
        box-sizing: border-box;
        padding: 5px;
        margin-right: 1%; }
        .order-over_31 .Odover-pc .Odover-pc-box .Odover-total p span {
          color: red;
          font-size: 20px; }
        .order-over_31 .Odover-pc .Odover-pc-box .Odover-total p .getOdoTotalMath,
        .order-over_31 .Odover-pc .Odover-pc-box .Odover-total p .getOdoTotalPrice {
          margin: 0 7px; }
    .order-over_31 .Odover-notice .Odo-notice {
      margin-top: 1%;
      margin-bottom: 1%; }
      .order-over_31 .Odover-notice .Odo-notice ul {
        box-sizing: border-box;
        padding: 10px;
        border: 2px solid #5A929E; }
        .order-over_31 .Odover-notice .Odo-notice ul li {
          list-style: circle;
          margin-left: 3%; }
    .order-over_31 .Odover-PM-btn {
      max-width: 1170px;
      width: 100%;
      margin: 0 auto; }
      .order-over_31 .Odover-PM-btn .btn-box {
        width: 100%;
        margin-left: 60%; }
        .order-over_31 .Odover-PM-btn .btn-box .Odover-btn-item {
          float: left;
          width: 18%;
          height: 50px;
          line-height: 50px;
          text-align: center;
          background-color: #ccc;
          margin-left: 20px;
          margin-bottom: 1%; }
          .order-over_31 .Odover-PM-btn .btn-box .Odover-btn-item a {
            text-decoration: none;
            color: black; } }
@media screen and (max-width: 767px) {
  .cart-body_28 a {
    text-decoration: none;
    color: black; }
  .cart-body_28 .cart1-pc_28,
  .cart-body_28 .flow_28 {
    display: none; }
  .cart-body_28 .cart1-phone_28 {
    max-width: 767px;
    width: 100%;
    margin: 0 auto; }
    .cart-body_28 .cart1-phone_28 img {
      width: 100%; }
    .cart-body_28 .cart1-phone_28 .title-phone {
      margin: 3% 0;
      text-align: center; }
    .cart-body_28 .cart1-phone_28 .cart1-box {
      background-color: #858789;
      color: white; }
      .cart-body_28 .cart1-phone_28 .cart1-box .list-Proitem {
        text-align: center; }
        .cart-body_28 .cart1-phone_28 .cart1-box .list-Proitem .list-ProImgtxt {
          background-color: white; }
          .cart-body_28 .cart1-phone_28 .cart1-box .list-Proitem .list-ProImgtxt .Pname {
            color: white;
            display: block;
            background-color: rgba(0, 0, 0, 0.7);
            box-sizing: border-box;
            padding: 5px; }
      .cart-body_28 .cart1-phone_28 .cart1-box .list-Txtitem ul li {
        font-size: 20px;
        margin-bottom: 10px; }
        .cart-body_28 .cart1-phone_28 .cart1-box .list-Txtitem ul li .Pmoney {
          margin-left: 20px; }
        .cart-body_28 .cart1-phone_28 .cart1-box .list-Txtitem ul li .Pamount {
          width: 50px;
          margin-left: 20px; }
        .cart-body_28 .cart1-phone_28 .cart1-box .list-Txtitem ul li .Psub {
          margin-left: 20px; }
      .cart-body_28 .cart1-phone_28 .cart1-box .list-Txtitem ul .btn-item {
        width: 100%;
        height: 30px;
        background-color: #ccc;
        color: black;
        text-align: center; }
    .cart-body_28 .cart1-phone_28 .horizontal-phone {
      max-width: 767px;
      width: 100%;
      height: 20px;
      background-color: #858789; }
      .cart-body_28 .cart1-phone_28 .horizontal-phone .horizontal-line {
        width: 90%;
        height: 1px;
        margin: 0 5%;
        background-color: white; }
    .cart-body_28 .cart1-phone_28 .total-phone {
      max-width: 767px;
      width: 100%;
      background-color: #858789;
      color: white;
      font-size: 20px;
      text-align: center;
      padding-bottom: 5%; }
      .cart-body_28 .cart1-phone_28 .total-phone .total-num,
      .cart-body_28 .cart1-phone_28 .total-phone .total-money {
        color: red;
        font-size: 25px;
        margin: 0 1%; }
  .cart-body_28 .notice_28 {
    max-width: 767px;
    width: 100%; }
    .cart-body_28 .notice_28 .big-title_28 {
      text-align: center;
      margin-top: 3%; }
      .cart-body_28 .notice_28 .big-title_28 h2 {
        font-size: 1.17em; }
    .cart-body_28 .notice_28 .notice-context {
      width: 80%;
      margin: 0 10%; }
      .cart-body_28 .notice_28 .notice-context ul {
        box-sizing: border-box;
        padding-left: 20px; }
        .cart-body_28 .notice_28 .notice-context ul li {
          list-style: circle; }
  .cart-body_28 .change-page_28 {
    max-width: 767px;
    width: 100%; }
    .cart-body_28 .change-page_28 .btn-item {
      width: 90%;
      margin: 2% 5%;
      height: 30px;
      line-height: 30px;
      background-color: #ccc;
      color: black;
      text-align: center; }

  .InputInfo-body_29 {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    display: none; }
    .InputInfo-body_29 a {
      text-decoration: none;
      color: black; }
    .InputInfo-body_29 .flow {
      display: none; }
    .InputInfo-body_29 .big-title {
      width: 50%;
      margin: 5% 25% 0;
      text-align: center;
      background-color: #5A929E; }
    .InputInfo-body_29 .InfoArea-Item {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item {
        width: 90%;
        margin: 0 5%;
        text-align: center;
        border: 1px solid #5A929E; }
        .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .span-item {
          display: inline-block;
          width: 20%; }
        .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .input-item {
          width: 40%;
          margin: 2% 0; }
        .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .message-item {
          display: none; }
        .InputInfo-body_29 .InfoArea-Item .InfoArea-box-Item ul li .item-sync-member {
          margin: 3% 0; }
    .InputInfo-body_29 .PvNext-page-btn {
      max-width: 767px;
      width: 100%;
      margin: 1% auto;
      text-align: center; }
      .InputInfo-body_29 .PvNext-page-btn .btn-item {
        width: 90%;
        margin: 2% 5%;
        box-sizing: border-box;
        padding: 7px;
        background-color: #ccc; }

  .order-confirm_30 {
    display: none;
    max-width: 767px;
    width: 100%;
    margin: 0 margin; }
    .order-confirm_30 a {
      text-decoration: none;
      color: black; }
    .order-confirm_30 .big-title {
      width: 50%;
      margin: 5% 25% 0;
      text-align: center;
      background-color: #5A929E; }
    .order-confirm_30 .flow,
    .order-confirm_30 .ProCfirmInfo-pc {
      display: none; }
    .order-confirm_30 .ProCfirmInfo-phone {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-confirm_30 .ProCfirmInfo-phone .ProCfirmInfo-phone-box {
        box-sizing: border-box;
        padding: 0 10px; }
        .order-confirm_30 .ProCfirmInfo-phone .ProCfirmInfo-phone-box ul {
          border: 1px solid #5A929E; }
          .order-confirm_30 .ProCfirmInfo-phone .ProCfirmInfo-phone-box ul li .li-tit-item {
            display: inline-block;
            width: 30%;
            margin-left: 10%;
            margin-bottom: 1%; }
          .order-confirm_30 .ProCfirmInfo-phone .ProCfirmInfo-phone-box ul li .li-get-item {
            display: inline-block; }
    .order-confirm_30 .OCfirmInfo {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-confirm_30 .OCfirmInfo .OCfirmInfo-box {
        box-sizing: border-box;
        padding: 0 10px; }
        .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul {
          border: 1px solid #5A929E; }
          .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul li .OC-li-item {
            display: inline-block;
            width: 30%;
            margin-left: 10%;
            margin-bottom: 1%; }
          .order-confirm_30 .OCfirmInfo .OCfirmInfo-box ul li .get-li-item {
            display: inline-block;
            width: 60%; }
    .order-confirm_30 .PvNext-page-btn2 {
      max-width: 767px;
      width: 100%;
      margin: 1% auto;
      text-align: center; }
      .order-confirm_30 .PvNext-page-btn2 .btn-item {
        width: 90%;
        margin: 2% 5%;
        box-sizing: border-box;
        padding: 7px;
        background-color: #ccc; }

  .order-over_31 {
    display: none;
    max-width: 767px;
    width: 100%;
    margin: 0 margin; }
    .order-over_31 a {
      text-decoration: none;
      color: black; }
    .order-over_31 .big-title {
      width: 50%;
      margin: 5% 25% 0;
      text-align: center;
      background-color: #5A929E; }
    .order-over_31 .flow,
    .order-over_31 .Odover-pc {
      display: none; }
    .order-over_31 .give-money {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-over_31 .give-money .giveInfo {
        box-sizing: border-box;
        padding: 0 10px; }
        .order-over_31 .give-money .giveInfo ul {
          border: 1px solid #5A929E; }
          .order-over_31 .give-money .giveInfo ul li .give-sp-item1 {
            display: inline-block;
            width: 40%;
            margin-left: 10%;
            margin-bottom: 2%; }
          .order-over_31 .give-money .giveInfo ul li .give-sp-item2 {
            display: inline-block; }
    .order-over_31 .Odover-phone {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-over_31 .Odover-phone .Odover-phone-box {
        box-sizing: border-box;
        padding: 0 10px; }
        .order-over_31 .Odover-phone .Odover-phone-box ul {
          border: 1px solid #5A929E; }
          .order-over_31 .Odover-phone .Odover-phone-box ul li .li-tit-item {
            display: inline-block;
            width: 30%;
            margin-left: 10%;
            margin-bottom: 2%; }
          .order-over_31 .Odover-phone .Odover-phone-box ul li .li-get-item {
            display: inline-block; }
          .order-over_31 .Odover-phone .Odover-phone-box ul li p {
            width: 90%;
            margin: 5%;
            border-top: 1px solid #ccc;
            text-align: right; }
            .order-over_31 .Odover-phone .Odover-phone-box ul li p .getOdoTotalMath {
              display: inline-block;
              margin-top: 1%;
              color: red; }
            .order-over_31 .Odover-phone .Odover-phone-box ul li p .getOdoTotalPrice {
              color: red; }
    .order-over_31 .Odover-notice {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-over_31 .Odover-notice .Odo-notice {
        box-sizing: border-box;
        padding: 0 10px; }
        .order-over_31 .Odover-notice .Odo-notice ul {
          border: 1px solid #5A929E;
          box-sizing: border-box;
          padding: 20px 20px; }
          .order-over_31 .Odover-notice .Odo-notice ul li {
            width: 80%;
            list-style: circle;
            margin: 2% 10%; }
    .order-over_31 .Odover-PM-btn {
      max-width: 767px;
      width: 100%;
      margin: 0 auto; }
      .order-over_31 .Odover-PM-btn .btn-box {
        width: 80%;
        margin: 3% 10%;
        text-align: center; }
        .order-over_31 .Odover-PM-btn .btn-box .Odover-btn-item {
          box-sizing: border-box;
          padding: 10px;
          margin-bottom: 10px;
          background-color: #ccc; } }
