.bg_forest_2 .maxContent .stepbar .circle:after {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }

.bg_forest_2, .bg_forest_2 .maxContent .stepbar {
  background-repeat: no-repeat;
  background-position: top; }

.bg_forest_2 .maxContent .next a {
  background-color: #e97b23;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold; }

.bg_forest_2 {
  background-image: url("../images/2board/forest.png");
  background-size: cover;
  width: 100%;
  position: relative; }
  .bg_forest_2 .pillar {
    position: absolute;
    bottom: 20%;
    left: 20%; }
    .bg_forest_2 .pillar img {
      width: 100%; }
  .bg_forest_2 .maxContent {
    max-width: 1170px;
    margin: auto;
    padding: 10vh 0; }
    .bg_forest_2 .maxContent .stepbar {
      background-image: url("../images/2board/strpbar.png");
      width: 20%;
      background-size: contain;
      padding-top: 1.7%;
      margin: 0 auto 10vh auto;
      position: relative; }
      .bg_forest_2 .maxContent .stepbar .circle {
        width: 10%;
        padding-top: 10%;
        border-radius: 50%;
        background: linear-gradient(#ffcf8d, #ff7b00);
        margin-left: 13%;
        position: relative; }
      .bg_forest_2 .maxContent .stepbar .circle:after {
        content: '1';
        position: absolute;
        color: #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        margin: auto; }
      .bg_forest_2 .maxContent .stepbar h3 {
        color: #fff;
        margin: 10px 0; }
    .bg_forest_2 .maxContent .title {
      color: #fff;
      width: 20%;
      position: absolute;
      right: 0;
      top: 10vh; }
    .bg_forest_2 .maxContent .typegroup {
      text-align: center; }
      .bg_forest_2 .maxContent .typegroup .type {
        width: 33.06%;
        box-sizing: border-box;
        padding: 10px;
        display: inline-block;
        position: relative;
        overflow: hidden; }
        .bg_forest_2 .maxContent .typegroup .type .typeimg {
          width: 100%;
          overflow: hidden;
          padding-top: 80%;
          background-position: 10% 25%;
          background-size: cover; }
          .bg_forest_2 .maxContent .typegroup .type .typeimg .typeinfo {
            text-align: left;
            padding: 10px 20px;
            box-sizing: border-box;
            width: 100%;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(1) .typeimg {
        background-image: url("../images/2board/longboard.png"); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(2) .typeimg {
        background-image: url("../images/2board/shortboard.png"); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(3) .typeimg {
        background-image: url("../images/2board/funboard.png"); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(4) .typeimg {
        background-image: url("../images/2board/bodyboard.png"); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(5) .typeimg {
        background-image: url("../images/2board/fishboard.png"); }
      .bg_forest_2 .maxContent .typegroup .type:nth-child(6) .typeimg {
        background-image: url("../images/2board/gunboard.png"); }
    .bg_forest_2 .maxContent .next {
      padding: 5vh 0px;
      text-align: right; }
      .bg_forest_2 .maxContent .next a {
        margin: 0 1% 0 0; }
