@media screen and (max-width: 767px) {
  .bg_forest_2 {
    height: 100vh; }
    .bg_forest_2 .step1_maxContent {
      position: relative;
      width: 100%; }
      .bg_forest_2 .step1_maxContent .stepbar {
        width: 60%; }
        .bg_forest_2 .step1_maxContent .stepbar .title {
          display: none; }
        .bg_forest_2 .step1_maxContent .stepbar .circle {
          margin-top: 5%; }
      .bg_forest_2 .step1_maxContent .introduce {
        display: none; }
      .bg_forest_2 .step1_maxContent .selectboard {
        display: none; }
      .bg_forest_2 .step1_maxContent .demogroup {
        width: 100%;
        position: relative; }
        .bg_forest_2 .step1_maxContent .demogroup .demo {
          width: 28%;
          padding-top: 70vh;
          margin: auto;
          position: relative; }
          .bg_forest_2 .step1_maxContent .demogroup .demo .base {
            bottom: -3%; }
        .bg_forest_2 .step1_maxContent .demogroup .rwdselectboard {
          display: block;
          position: absolute;
          right: 6%;
          top: 11%; }
          .bg_forest_2 .step1_maxContent .demogroup .rwdselectboard select {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: #fff; }
            .bg_forest_2 .step1_maxContent .demogroup .rwdselectboard select option {
              color: #000;
              text-align: center; }
              .bg_forest_2 .step1_maxContent .demogroup .rwdselectboard select option:hover {
                background: #000; }
      .bg_forest_2 .step1_maxContent .next {
        position: absolute;
        right: -283%;
        bottom: 0; }
        .bg_forest_2 .step1_maxContent .next #step1tostep2 {
          margin: 0; }
    .bg_forest_2 .step2_maxContent {
      position: relative;
      width: 100%; }
      .bg_forest_2 .step2_maxContent .stepbar {
        width: 60%; }
        .bg_forest_2 .step2_maxContent .stepbar .title {
          display: none; }
        .bg_forest_2 .step2_maxContent .stepbar .circle {
          margin-top: 5%; }
      .bg_forest_2 .step2_maxContent .introduce {
        display: none; }
      .bg_forest_2 .step2_maxContent .selectboard {
        display: none; }
      .bg_forest_2 .step2_maxContent .demogroup {
        width: 100%;
        position: relative; }
        .bg_forest_2 .step2_maxContent .demogroup .demo {
          width: 28%;
          padding-top: 70vh;
          margin: auto;
          position: relative; }
          .bg_forest_2 .step2_maxContent .demogroup .demo .base {
            bottom: -3%; }
        .bg_forest_2 .step2_maxContent .demogroup .rwdselectboard {
          display: block;
          position: absolute;
          right: 6%;
          top: 11%; }
          .bg_forest_2 .step2_maxContent .demogroup .rwdselectboard select {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: #fff; }
            .bg_forest_2 .step2_maxContent .demogroup .rwdselectboard select option {
              color: #000;
              text-align: center; }
              .bg_forest_2 .step2_maxContent .demogroup .rwdselectboard select option:hover {
                background: #000; }
      .bg_forest_2 .step2_maxContent .selectAndNextfix {
        display: none; }
      .bg_forest_2 .step2_maxContent .selectAndNext {
        padding-top: 0; }
        .bg_forest_2 .step2_maxContent .selectAndNext .next {
          position: absolute;
          right: -283%;
          bottom: 0;
          width: 100%; }
          .bg_forest_2 .step2_maxContent .selectAndNext .next #step2tostep3 {
            margin: 0;
            width: 58%; }
    .bg_forest_2 .step3_maxContent {
      position: relative;
      width: 100%; }
      .bg_forest_2 .step3_maxContent .stepbar {
        width: 60%; }
        .bg_forest_2 .step3_maxContent .stepbar .title {
          display: none; }
        .bg_forest_2 .step3_maxContent .stepbar .circle {
          margin-top: 5%; }
      .bg_forest_2 .step3_maxContent .introduce {
        display: none; }
      .bg_forest_2 .step3_maxContent .selectboard {
        display: none; }
      .bg_forest_2 .step3_maxContent .demogroup {
        width: 100%;
        position: relative;
        display: none; }
        .bg_forest_2 .step3_maxContent .demogroup .demo {
          width: 28%;
          padding-top: 70vh;
          margin: auto;
          position: relative; }
          .bg_forest_2 .step3_maxContent .demogroup .demo .base {
            bottom: -3%; }
        .bg_forest_2 .step3_maxContent .demogroup .rwdselectboard {
          display: block;
          position: absolute;
          right: 6%;
          top: 11%; }
          .bg_forest_2 .step3_maxContent .demogroup .rwdselectboard select {
            width: 100%;
            padding: 10px;
            background-color: transparent;
            color: #fff; }
            .bg_forest_2 .step3_maxContent .demogroup .rwdselectboard select option {
              color: #000;
              text-align: center; }
              .bg_forest_2 .step3_maxContent .demogroup .rwdselectboard select option:hover {
                background: #000; }
      .bg_forest_2 .step3_maxContent .fill {
        all: unset;
        width: 100%;
        display: block;
        position: static; }
        .bg_forest_2 .step3_maxContent .fill .fillfix {
          all: unset;
          display: block;
          padding: 0px 20px;
          margin: 10px 0;
          box-sizing: border-box; } }
