.cen, .bg_11 .title, .bg_11 .main_11, .bg_11 .feedback_11, .bg_11 .back_11, .bg_11 .send {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.bc, .bg_11 .main_11:after, .bg_11 .feedback_11:after, .bg_11 .send:after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: #fff; }
  a:visited {
    color: #fff; }

#lightbox_11 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999; }
  #lightbox_11 .gun {
    box-sizing: border-box;
    padding: 15px;
    width: 960px;
    height: 70px;
    margin: 100px auto;
    background: linear-gradient(to right, #1BBCB3, #37B9E9);
    font-size: 20px;
    position: relative;
    color: #fff; }
    #lightbox_11 .gun .reason {
      vertical-align: bottom; }
    #lightbox_11 .gun .report {
      margin-left: 10px;
      padding: 2px;
      vertical-align: bottom; }
    #lightbox_11 .gun .io {
      display: inline-block; }
      #lightbox_11 .gun .io input {
        vertical-align: middle;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        border: none; }
  #lightbox_11 #close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s; }
    #lightbox_11 #close:hover {
      color: #ED8C00; }

#lightbox2_11 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999; }
  #lightbox2_11 .ustar {
    box-sizing: border-box;
    padding: 15px;
    width: 960px;
    height: 70px;
    margin: 100px auto;
    background: linear-gradient(to right, #1BBCB3, #37B9E9);
    font-size: 20px;
    position: relative;
    color: #fff; }
    #lightbox2_11 .ustar span {
      color: #EFA400;
      font-weight: bold;
      font-size: 30px; }
  #lightbox2_11 #cl {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s; }
    #lightbox2_11 #cl:hover {
      color: #ED8C00; }

.bg_11 {
  background-image: url("../images/4wavepoint/bg_f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 2rem; }
  .bg_11 .title {
    height: 10vh;
    box-sizing: border-box;
    padding: 1rem 2rem 0;
    margin-top: 10rem;
    color: #fff;
    background-image: url("../images/4wavepoint/talk.jpg");
    background-repeat: no-repeat; }
    .bg_11 .title #result {
      display: none; }
    .bg_11 .title h1 {
      display: inline-block; }
    .bg_11 .title div {
      float: right;
      padding: 0 10px;
      margin: 0 5px;
      cursor: pointer; }
      .bg_11 .title div:hover {
        color: #ED8C00; }
  .bg_11 .main_11 {
    box-sizing: border-box;
    padding: 1.5rem .5rem;
    background-color: rgba(255, 255, 255, 0.5); }
    .bg_11 .main_11 .content-l, .bg_11 .main_11 .content-r {
      float: left; }
    .bg_11 .main_11 .content-l {
      width: 25%;
      text-align: center; }
      .bg_11 .main_11 .content-l .icon {
        width: 55%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 1rem; }
        .bg_11 .main_11 .content-l .icon img {
          width: 50%;
          border-radius: 50%; }
      .bg_11 .main_11 .content-l .user, .bg_11 .main_11 .content-l .feedback_11 .top .quit, .bg_11 .feedback_11 .top .main_11 .content-l .quit {
        margin-bottom: 1rem; }
    .bg_11 .main_11 .content-r {
      width: 65%;
      padding: 0 3em;
      position: relative; }
      .bg_11 .main_11 .content-r:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3); }
      .bg_11 .main_11 .content-r p {
        margin: 1vh 0; }
      .bg_11 .main_11 .content-r .pic {
        margin-bottom: 1rem; }
        .bg_11 .main_11 .content-r .pic img {
          width: 100%;
          height: 100%;
          vertical-align: top; }
  .bg_11 .feedback_11 {
    margin-top: 1em; }
    .bg_11 .feedback_11 .top {
      height: 10vh;
      background-color: rgba(255, 255, 255, 0.2); }
      .bg_11 .feedback_11 .top div {
        float: left; }
      .bg_11 .feedback_11 .top .icon {
        width: 10%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .icon img {
          vertical-align: top;
          width: 70px;
          height: 70px;
          border-radius: 50%; }
      .bg_11 .feedback_11 .top .user, .bg_11 .feedback_11 .top .quit {
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .user p, .bg_11 .feedback_11 .top .quit p {
          margin-bottom: .5rem; }
      .bg_11 .feedback_11 .top .quit {
        float: right;
        margin-right: 1rem;
        color: #fff;
        cursor: pointer; }
        .bg_11 .feedback_11 .top .quit:hover {
          color: #ED8C00; }
    .bg_11 .feedback_11 .text {
      padding: 1rem 1.5rem;
      background-color: rgba(255, 255, 255, 0.5); }
  .bg_11 .back_11 {
    height: 15vh;
    margin-top: 2vh;
    background-color: green; }
    .bg_11 .back_11 textarea {
      width: 100%;
      height: 100%;
      resize: none;
      box-sizing: border-box;
      padding: .5rem;
      border: none; }
      .bg_11 .back_11 textarea:focus {
        outline: none; }
  .bg_11 .send {
    box-sizing: border-box;
    background-color: #fff;
    padding-bottom: 1rem; }
    .bg_11 .send input {
      width: 145px;
      margin-right: 1vw;
      box-sizing: border-box;
      padding: .4rem;
      cursor: pointer;
      float: right;
      background-color: #D6D4D4;
      text-decoration: none;
      border: none; }
    .bg_11 .send #submit {
      background-color: #ADADAD; }

@media screen and (max-width: 767px) {
  img {
    width: auto;
    height: auto; }

  #lightbox_11 .gun {
    width: 100%;
    height: 130px; }
    #lightbox_11 .gun .io {
      display: block;
      width: 100px;
      margin: 15px auto; }
  #lightbox_11 #close {
    position: absolute;
    right: 0;
    bottom: -85px;
    left: 0;
    margin: auto; }

  #lightbox2_11 .ustar {
    width: 100%;
    height: 130px; }
  #lightbox2_11 #cl {
    position: absolute;
    right: 0;
    bottom: -85px;
    left: 0;
    margin: auto; }

  .bg_11 {
    padding-top: .4rem;
    background-size: 100%;
    background-color: #29475E; }
    .bg_11 .bread_11 li {
      box-sizing: border-box;
      margin-left: .35rem;
      padding: .5rem 0rem; }
    .bg_11 .title {
      height: auto;
      margin-top: 3vh;
      padding: 1.5rem 0 1.5rem; }
      .bg_11 .title #result {
        display: none; }
      .bg_11 .title #star {
        width: 25%; }
      .bg_11 .title h1 {
        display: block;
        text-align: center; }
      .bg_11 .title div {
        width: 22%;
        margin: 0 auto;
        padding: 0;
        text-align: center; }
    .bg_11 .main_11 {
      padding: 0; }
      .bg_11 .main_11 .content-l {
        float: none;
        display: block;
        background: linear-gradient(to right, #1BBCB3, #37B9E9);
        width: 100%;
        padding: 1rem 0; }
        .bg_11 .main_11 .content-l .icon {
          width: 30%;
          margin-bottom: .2rem; }
        .bg_11 .main_11 .content-l .user, .bg_11 .main_11 .content-l .feedback_11 .top .quit, .bg_11 .feedback_11 .top .main_11 .content-l .quit {
          margin-bottom: 0rem; }
      .bg_11 .main_11 .content-r {
        position: static;
        float: none;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        padding: 0; }
        .bg_11 .main_11 .content-r:after {
          display: none; }
        .bg_11 .main_11 .content-r .pic {
          width: 100%; }
        .bg_11 .main_11 .content-r p {
          box-sizing: border-box;
          padding: 0 .5rem 1rem; }
    .bg_11 .feedback_11:after {
      content: ''; }
    .bg_11 .feedback_11 .top {
      height: 13vh; }
      .bg_11 .feedback_11 .top .icon {
        width: 25%; }
        .bg_11 .feedback_11 .top .icon img {
          width: 55px;
          height: 55px; }
    .bg_11 .send {
      text-align: center; }
      .bg_11 .send input {
        margin: 0 auto;
        padding: .2rem;
        float: none; }

  #lightbox_11 .gun {
    width: 100%; }
  #lightbox_11 #close {
    top: 0px;
    right: 0px; } }
