.cen, .bg_11 .bread_11, .bg_11 .main_11, .bg_11 .feedback_11, .bg_11 .back_11, .bg_11 .send {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.bc, .bg_11 .bread_11:after, .bg_11 .main_11:after, .bg_11 .feedback_11:after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }

#lightbox_11 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999; }
  #lightbox_11 .gun {
    box-sizing: border-box;
    padding: 15px;
    width: 960px;
    height: 150px;
    margin: 100px auto;
    border: 1px solid black;
    background-color: yellow;
    font-size: 20px;
    position: relative; }
  #lightbox_11 #close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer; }

.bg_11 {
  background-image: url("../images/4wavepoint/bg.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 10rem; }
  .bg_11 .bread_11 {
    box-sizing: border-box;
    padding: .5rem 1.5em;
    background-color: rgba(255, 255, 255, 0.2); }
    .bg_11 .bread_11 li {
      float: left;
      margin-left: 1.2rem; }
      .bg_11 .bread_11 li a {
        display: block;
        width: 100%;
        height: 100%; }
  .bg_11 .main_11 {
    box-sizing: border-box;
    padding: .5em .5em 1.5em;
    background-color: rgba(255, 255, 255, 0.5); }
    .bg_11 .main_11 .title {
      padding: .5em 1em;
      margin-bottom: 1rem; }
      .bg_11 .main_11 .title h1 {
        display: inline-block;
        font-size: 25px; }
      .bg_11 .main_11 .title div {
        float: right;
        margin: 0 5px;
        padding: 0 10px;
        background-color: #ccc;
        cursor: pointer;
        font-size: 25px; }
    .bg_11 .main_11 .content-l, .bg_11 .main_11 .content-r {
      float: left; }
    .bg_11 .main_11 .content-l {
      width: 25%;
      text-align: center; }
      .bg_11 .main_11 .content-l .icon {
        width: 40%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 1rem; }
        .bg_11 .main_11 .content-l .icon img {
          width: 100%;
          border-radius: 50%; }
      .bg_11 .main_11 .content-l .user, .bg_11 .main_11 .content-l .feedback_11 .top .quit, .bg_11 .feedback_11 .top .main_11 .content-l .quit {
        margin-bottom: 1rem; }
    .bg_11 .main_11 .content-r {
      width: 65%;
      padding: 0 3em;
      position: relative; }
      .bg_11 .main_11 .content-r:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: black;
        box-shadow: 1px 0 1px #fff; }
      .bg_11 .main_11 .content-r .pic {
        background-color: red;
        margin-bottom: 1rem; }
        .bg_11 .main_11 .content-r .pic img {
          width: 100%;
          height: 100%;
          vertical-align: top; }
  .bg_11 .feedback_11 {
    margin-top: 1em; }
    .bg_11 .feedback_11 .top {
      height: 10vh;
      background: linear-gradient(to bottom, #80534D, #3B3E4C); }
      .bg_11 .feedback_11 .top div {
        float: left; }
      .bg_11 .feedback_11 .top .icon {
        width: 10%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .icon img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          line-height: 12vh; }
      .bg_11 .feedback_11 .top .user, .bg_11 .feedback_11 .top .quit {
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .user p, .bg_11 .feedback_11 .top .quit p {
          margin-bottom: .5rem; }
      .bg_11 .feedback_11 .top .quit {
        float: right;
        margin-right: 1rem; }
    .bg_11 .feedback_11 .text {
      padding: 1rem 1.5rem;
      background-color: rgba(255, 255, 255, 0.5); }
  .bg_11 .back_11 {
    height: 15vh;
    margin-top: 2vh;
    background-color: green; }
    .bg_11 .back_11 textarea {
      width: 100%;
      height: 100%;
      resize: none;
      box-sizing: border-box;
      padding: .5rem; }
  .bg_11 .send {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center; }
    .bg_11 .send input {
      width: 30%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: .4rem;
      margin: 0 .2rem;
      cursor: pointer; }
    .bg_11 .send #submit {
      background-color: #ED8C00; }

@media screen and (max-width: 767px) {
  .bg_11 {
    padding-top: .4rem; }
    .bg_11 .bread_11 li {
      box-sizing: border-box;
      margin-left: .35rem;
      padding: .5rem 0rem; }
    .bg_11 .main_11 {
      padding: .5em 0 0; }
      .bg_11 .main_11 .title {
        width: 85%;
        padding: .5em 0em;
        margin: 0 auto;
        margin-bottom: 0; }
        .bg_11 .main_11 .title h1 {
          text-align: center;
          display: block;
          width: 100%; }
        .bg_11 .main_11 .title:after {
          content: '';
          display: block;
          clear: both; }
        .bg_11 .main_11 .title div {
          float: none;
          display: inline-block;
          font-size: 20px;
          width: 40%;
          margin: 0 auto; }
      .bg_11 .main_11 .content-l {
        float: none;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        padding: 1rem 0; }
        .bg_11 .main_11 .content-l .icon {
          margin-bottom: .2rem; }
        .bg_11 .main_11 .content-l .user, .bg_11 .main_11 .content-l .feedback_11 .top .quit, .bg_11 .feedback_11 .top .main_11 .content-l .quit {
          margin-bottom: 0rem; }
      .bg_11 .main_11 .content-r {
        position: static;
        float: none;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        padding: 0; }
        .bg_11 .main_11 .content-r:after {
          display: none; }
        .bg_11 .main_11 .content-r .pic {
          width: 95%;
          margin: 0 auto; }
        .bg_11 .main_11 .content-r p {
          box-sizing: border-box;
          padding: .5rem; }
    .bg_11 .feedback_11:after {
      content: ''; } }
