.cen, .bg_11 .bread_11, .bg_11 .main_11, .bg_11 .feedback_11, .bg_11 .back_11, .bg_11 .send {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.bc, .bg_11 .main_11:after, .bg_11 .feedback_11:after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }

#lightbox_11 {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999; }
  #lightbox_11 .gun {
    box-sizing: border-box;
    padding: 15px;
    width: 960px;
    height: 150px;
    margin: 100px auto;
    border: 1px solid black;
    background-color: yellow;
    font-size: 20px;
    position: relative; }
  #lightbox_11 #close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer; }

.bg_11 {
  background-image: url("../images/4wavepoint/bg.jpg");
  background-size: cover;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 10rem; }
  .bg_11 .bread_11 {
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: .5em 1.5em; }
    .bg_11 .bread_11 li {
      display: inline-block; }
  .bg_11 .main_11 {
    box-sizing: border-box;
    padding: .5em .5em 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 8px 5px #888888; }
    .bg_11 .main_11 h1 {
      padding: .5em 1em; }
      .bg_11 .main_11 h1 span {
        float: right;
        margin: 0 5px;
        padding: 0 10px;
        background-color: yellow;
        cursor: pointer; }
    .bg_11 .main_11 .content-l, .bg_11 .main_11 .content-r {
      float: left; }
    .bg_11 .main_11 .content-l {
      width: 25%;
      text-align: center; }
      .bg_11 .main_11 .content-l .icon {
        width: 40%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 1em; }
        .bg_11 .main_11 .content-l .icon img {
          width: 100%;
          border-radius: 50%; }
      .bg_11 .main_11 .content-l .user {
        margin-bottom: 1em; }
    .bg_11 .main_11 .content-r {
      width: 65%;
      padding: 0 3em;
      position: relative; }
      .bg_11 .main_11 .content-r:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #0b0b0b; }
      .bg_11 .main_11 .content-r .pic {
        margin-bottom: 1em; }
  .bg_11 .feedback_11 {
    margin-top: 1em; }
    .bg_11 .feedback_11 .top {
      height: 10vh;
      background-color: pink; }
      .bg_11 .feedback_11 .top div {
        float: left; }
      .bg_11 .feedback_11 .top .icon {
        width: 10%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .icon img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          line-height: 12vh; }
      .bg_11 .feedback_11 .top .user {
        box-sizing: border-box;
        padding: .5rem; }
        .bg_11 .feedback_11 .top .user p {
          margin-bottom: .5rem; }
      .bg_11 .feedback_11 .top .quit {
        display: block;
        width: 8%;
        height: 100%;
        float: right;
        box-sizing: border-box;
        text-align: center;
        padding: .5rem; }
    .bg_11 .feedback_11 .text {
      padding: 1rem 1.5rem;
      background-color: rgba(255, 255, 255, 0.5); }
  .bg_11 .back_11 {
    height: 15vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: green; }
    .bg_11 .back_11 textarea {
      width: 100%;
      height: 100%;
      resize: none;
      box-sizing: border-box;
      padding: .5rem; }
  .bg_11 .send {
    box-sizing: border-box;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center; }
    .bg_11 .send input {
      width: 30%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: .4rem;
      margin: 0 .2rem;
      cursor: pointer; }
    .bg_11 .send #submit {
      background-color: #ED8C00; }
