.br-wrapper.br-theme-fontawesome-stars{
  float: left;
  width: 68% !important;
} 

.loading_bg{
  display: none;
}

body{
  overflow-y:scroll; 
}
.cen, .bg_10 .info_10, .bg_10 .beach_10, .bg_10 .fourm {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.bc, #content_10 #po .i3:after, #content_10 #po .i4 .bt:after, .bg_10 .info_10:after, .bg_10 .info_10 .ic:after, .bg_10 .info_10 .wave img:after, .bg_10 .fourm ul:after, .bg_10 .fourm .talk:after, .bg_10 .fourm .talk .item .item_border:after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none;
  color: #fff; }
  a:visited {
    color: #fff; }

#content_10 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 80;
  display: none;
  background-color: rgba(0, 0, 0, 0.6); }
  #content_10 #po {
    position: relative;
    box-sizing: border-box;
    padding: .5rem 1rem 2.5rem;
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: 50px auto;
    border-radius: 15px;
    background-color: #03a9f5;
    font-size: 18px;
    color: #fff;
    z-index: 100; }
    #content_10 #po #title {
      padding: 2px; }
    #content_10 #po #select {
      padding: 3px; }
    #content_10 #po #file {
      display: none; }
    #content_10 #po #upload {
      display: block;
      width: 71px; }
      #content_10 #po #upload img {
        cursor: pointer;
        width: 100%;
        vertical-align: top; }
    #content_10 #po #textarea {
      width: 100%;
      height: 100%;
      resize: none;
      border: none; }
      #content_10 #po #textarea:focus {
        outline: none; }
    #content_10 #po .poItem {
      width: 100%;
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      padding-bottom: 2%; }
      #content_10 #po .poItem .pot {
        box-sizing: border-box;
        padding: 1% 0; }
      #content_10 #po .poItem .preview {
        width: 150px;
        height: 150px;
        /*background-color: #fff;*/ }
    #content_10 #po .i3 .dr, #content_10 #po .i3 .dl {
      float: left;
      width: 50%;
      margin: 0 auto; }
    #content_10 #po .i4 {
      border-bottom: none; }
    #content_10 #po .i4 .last {
      width: 100%;
      height: 18vh;}
    #content_10 #po .i4 .bt {
      width: 100%;
      background-color: #fff;
      margin-top: -5px; }
      #content_10 #po .i4 .bt input {
        text-decoration: none;
        border: none;
        padding: 10px;
        float: right;
        color: #fff;
        background-color: #03a9f5;
        cursor: pointer; }
  #content_10 #close {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
    text-align: center;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    transition: 1s; }
    #content_10 #close:hover {
      color: #ED8C00; }

.bg_10 {
  background-image: url("../images/4wavepoint/bg_f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 1rem; }
  .bg_10 .info_10 {
    box-sizing: border-box;
    padding: 1rem 0;
    margin-top: 10rem; }
    .bg_10 .info_10 .ic {
      width: 14%;
      float: right; }
    .bg_10 .info_10 .wave {
      padding-left: 1rem;
      color: #fff;
      border-left: 1px solid #A2CBDB; }
      .bg_10 .info_10 .wave img {
        float: left;
        vertical-align: top;
        margin-right: 1rem; }
      .bg_10 .info_10 .wave .good {
        font-weight: bold; }
    .bg_10 .info_10 .weather {
      width: 9%;
      font-size: 39px;
      font-weight: bold;
      color: #fff; }
  .bg_10 .beach_10 {
    box-sizing: border-box; }
    .bg_10 .beach_10 .beach_h {
      box-sizing: border-box;
      padding: 1rem 2rem 1rem;
      background-image: url("../images/4wavepoint/talk.jpg");
      background-repeat: no-repeat;
      color: #fff; }
      .bg_10 .beach_10 .beach_h h2 {
        color: #EA8A00; }
    .bg_10 .beach_10 .beach_txt {
      position: relative;
      box-sizing: border-box;
      padding: 2rem;
      color: #fff;
      background: linear-gradient(#5F7F92, #29465E); }
      .bg_10 .beach_10 .beach_txt:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 98%;
        height: 95%;
        border: 1px solid #95AFBA; }
      .bg_10 .beach_10 .beach_txt p {
        margin-bottom: .8rem; }
  .bg_10 .fourm {
    background-color: rgba(255, 255, 255, 0.1); }
    .bg_10 .fourm ul {
      box-sizing: border-box;
      padding: 2rem 1.5rem; }
    .bg_10 .fourm li {
      display: inline-block;
      float: left;
      margin-right: 1rem;
      font-size: 20px;
      cursor: pointer;
      transition: .3s;
      box-sizing: border-box;
      padding-right: 1rem;
      border-right: 1px solid white;
      color: #fff; }
      .bg_10 .fourm li:hover {
        color: #ED8C00; }
      .bg_10 .fourm li:nth-child(1):hover {
        cursor: default;
        color: #fff; }
      .bg_10 .fourm li:nth-child(4) {
        border-right: none; }
      .bg_10 .fourm li:last-child {
        border-right: none;
        float: right; }
    .bg_10 .fourm .talk {
      box-sizing: border-box;
      padding: 1.5rem 1.5rem 4rem; }
      .bg_10 .fourm .talk .item {
        box-sizing: border-box;
        padding: .7em;
        background-color: #3A3A3A;
        width: 30%;
        height: 390px;
        float: left;
        position: relative;
        margin-bottom: 2%;
        overflow: hidden; }
        .bg_10 .fourm .talk .item:nth-child(3n-1) {
          margin: 0 4%; }
        .bg_10 .fourm .talk .item .pic_i {
          overflow: hidden;
          width: 100%;
          height: 170px;
          position: relative; }
          .bg_10 .fourm .talk .item .pic_i:hover .v_p {
            display: initial; }
          .bg_10 .fourm .talk .item .pic_i .v_p {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            text-align: center;
            line-height: 500px;
            z-index: 1;
            display: none; }
            .bg_10 .fourm .talk .item .pic_i .v_p .v2 {
              width: 55px;
              height: 55px;
              background-color: rgba(0, 0, 0, 0.3);
              border-radius: 50%;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              box-shadow: 0 0 0 3px #fff;
              cursor: pointer; }
              .bg_10 .fourm .talk .item .pic_i .v_p .v2 .arr {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 7px;
                margin: auto;
                line-height: 55px;
                font-size: 20px;
                color: #fff; }
          .bg_10 .fourm .talk .item .pic_i img {
            width: 100%;
            vertical-align: top; }
        .bg_10 .fourm .talk .item .text {
          box-sizing: border-box;
          padding: 1rem .1rem .5rem;
          color: #fff; }
          .bg_10 .fourm .talk .item .text h3 {
            display: inline-block; }
          .bg_10 .fourm .talk .item .text .day {
            display: inline-block;
            float: right;
            color: #999; }
          .bg_10 .fourm .talk .item {
            transition: all 0.6s ;
          }
          .bg_10 .fourm .talk .item:hover{
            background-color: rgba(255,255,255,.1);
          }  
          .bg_10 .fourm .talk .item .text .tt {
            height: 70px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            padding: 1vw 0; }
        .bg_10 .fourm .talk .item .item_border {
          width: 90%;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          box-sizing: border-box;
          padding-top: 1vh;
          padding-bottom: .5vh;
          border-top: 1px solid #fff; }
          .bg_10 .fourm .talk .item .item_border .star {
            
             }
          .bg_10 .fourm .talk .item .item_border .view {
            height: 3vh;
            float: left;
            width: 31%; }
            .bg_10 .fourm .talk .item .item_border .view .see {
              display: inline-block;
              width: 50%;
              height: 4vh;
              text-align: center; }
              .bg_10 .fourm .talk .item .item_border .view .see img {
                width: 29px;
                height: auto;
                vertical-align: 3px; }
            .bg_10 .fourm .talk .item .item_border .view .watch {
              vertical-align: 4px;
              text-align: center;
              height: 4vh;
              display: inline-block;
              color: #fff;
              font-size: 16px; }

@media screen and (max-width: 767px) {
  #content_10 #po {
    margin: 10px auto;
    padding: .5rem 1rem 5rem; }
    #content_10 #po .poItem .preview {
      width: 100px;
      height: 100px; }
  #content_10 #close {
    top: 94%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; }

  .bg_10 {
    background-image: url("../images/4wavepoint/bg_m.png");
    background-size: contain;
    padding: 1rem 0;
    background-color: #11324C; }
    .bg_10 .beach_10 {
      height: 100%; }
    .bg_10 .info_10 {
      margin-top: 13vh; }
      .bg_10 .info_10 .ic {
        width: 45%;
        height: 6vh; }
      .bg_10 .info_10 .wave {
        border-left: none;
        padding-right: 1rem; }
        .bg_10 .info_10 .wave img {
          width: 50px; }
      .bg_10 .info_10 .weather {
        text-align: center; }
    .bg_10 .fourm ul {
      text-align: center;
      padding: .5rem .5vw 1rem; }
      .bg_10 .fourm ul li {
        float: none;
        border-right: none;
        width:32%;
        text-align: center;
        margin: 0 auto;
        padding: .2rem 0; }
        .bg_10 .fourm li:nth-child(1){
          float: none;
          width: 100%;
        }
        .bg_10 .fourm ul li:last-child {
          width: 100%;
          float: none; }
    .bg_10 .fourm .talk {
      padding: .0; }
      .bg_10 .fourm .talk .item {
        float: none;
        display: block;
        height: auto;
        width: 100%;
        margin: 0 0 3vh;
        background: linear-gradient(to bottom, #1BBCB3, #1b5a81); }
        .bg_10 .fourm .talk .item:nth-child(3n-1) {
          margin: 0 0 3vh; }
        .bg_10 .fourm .talk .item .text {
          padding: 1rem .1rem; }
          .bg_10 .fourm .talk .item .text .day {
            color: #eec49e; }
          .bg_10 .fourm .talk .item .text .tt {
            padding-top: 2vh;
            height: 60px; }
        .bg_10 .fourm .talk .item .item_border {
          width: 98%;
          position: static; } 

        }
.addColor{
  color: #ED8C00 !important;
}