@charset "UTF-8";
/*文字陰影*/
/*文字陰影*/
/*文字陰影*/
/*.clearfix {clear: both; }*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 微軟正黑體; }

#control {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0; }

.hb {
  font-size: 0px; }

@media screen and (max-width: 767px) {
  /*=========清除浮動=========*/
  .navimg:after {
    content: '';
    display: block;
    clear: both; }

  /*=========圖片設定=========*/
  .navfix {
    width: 100%;
    background-image: url("../images/1common/nav2.png");
    background: #11314c;
    position: fixed;
    z-index: 20; }
    .navfix .navimg {
      position: relative;
      background-image: url("../images/1common/nav2.png");
      /* Sing In Button */
      /*
      ---- Overlay
      */
      /*        .overlay ul li a:hover:after,
      .overlay ul li a:focus:after,
      .overlay ul li a:active:after {
        width: 100%;
        background: #ea2e49;
      }*/
      /*
      ---- Responsive
      */ }
      .navfix .navimg .logo {
        float: left;
        width: 11.73%;
        height: 0px;
        padding-bottom: 11.73%;
        display: none; }
      .navfix .navimg .rwdlogoonbar {
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        box-sizing: border-box;
        padding: 0 10px; }
        .navfix .navimg .rwdlogoonbar img {
          width: 100%; }
      .navfix .navimg .navbar-buttons {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 20px;
        width: 76%;
        box-sizing: border-box;
        text-align: right; }
      .navfix .navimg .button {
        background-color: rgba(44, 45, 47, 0.749);
        width: 97px;
        height: 30px;
        font-size: 12px;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer; }
      .navfix .navimg .overlay {
        position: fixed;
        background: rgba(51, 55, 69, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden; }
        .navfix .navimg .overlay .menu .rwdlogo {
          margin: auto;
          width: 50%; }
          .navfix .navimg .overlay .menu .rwdlogo img {
            width: 100%; }
        .navfix .navimg .overlay.open {
          opacity: 1;
          visibility: visible;
          height: 100%; }
          .navfix .navimg .overlay.open li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s; }
          .navfix .navimg .overlay.open li:nth-of-type(2) {
            animation-delay: .4s; }
          .navfix .navimg .overlay.open li:nth-of-type(3) {
            animation-delay: .45s; }
          .navfix .navimg .overlay.open li:nth-of-type(4) {
            animation-delay: .50s; }
          .navfix .navimg .overlay.open li:nth-of-type(5) {
            animation-delay: .55s; }
          .navfix .navimg .overlay.open li:nth-of-type(6) {
            animation-delay: .60s; }
          .navfix .navimg .overlay.open li:nth-of-type(7) {
            animation-delay: .65s; }
          .navfix .navimg .overlay.open li:nth-of-type(8) {
            animation-delay: .70s; }
        .navfix .navimg .overlay .nav-title {
          font-size: 22px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          text-align: center;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: 8%;
          letter-spacing: 4px;
          opacity: 0.6; }
        .navfix .navimg .overlay nav {
          position: relative;
          height: 50%;
          top: 40%;
          transform: translateY(-50%);
          font-size: 50px;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 10px; }
        .navfix .navimg .overlay ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          display: inline-block;
          position: relative;
          height: 100%; }
          .navfix .navimg .overlay ul li {
            display: block;
            position: relative;
            opacity: 0;
            margin: 0 0 10px 0; }
            .navfix .navimg .overlay ul li.closerwdmenuli {
              margin: 20px 0; }
              .navfix .navimg .overlay ul li.closerwdmenuli img {
                width: 20%; }
            .navfix .navimg .overlay ul li a {
              display: block;
              position: relative;
              color: #FFF;
              text-decoration: none;
              overflow: hidden;
              font-size: 17px;
              letter-spacing: 5px; }
              .navfix .navimg .overlay ul li a:hover, .navfix .navimg .overlay ul li a:focus, .navfix .navimg .overlay ul li a:active {
                color: #ea2e49; }
              .navfix .navimg .overlay ul li a:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 43.5%;
                width: 0%;
                transform: translateX(-50%);
                height: 3px;
                background: #FFF;
                transition: .35s; }
      .navfix .navimg button:focus {
        outline: 0; }
      .navfix .navimg .open-menu,
      .navfix .navimg .close-menu,
      .navfix .navimg .button {
        cursor: pointer;
        transition: transform 0.30s; }
      .navfix .navimg .open-menu:hover,
      .navfix .navimg .close-menu:hover,
      .navfix .navimg .button:hover {
        transform: scale(1.1); }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } } }
    @media screen and (max-width: 767px) and (max-width: 670px) {
      .navfix .navimg .overlay nav {
        font-size: 30px; } }
    @media screen and (max-width: 767px) and (max-width: 550px) {
      .navfix .navimg .overlay nav {
        font-size: 20px; } }

@media screen and (max-width: 767px) {
  /*=========原max-width:767px開始處=========*/
  .iconGroup, .idHello {
    display: none; }

  #control:checked ~ .menu {
    right: -1vh; }

  .topGround_0 {
    width: 10%;
    padding-top: 13%;
    position: relative; } }
@media screen and (min-width: 768px) {
  .rwd {
    display: none; }

  .nav_0 {
    width: 100%; }

  .navDetail {
    width: 100%;
    max-width: 1170px;
    position: fixed;
    z-index: 21;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px rbga(0, 0, 0, 0.9); }
    .navDetail .navfix {
      position: fixed;
      width: 100%;
      left: 0;
      background-color: #11314c;
      border-bottom: 3px solid #ed8c00; }
      .navDetail .navfix .navimg {
        margin: auto;
        width: 100%;
        max-width: 1170px;
        background-image: url("../images/1common/nav2.png");
        background-repeat: no-repeat;
        background-position: 257%;
        background-size: 91%;
        border-radius: 8px;
        position: relative;
        padding: 2% 0px 1% 0px; }
        .navDetail .navfix .navimg .navbar {
          display: none; }
        .navDetail .navfix .navimg .overlay {
          display: inline-block;
          width: 80%; }
          .navDetail .navfix .navimg .overlay .nav-title {
            display: none; }
          .navDetail .navfix .navimg .overlay .overlay-menu {
            display: inline-block;
            vertical-align: bottom; }
            .navDetail .navfix .navimg .overlay .overlay-menu .menu {
              width: auto; }
              .navDetail .navfix .navimg .overlay .overlay-menu .menu li a {
                padding: 0 20px;
                transition: 0.5s; }
                .navDetail .navfix .navimg .overlay .overlay-menu .menu li a:hover {
                  color: #ed8c00; }
        .navDetail .navfix .navimg .logo {
          width: 15%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          margin: 0 0 0 0%;
          padding-top: 6%; }
          .navDetail .navfix .navimg .logo .logofix {
            position: absolute;
            width: 100%;
            top: -63%;
            left: 0%; }
            .navDetail .navfix .navimg .logo .logofix img {
              width: 100%; }
            .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb {
              min-width: 16em;
              position: absolute;
              top: 90%;
              left: 5%;
              background-color: rgba(13, 38, 58, 0.2);
              color: #fff;
              padding: 10px;
              display: inline-block;
              z-index: 20; }
              .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb a {
                color: #fff; }
              .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb .fa {
                margin: 0 10px; }
        .navDetail .navfix .navimg .iconGroup {
          display: inline-block;
          width: 18%;
          text-align: right;
          vertical-align: middle; }
          .navDetail .navfix .navimg .iconGroup #login1 {
            cursor: pointer; }
          .navDetail .navfix .navimg .iconGroup ul li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2%; }
            .navDetail .navfix .navimg .iconGroup ul li.line {
              width: 1px;
              height: 5vh;
              display: inline-block;
              background-color: #0b0b0b;
              vertical-align: middle;
              box-shadow: 1px 0px 0px #5b5b5b; }
            .navDetail .navfix .navimg .iconGroup ul li img {
              width: 30px;
              display: block;
              margin: auto; }
            .navDetail .navfix .navimg .iconGroup ul li a {
              color: #fff; }
        .navDetail .navfix .navimg ul.menu {
          display: inline-block;
          width: 50%;
          vertical-align: bottom; }
          .navDetail .navfix .navimg ul.menu li {
            display: inline-block;
            border-right: 1px solid #0b0b0b;
            box-shadow: 1px 0px 0px #878a8d; }
            .navDetail .navfix .navimg ul.menu li.closerwdmenuli {
              display: none; }
            .navDetail .navfix .navimg ul.menu li:nth-child(6) {
              border-right: none;
              box-shadow: none; }
            .navDetail .navfix .navimg ul.menu li a {
              padding: 1.2vw 1vw;
              color: #fff;
              text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }
        .navDetail .navfix .navimg .idHello {
          display: inline-block;
          width: 33%;
          color: #ffb472;
          padding: 0 20px 10px 0;
          vertical-align: bottom; }
          .navDetail .navfix .navimg .idHello p {
            text-align: right; }
          .navDetail .navfix .navimg .idHello span {
            color: #fff; }

  .topGround_0 {
    width: 10%;
    padding-top: 6%;
    position: relative; } }
@media screen and (max-width: 910px) {
  .nav_0 .navDetail .navfix .navimg .iconGroup {
    width: 78%; }
  .nav_0 .navDetail .navfix .navimg ul.menu {
    width: 53%; }
    .nav_0 .navDetail .navfix .navimg ul.menu li a {
      padding: 1.2vw 0.6vw; }
  .nav_0 .navDetail .navfix .navimg .idHello {
    width: 40%; }

  .arikicommon_breadcrumb {
    display: none; } }
#modalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 100; }

#alertBox {
  position: relative;
  width: 25%;
  min-height: 100px;
  max-height: 300px;
  margin-top: 50px;
  box-shadow: 1px 1px 7px #102c38;
  background-image: url("../images/3accessories/decoration.png"), linear-gradient(white 35%, white 100%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: content;
  top: 30%;
  border-radius: 5px;
  z-index: 1000; }

#modalContainer > #alertBox {
  position: fixed; }

#alertBox h1 {
  text-align: center;
  margin: 0;
  font: bold 1em arial;
  color: #FFF;
  background-image: url("../images/4wavepoint/talk.jpg");
  background-position: center;
  border-bottom: 1px solid rgba(12, 35, 66, 0.75);
  padding: 10px 0 10px 5px;
  border-radius: 5px 5px 0px 0px; }

#alertBox p {
  height: 2.5vw;
  padding-left: 5px;
  padding-top: 2vw;
  text-align: center;
  vertical-align: middle; }

#alertBox #closeBtn {
  display: block;
  position: relative;
  margin: 10px auto 25px auto;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  width: 90px;
  height: 35px;
  line-height: 40px;
  color: #fff;
  background-color: #438eb0;
  outline: 0 !important;
  transition: 0.3s; }

#alertBox #closeBtn:hover {
  background-color: #6cf; }

/* unrelated styles */
#mContainer {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 5px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; }

h1, h2 {
  margin: 0;
  padding: 4px; }

code {
  font-size: 1.2em;
  color: #069; }

#credits {
  position: relative;
  margin: 25px auto 0px auto;
  width: 350px;
  font: 0.7em verdana;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 90px;
  padding-top: 4px;
  border-radius: 5px; }

#credits img {
  float: left;
  margin: 5px 10px 5px 0px;
  border: 1px solid #000000;
  width: 80px;
  height: 79px; }

.important {
  background-color: #F5FCC8;
  padding: 2px; }

@media screen and (max-width: 600px) {
  #alertBox {
    position: relative;
    width: 90%;
    top: 30%; } }
