@charset "UTF-8";
/*文字陰影*/
/*文字陰影*/
/*文字陰影*/
/*.clearfix {clear: both; }*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 微軟正黑體; }

#control {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0; }

.hb {
  font-size: 0px; }

@media screen and (max-width: 767px) {
  /*=========清除浮動=========*/
  .navimg:after {
    content: '';
    display: block;
    clear: both; }

  /*=========圖片設定=========*/
  .navfix {
    width: 100%;
    background-image: url("../images/1common/nav2.png");
    background: #11314c;
    position: fixed;
    z-index: 20; }
    .navfix .navimg {
      margin: 0% 2.6%;
      padding: 2.6% 0%;
      position: relative;
      background-image: url("../images/1common/nav2.png"); }
      .navfix .navimg .logo {
        float: left;
        width: 11.73%;
        height: 0px;
        padding-bottom: 11.73%;
        display: none; }
      .navfix .navimg .hb {
        display: block;
        width: 10%;
        height: 0px;
        padding-bottom: calc(10% - 5px);
        float: right;
        margin-top: 0.865%;
        position: relative;
        cursor: pointer; }
        .navfix .navimg .hb:before {
          content: "";
          display: block;
          width: 80%;
          height: 0.6vh;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 10%;
          margin: auto;
          z-index: 20;
          background-color: #fff;
          box-shadow: 0vh -2vh 0vh #fff, 0vh 2vh 0vh #fff; }
      .navfix .navimg .menu {
        width: 40vh;
        height: 0px;
        padding-bottom: calc(100vh - 16%);
        background-color: rgba(15, 189, 189, 0.7);
        position: fixed;
        right: -40vh;
        bottom: 1%;
        transition: .5s;
        z-index: 20; }
        .navfix .navimg .menu li:hover {
          color: yellow;
          background-color: rgba(255, 255, 255, 0.1); }
        .navfix .navimg .menu li a {
          height: 2em;
          line-height: 1.5em;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          color: white;
          display: block;
          padding: 4.5% 0%;
          font-size: 1em;
          line-height: 2; }
        .navfix .navimg .menu li.rwdlogo {
          width: 100%; }
          .navfix .navimg .menu li.rwdlogo a.rwd {
            width: 100%;
            display: inline-block;
            padding: 0 0 20% 0; }
            .navfix .navimg .menu li.rwdlogo a.rwd img {
              width: 36%; }

  /*=========原max-width:767px開始處=========*/
  .iconGroup, .idHello {
    display: none; }

  #control:checked ~ .menu {
    right: -1vh; }

  .topGround_0 {
    width: 10%;
    padding-top: 13%;
    position: relative; } }
@media screen and (min-width: 768px) {
  .rwd {
    display: none; }

  .nav_0 {
    width: 100%; }

  .nav_0 .navDetail {
    width: 100%;
    max-width: 1170px;
    position: fixed;
    z-index: 21;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px rbga(0, 0, 0, 0.9); }

  .nav_0 .navDetail .navfix {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #11314c;
    border-bottom: 3px solid #ed8c00; }

  .nav_0 .navDetail .navfix .navimg {
    margin: auto;
    width: 100%;
    max-width: 1170px;
    background-image: url("../images/1common/nav2.png");
    background-repeat: no-repeat;
    background-position: 257%;
    background-size: 91%;
    border-radius: 8px;
    position: relative;
    padding: 2% 0px 1% 0px; }

  .nav_0 .navDetail .navfix .navimg .logo {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 0%;
    padding-top: 6%; }

  .nav_0 .navDetail .navfix .navimg .logo .logofix {
    position: absolute;
    width: 100%;
    top: -63%;
    left: 0%; }

  .nav_0 .navDetail .navfix .navimg .logo img {
    width: 100%; }

  .nav_0 .navDetail .navfix .navimg .iconGroup {
    display: inline-block;
    width: 33%;
    text-align: right;
    vertical-align: bottom; }

  .nav_0 .navDetail .navfix .navimg .iconGroup ul li {
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle; }

  .nav_0 .navDetail .navfix .navimg .iconGroup ul li img {
    width: 30px;
    display: block;
    margin: auto; }

  .nav_0 .navDetail .navfix .navimg .iconGroup ul li a {
    color: #fff; }

  .nav_0 .navDetail .navfix .navimg .iconGroup ul li.line {
    width: 2px;
    height: 5vh;
    display: inline-block;
    background-color: #0b0b0b;
    vertical-align: middle;
    box-shadow: 1px 0px 0px #5b5b5b; }

  .nav_0 .navDetail .navfix .navimg ul.menu {
    display: inline-block;
    width: 50%;
    vertical-align: bottom; }

  .nav_0 .navDetail .navfix .navimg ul.menu li {
    display: inline-block;
    border-right: 1px solid #0b0b0b;
    box-shadow: 1px 0px 0px #878a8d; }

  .nav_0 .navDetail .navfix .navimg ul.menu li a {
    padding: 1.2vw 1vw;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }

  .nav_0 .navDetail .navfix .navimg ul.menu li:nth-child(6) {
    border-right: none;
    box-shadow: none; }

  .nav_0 .navDetail .navfix .navimg .idHello {
    display: inline-block;
    width: 33%;
    color: #ffb472;
    padding: 0 20px 10px 0;
    vertical-align: bottom; }

  .nav_0 .navDetail .navfix .navimg .idHello p {
    text-align: right; }

  .nav_0 .navDetail .navfix .navimg .idHello span {
    color: #fff; }

  .topGround_0 {
    width: 10%;
    padding-top: 6%;
    position: relative; } }
@media screen and (max-width: 910px) {
  .nav_0 .navDetail .navfix .navimg .iconGroup {
    width: 78%; }
  .nav_0 .navDetail .navfix .navimg ul.menu {
    width: 53%; }
    .nav_0 .navDetail .navfix .navimg ul.menu li a {
      padding: 1.2vw 0.6vw; }
  .nav_0 .navDetail .navfix .navimg .idHello {
    width: 40%; } }
