@charset "UTF-8";
/*文字陰影*/
/*文字陰影*/
/*文字陰影*/
/*.clearfix {clear: both; }*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 微軟正黑體; }

#control {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0; }

.hb {font-size: 0px;}
#login1{color:#fff;}
@media screen and (max-width: 767px) {

  #picLogo{display: none;}
  #picLogin{
    display: block;
  }
  #picLogin img{width: 100%;}
  /*=========清除浮動=========*/
  .navimg:after {
    content: '';
    display: block;
    clear: both; }

  /*=========圖片設定=========*/
  .navfix {
    width: 100%;
    background-image: url("../images/1common/nav2.png");
    background: #11314c;
    position: fixed;
    z-index: 20;
    /*padding: 0 10px;*/
  }
    .navfix .navimg {
      position: relative;
      background-image: url("../images/1common/nav2.png");
      /* Sing In Button */
      /*
      ---- Overlay
      */
      /*        .overlay ul li a:hover:after,
      .overlay ul li a:focus:after,
      .overlay ul li a:active:after {
        width: 100%;
        background: #ea2e49;
      }*/
      /*
      ---- Responsive
      */ }
    .navfix .navimg {
      margin: 0% 3%;
      padding: 2.6% 0%;
      position: relative;
      background-image: url("../images/1common/nav2.png"); }
      .navfix .navimg .logo {
        float: left;
        width: 11.73%;
        height: 0px;
        padding-bottom: 11.73%;
        display: block;}  /*這行換圖*/
      .navfix .navimg .hb {
        display: block;
        width: 39px;
        height: 0px;
        padding-bottom: calc(10% - 5px);
        float: right;
        margin-top: 0.865%;
        position: relative;
        cursor: pointer; }
        .navfix .navimg .hb:before {
          content: "";
          display: block;
          width: 80%;
          height: 0.6vh;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 10%;
          margin: auto;
          z-index: 20;
          background-color: #fff;
          box-shadow: 0vh -12px 0vh #fff, 0vh 12px 0vh #fff; }
      .navfix .navimg .menu {
        width: calc(100vw + 5px);
        height: 0px;
        font-size: 17px;
        letter-spacing: 5px;
        padding-bottom: calc(100vh - 14%);
        background-color: #4C6E88;
        position: fixed;
        right: -100vh;
        bottom: 0%;
        transition: .5s;
        z-index: 20;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2) inset; }
        .navfix .navimg .menu li:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        .navfix .navimg .menu li a {
          height: 2em;
          line-height: 1.5em;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          color: white;
          display: block;
          padding: 4.5% 0%;
          font-size: 1em;
          line-height: 2; }
        .navfix .navimg .menu li.rwdlogo {
          width: 100%; }
          .navfix .navimg .menu li.rwdlogo a.rwd {
            width: 100%;
            display: inline-block;
            padding: 0 0 20% 0; }
            .navfix .navimg .menu li.rwdlogo a.rwd img {
              width: 28%; }
              .navfix .navimg .overlay ul li a:hover, .navfix .navimg .overlay ul li a:focus, .navfix .navimg .overlay ul li a:active {
                color: #ea2e49; }
              .navfix .navimg .overlay ul li a:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 43.5%;
                width: 0%;
                transform: translateX(-50%);
                height: 3px;
                background: #FFF;
                transition: .35s; }
      .navfix .navimg button:focus {
        outline: 0; }
      .navfix .navimg .open-menu,
      .navfix .navimg .close-menu,
      .navfix .navimg .button {
        cursor: pointer;
        transition: transform 0.30s; }
      .navfix .navimg .open-menu:hover,
      .navfix .navimg .close-menu:hover,
      .navfix .navimg .button:hover {
        transform: scale(1.1); }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } } }
    @media screen and (max-width: 767px) and (max-width: 670px) {
      .navfix .navimg .overlay nav {
        font-size: 30px; } }
    @media screen and (max-width: 767px) and (max-width: 550px) {
      .navfix .navimg .overlay nav {
        font-size: 20px; } }

@media screen and (max-width: 767px) {
  /*=========原max-width:767px開始處=========*/
  .iconGroup, .idHello {display: none; }

  #control:checked ~ .menu {right: -5px; }

  .topGround_0 {
    width: 10%;
    padding-top: 13%;
    position: relative; } }
@media screen and (min-width: 768px) {
  #picLogo{display: block;}
  #picLogin{display: none;}

  .rwd {display: none; }
  .nav_0 {width: 100%; }

  .navDetail {
    width: 100%;
    max-width: 1170px;
    position: fixed;
    z-index: 21;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px rbga(0, 0, 0, 0.9); }
    .navDetail .navfix {
      position: fixed;
      width: 100%;
      left: 0;
      background-color: #11314c;
      border-bottom: 3px solid #ed8c00; }
      .navDetail .navfix .navimg {
        margin: auto;
        width: 100%;
        max-width: 1170px;
        background-image: url("../images/1common/nav2.png");
        background-repeat: no-repeat;
        background-position: 257%;
        background-size: 91%;
        border-radius: 8px;
        position: relative;
        /*padding: 2% 0px 1% 0px;*/
        padding: 3% 20px 1% 20px;
      }
        .navDetail .navfix .navimg .navbar {
          display: none; }
        .navDetail .navfix .navimg .overlay {
          display: inline-block;
          width: 80%; }
          .navDetail .navfix .navimg .overlay .nav-title {
            display: none; }
          .navDetail .navfix .navimg .overlay .overlay-menu {
            display: inline-block;
            vertical-align: bottom; }
            .navDetail .navfix .navimg .overlay .overlay-menu .menu {
              width: auto; }
              .navDetail .navfix .navimg .overlay .overlay-menu .menu li a {
                padding: 0 20px;
                transition: 0.5s; }
                .navDetail .navfix .navimg .overlay .overlay-menu .menu li a:hover {
                  color: #ed8c00; }
                  #login1:hover{color: #ed8c00;}
        .navDetail .navfix .navimg .logo {
          width: 15%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          margin: 0 0 0 0%;
          padding-top: 6%; }
          .navDetail .navfix .navimg .logo .logofix {
            position: absolute;
            width: 100%;
            top: -63%;
            left: 0%; }
            .navDetail .navfix .navimg .logo .logofix img {
              width: 100%; }
            .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb {
              min-width: 16em;
              position: absolute;
              top: 90%;
              left: 5%;
              background-color: rgba(13, 38, 58, 0.2);
              color: #fff;
              padding: 10px;
              display: inline-block;
              z-index: 20; }
              .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb a {
                color: #fff; }
              .navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb .fa {
                margin: 0 10px; }
        .navDetail .navfix .navimg .iconGroup {
          display: inline-block;
          width: 18%;
          float: right;
          margin-right: 5vw;
          vertical-align: middle; }
          .navDetail .navfix .navimg .iconGroup #login1 {
            cursor: pointer; }
          .navDetail .navfix .navimg .iconGroup ul li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2%; }
            .navDetail .navfix .navimg .iconGroup ul li.line {
              width: 1px;
              height: 5vh;
              display: inline-block;
              background-color: #0b0b0b;
              vertical-align: middle;
              box-shadow: 1px 0px 0px #5b5b5b; }
            .navDetail .navfix .navimg .iconGroup ul li img {
              width: 30px;
              display: block;
              margin: auto; }
            .navDetail .navfix .navimg .iconGroup ul li a {
              color: #fff;
              transition: 0.5s; }
              .navDetail .navfix .navimg .iconGroup ul li a:hover {
                color: #ed8c00; }
        .navDetail .navfix .navimg ul.menu {
          display: inline-block;
          width: 57%;
          vertical-align: bottom;
          margin-bottom: 1%;
        }
          .navDetail .navfix .navimg ul.menu li {
            display: inline-block;
            border-right: 1px solid #0b0b0b;
            box-shadow: 1px 0px 0px #878a8d; }
            .navDetail .navfix .navimg ul.menu li.closerwdmenuli {
              display: none; }
            .navDetail .navfix .navimg ul.menu li:nth-child(6) {
              border-right: none;
              box-shadow: none; }
            .navDetail .navfix .navimg ul.menu li a {
              padding: 1.2vw 1vw;
              color: #fff;
              text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }
        .navDetail .navfix .navimg .idHello {
          display: inline-block;
          width: 33%;
          color: #ffb472;
          padding: 0 20px 10px 0;
          vertical-align: bottom; }
          .navDetail .navfix .navimg .idHello p {
            text-align: right; }
          .navDetail .navfix .navimg .idHello span {
            color: #fff; }

  .topGround_0 {
    width: 10%;
    padding-top: 6%;
    position: relative; } }
@media screen and (max-width: 910px) {
  #picLogo{display: none;}
  #picLogin{display: block;}

  .rwdlogo{margin-top: 30px;}
  .nav_0 .navDetail .navfix .navimg .iconGroup {
    width: 18%; }
/*  .nav_0 .navDetail .navfix .navimg ul.menu {
    width: 53%; }*/
    .nav_0 .navDetail .navfix .navimg ul.menu li a {
      padding: 1.3vh 0.6vw; }
  .nav_0 .navDetail .navfix .navimg .idHello {
    width: 40%; }

  .arikicommon_breadcrumb {
    display: none; } }
#modalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 100; }

#alertBox {
  position: relative;
  width: 25%;
  min-height: 100px;
  max-height: 300px;
  margin-top: 50px;
  box-shadow: 1px 1px 7px #102c38;
  background-image: url("../images/3accessories/decoration.png"), linear-gradient(white 35%, white 100%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: content;
  top: 30%;
  border-radius: 5px;
  z-index: 1000; }

#modalContainer > #alertBox {
  position: fixed; }

#alertBox h1 {
  text-align: center;
  margin: 0;
  font: bold 1em arial;
  color: #FFF;
  background-image: url("../images/4wavepoint/talk.jpg");
  background-position: center;
  border-bottom: 1px solid rgba(12, 35, 66, 0.75);
  padding: 10px 0 10px 5px;
  border-radius: 5px 5px 0px 0px; }

#alertBox p {
  height: 2.5vw;
  padding-left: 5px;
  padding-top: 2vw;
  text-align: center;
  vertical-align: middle; }

#alertBox #closeBtn {
  display: block;
  position: relative;
  margin: 10px auto 25px auto;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  width: 90px;
  height: 35px;
  line-height: 40px;
  color: #fff;
  background-color: #438eb0;
  outline: 0 !important;
  transition: 0.3s; }

#alertBox #closeBtn:hover {
  background-color: #6cf; }

/* unrelated styles */
#mContainer {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 5px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff; }

h1, h2 {
  margin: 0;
  padding: 4px; }

code {
  font-size: 1.2em;
  color: #069; }

#credits {
  position: relative;
  margin: 25px auto 0px auto;
  width: 350px;
  font: 0.7em verdana;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 90px;
  padding-top: 4px;
  border-radius: 5px; }

#credits img {
  float: left;
  margin: 5px 10px 5px 0px;
  border: 1px solid #000000;
  width: 80px;
  height: 79px; }

.important {
  background-color: #F5FCC8;
  padding: 2px; }

@media screen and (max-width: 600px) {
  #alertBox {
    position: relative;
    width: 90%;
    top: 30%; } }
