@charset "UTF-8";
/*文字陰影*/
.Sashimi {
  overflow-y: hidden; }

#goTop {
  display: none; }

.slogan_1, .coating_1, .picture_1, .map_1 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  color: #fff; }

.coating_1 .maxContent, .map_1 .contentMax, .forum_1 .contentMax, .bulletin_1 .maxContent {
  max-width: 1170px;
  margin: auto;
  width: 100%; }

.map_1 .contentMax .introduce .introduceWord {
  line-height: 25px; }
  .map_1 .contentMax .introduce .introduceWord h2 {
    margin: 15px 0; }

.banner_1, .slogan_1, .slogan_1 .gradient, .picture_1 .maxContent .photoSelect .photo, .picture_1 .maxContent .photoSelect .selected:after, .map_1, .bulletin_1, .bulletin_1 .maxContent .infoarea {
  background-repeat: no-repeat;
  background-position: center; }

.forum_1 .title, .bulletin_1 .maxContent .title, .bulletin_1 .maxContent .infoarea .right .news .newcontent .date p span {
  color: #e97b23; }

.bulletin_1 .maxContent .infoarea .right .news .newcontent .btn a {
  background-color: #1a191c;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold; }

body {
  overflow-x: hidden;
  overflow-y: hidden; }

.loading_bg {
  display: none; }

.navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb {
  display: none; }

.banner_1 {
  width: 100%;
  padding-top: 52%;
  overflow: hidden;
  position: relative;
  background-color: #11334e;
  text-align: center;
  color: #fff; }
  .banner_1 h2 {
    opacity: 0.5;
    position: relative;
    right: 0;
    left: 15px;
    margin: auto;
    font-size: 30px; }
  .banner_1 .Button_Entrance {
    position: relative;
    right: 0;
    left: 15px;
    margin: auto;
    margin-top: 3%;
    font-size: 30px; }
    .banner_1 .Button_Entrance .Button_Entrance2 {
      margin: 1%;
      padding: 30px;
      color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px #ddd,0px 0px 0px 6px #587392;
      transition: 0.5s cubic-bezier(0.68, 0.05, 0.22, 0.75); }

.Button_Entrance .Button_Entrance2:hover {
  color: #ff9630;
  box-shadow: 0px 0px 0px 2px #ff9630, 0px 0px 0px 0px, 0px 0px 0px 3px #ff9630 inset, 0px 0px 0px 5px #fff inset; }

.cloud {
  position: relative;
  margin-top: 10%;
  width: 100%; }
  .cloud .seawater {
    position: absolute;
    bottom: 3%;
    z-index: 28;
    width: 100%;
    height: 150px;
    background-image: url("../images/1common/seawater_shadow.png");
    background-repeat: repeat-y; }
  .cloud .Will_hurt_the_stoneA {
    position: absolute;
    top: -180%;
    left: -12%;
    z-index: 29; }
  .cloud .Will_hurt_the_stoneB {
    position: absolute;
    top: -150%;
    right: -12%;
    z-index: 29; }
  .cloud .cloud1 {
    width: 100vw; }
  .cloud .cloud2 {
    width: 120vw;
    top: 15%;
    left: -55%;
    opacity: 0.3;
    position: absolute;
    z-index: 20;
    transition: 15s; }
    .cloud .cloud2 img {
      width: 100%;
      filter: blur(20px); }
  .cloud .cloud3 {
    width: 100vw;
    top: -3%;
    right: -45%;
    opacity: 0.3;
    position: absolute;
    z-index: 21;
    transition: 15s; }
    .cloud .cloud3 img {
      width: 100%;
      filter: blur(20px); }
  .cloud .cloud4 {
    width: 50vw;
    top: 10%;
    right: 40%;
    opacity: 1;
    position: absolute;
    z-index: 23;
    transition: 10s; }
    .cloud .cloud4 img {
      width: 100%; }

.coconut {
  position: absolute;
  top: -450%;
  left: 0%; }

.coconut2 {
  position: absolute;
  top: -450%;
  right: 0%; }

.gradient_bambooo {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 17%;
  z-index: 19;
  padding: 2% 0%;
  text-shadow: 3px 3px 13px #061428,3px 3px 20px #0f3368;
  background-color: rgba(25, 25, 25, 0.2);
  transition: 1s;
  opacity: 0;
  transition-delay: 3.5s; }

.wood_surf {
  position: absolute;
  z-index: 18;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -10%;
  display: inline-block;
  width: 9vw;
  transition: 1s cubic-bezier(0.54, 1.42, 0.96, 1.35);
  transition-delay: 2s; }
  .wood_surf .wood_meat {
    width: 100%;
    filter: drop-shadow(0px 8px 30px #11334e); }

.wood_surf2 {
  position: absolute;
  z-index: 17;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 9.5%;
  display: inline-block;
  width: 9vw;
  transform: rotateZ(0deg);
  transform-origin: 50% 100%;
  transition: 1s cubic-bezier(0.54, 1.42, 0.96, 1.35);
  opacity: 0;
  transition-delay: 3s; }
  .wood_surf2 img {
    width: 100%; }

.wood_surf3 {
  position: absolute;
  z-index: 16;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 9.5%;
  display: inline-block;
  width: 9vw;
  transform: rotateZ(0deg);
  transform-origin: 50% 100%;
  opacity: 0;
  transition: 1s cubic-bezier(0.54, 1.42, 0.96, 1.35);
  transition-delay: 3s; }
  .wood_surf3 img {
    width: 100%; }

.logo_canvas1 {
  position: absolute;
  top: 10%; }

@keyframes circle3 {
  0% {
    bottom: -10%; }
  100% {
    bottom: 3%; } }
@keyframes circle2 {
  0% {
    top: -300px; }
  100% {
    top: 0px; } }
@keyframes circle {
  0% {
    top: 10%; }
  100% {
    top: -230%; } }
.slogan_1 {
  width: 100%;
  text-align: center;
  background-color: #11314c;
  background-image: url("../images/1common/bglighttop.png");
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5) inset; }
  .slogan_1 .gradient {
    width: 100%;
    padding: 20vh 0;
    background-size: cover;
    background-image: url("../images/1common/sloganbg.png"); }
  .slogan_1 h1 {
    margin: 10px 0; }
  .slogan_1 h3 {
    font-size: 16px;
    font-weight: 100;
    line-height: 28px; }

.coating_1 {
  box-sizing: border-box;
  background-color: #0e2334;
  width: 100%;
  background-image: url("../images/1common/screw.png");
  background-repeat: no-repeat;
  padding: 150px 0;
  background-position: 250%;
  background-size: cover; }
  .coating_1 .maxContent {
    max-width: 1000px;
    width: 100%; }
  .coating_1 .demorwd {
    display: none; }
  .coating_1 .introduce h2 {
    line-height: 50px; }
  .coating_1 .demo {
    position: relative; }
    .coating_1 .demo img {
      position: absolute;
      width: 100%;
      cursor: pointer; }
    .coating_1 .demo img:nth-child(1) {
      left: -90px;
      z-index: 4;
      transition: all 0.5s ease-out; }
    .coating_1 .demo img:nth-child(2) {
      left: -90px;
      z-index: 3;
      transition: all 0.5s ease-out; }
    .coating_1 .demo img:nth-child(3) {
      left: -90px;
      z-index: 2;
      transition: all 0.5s ease-out; }
    .coating_1 .demo img:nth-child(4) {
      left: -90px;
      z-index: 1;
      transition: all 0.5s ease-out; }
    .coating_1 .demo img:nth-child(1).explode {
      transform: translateY(-130px);
      transition: all 0.5s ease-out;
      opacity: 1; }
    .coating_1 .demo img:nth-child(2).explode {
      transform: translateY(-30px);
      transition: all 0.5s ease-out;
      opacity: 1; }
    .coating_1 .demo img:nth-child(3).explode {
      transform: translateY(70px);
      transition: all 0.5s ease-out;
      opacity: 1; }
    .coating_1 .demo img:nth-child(4).explode {
      transform: translateY(170px);
      transition: all 0.5s ease-out;
      opacity: 1; }
    .coating_1 .demo img:nth-child(1) {
      opacity: 0; }
    .coating_1 .demo img:nth-child(3) {
      opacity: 0; }
  .coating_1 .about {
    position: relative;
    padding-top: 40%; }
    .coating_1 .about .aboutContent {
      position: absolute;
      transition: 1s;
      top: 4%;
      left: 0;
      opacity: 0; }
      .coating_1 .about .aboutContent:nth-child(1) {
        opacity: 1; }
      .coating_1 .about .aboutContent .word {
        background-color: #49545d;
        padding: 10px 33px;
        margin: 10px 0;
        position: relative; }
        .coating_1 .about .aboutContent .word h4 {
          margin: 5px 0; }
        .coating_1 .about .aboutContent .word p {
          font-size: 14px; }
        .coating_1 .about .aboutContent .word svg {
          position: absolute;
          top: 22%;
          left: -59%; }
          .coating_1 .about .aboutContent .word svg .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            stroke: #49545d;
            stroke-width: 3; }
@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  5% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
      .coating_1 .about .aboutContent .photo img {
        width: 100%; }

.picture_1 {
  background-color: #18344c;
  background-image: url("../images/1common/bglight.png");
  overflow: hidden; }
  .picture_1 .maxContent {
    padding: 20vh 0 0 0;
    background-image: url("../images/1common/picselectbg.png");
    background-repeat: no-repeat;
    background-position: 74% -129%;
    max-width: 1280px;
    margin: auto;
    width: 100%; }
    .picture_1 .maxContent .introduce {
      padding-left: 5%; }
      .picture_1 .maxContent .introduce .introduceMax {
        width: 50%;
        line-height: 25px; }
        .picture_1 .maxContent .introduce .introduceMax h2 {
          margin: 15px 0; }
    .picture_1 .maxContent .photoSelect {
      padding-left: 5%; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      .picture_1 .maxContent .photoSelect .photo {
        width: 12%;
        padding-top: 20%;
        display: inline-block;
        background-image: url("../images/1common/insidecircle.png");
        background-size: contain;
        text-align: center;
        position: relative; }
        .picture_1 .maxContent .photoSelect .photo img {
          width: 80%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          z-index: 3; }
        .picture_1 .maxContent .photoSelect .photo img:hover {
          animation: fadeIn 0.5s;
          cursor: pointer; }
      .picture_1 .maxContent .photoSelect .selected:after {
        animation: fadeIn 0.5s;
        content: '';
        position: absolute;
        background-image: url("../images/1common/picselected.png");
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-size: contain;
        z-index: 2; }
      .picture_1 .maxContent .photoSelect .arrowrwd {
        display: none; }
    .picture_1 .maxContent .button {
      position: relative;
      z-index: 4;
      padding-left: 5%; }
      .picture_1 .maxContent .button a {
        color: #fff;
        text-shadow: none;
        padding: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        font-weight: bold; }
        .picture_1 .maxContent .button a:hover {
          background-color: #e97b23;
          border: none; }
    .picture_1 .maxContent .demo {
      padding-top: 14%;
      position: relative; }
      .picture_1 .maxContent .demo .surfboard {
        position: absolute;
        bottom: -8%;
        right: -31%; }
        .picture_1 .maxContent .demo .surfboard img {
          width: 100%; }
        .picture_1 .maxContent .demo .surfboard .selectpicshow {
          position: absolute;
          bottom: 1%;
          right: 39%;
          width: 20%; }
          .picture_1 .maxContent .demo .surfboard .selectpicshow img {
            transition: 1s; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
          .picture_1 .maxContent .demo .surfboard .selectpicshow .fadeIn {
            animation: fadeIn 1s; }
    .picture_1 .maxContent .demorwd {
      display: none; }

.map_1 {
  position: relative;
  background-color: #0e2334;
  padding: 20vh 0 47vh 0;
  background-image: url("../images/1common/maplight.png");
  background-size: cover; }
  .map_1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("../images/1common/map-9487.png");
    background-size: contain; }
  .map_1 .contentMax .introduce {
    text-align: right; }
    .map_1 .contentMax .introduce .introduceWord {
      display: inline-block;
      text-align: left; }
    .map_1 .contentMax .introduce a {
      position: absolute;
      margin: 5vh 0 5vh;
      color: #fff;
      text-shadow: none;
      padding: 20px;
      border: 1px solid #fff;
      border-radius: 10px;
      font-weight: bold;
      display: inline-block; }
    .map_1 .contentMax .introduce a:hover {
      background-color: #e97b23;
      border: none; }
  .map_1 .contentMax .map_box {
    position: relative; }
    .map_1 .contentMax .map_box .Earth_shadow {
      position: absolute;
      top: 0;
      left: 10%;
      z-index: 2;
      border-radius: 50%;
      height: 500px;
      width: 500px;
      box-shadow: 13px -10px 35px 0px #0e2334 inset, 13px -10px 85px 10px #11314c inset, 13px -10px 185px 10px #11314c inset, 13px -10px 185px 10px rgba(101, 161, 212, 0.3), 3px 1px 15px 0px #0f2435, -13px 10px 35px 0px #0e2334, -13px 10px 55px 0px #0e2334; }
    .map_1 .contentMax .map_box .map_Earth {
      height: 500px;
      width: 500px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 10%;
      z-index: 1;
      border-radius: 50%;
      background: #1e5799;
      /* Old browsers */
      background: -webkit-linear-gradient(bottom left, #1e5799 0%, #7db9e8 100%);
      background: -o-linear-gradient(bottom left, #1e5799 0%, #7db9e8 100%);
      background: linear-gradient(to top right, #1e5799 0%, #7db9e8 100%);
      /* FF3.6-15 */
      /* Chrome10-25,Safari5.1-6 */ }
      .map_1 .contentMax .map_box .map_Earth .map_islands {
        position: absolute;
        top: 35%;
        left: 30%;
        width: 60vw;
        height: 60vh;
        animation: map 15s linear infinite; }
        .map_1 .contentMax .map_box .map_Earth .map_islands img {
          width: 100%; }
@keyframes map {
  0% {
    top: 35%;
    left: 30%; }
  100% {
    top: -95%;
    left: -100%; } }
.forum_1 {
  padding: 20vh 0 0 0;
  background-color: #13324c;
  color: #fff; }
  .forum_1 .title {
    margin: 20px 0; }
  .forum_1 .contentMax {
    border-bottom: 1px solid #fff;
    padding: 0 0 20vh 0; }
  .forum_1 .postgroup a {
    color: #fff; }
  .forum_1 .postgroup .post {
    background-color: #223d55;
    border-radius: 10px; }
    .forum_1 .postgroup .post .head {
      background: #1a191c;
      padding: 37% 0% 0% 0%;
      border-radius: 10px 10px 0 0;
      min-height: 4.5em;
      background-size: cover;
      transition: 1s; }
      .forum_1 .postgroup .post .head.p1 {
        background-image: url("../images/1common/1Pipeline.jpg"); }
      .forum_1 .postgroup .post .head.p2 {
        background-image: url("../images/1common/2SuperBank.jpg"); }
      .forum_1 .postgroup .post .head.p3 {
        background-image: url("../images/1common/3Jeffreys Bay.jpg"); }
      .forum_1 .postgroup .post .head .headword {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5% 10%; }
        .forum_1 .postgroup .post .head .headword h3 {
          opacity: 0.9; }
    .forum_1 .postgroup .post .content {
      text-align: left; }
      .forum_1 .postgroup .post .content .word {
        transition: 1s;
        color: #1a191c;
        background-color: rgba(255, 255, 255, 0.05);
        width: 100%;
        color: #fff;
        text-align: left;
        padding: 5% 5%;
        box-sizing: border-box; }
        .forum_1 .postgroup .post .content .word h3 {
          opacity: 0.5; }
      .forum_1 .postgroup .post .content div {
        display: inline-block;
        vertical-align: middle; }
      .forum_1 .postgroup .post .content .postcontentgroup {
        padding: 20px;
        width: 100%;
        box-sizing: border-box; }
        .forum_1 .postgroup .post .content .postcontentgroup .mempic {
          width: 4vw;
          box-sizing: border-box;
          display: inline-block;
          vertical-align: middle; }
          .forum_1 .postgroup .post .content .postcontentgroup .mempic img {
            width: 100%;
            border-radius: 50%; }
        .forum_1 .postgroup .post .content .postcontentgroup .postcontent {
          width: 75%;
          padding: 5px;
          text-align: left;
          display: inline-block;
          vertical-align: middle;
          box-sizing: border-box; }
          .forum_1 .postgroup .post .content .postcontentgroup .postcontent h5 {
            font-size: 16px; }
          .forum_1 .postgroup .post .content .postcontentgroup .postcontent p {
            min-height: 3em; }
        .forum_1 .postgroup .post .content .postcontentgroup .btngorup {
          text-align: left;
          width: 100%;
          margin: 20px 0; }
          .forum_1 .postgroup .post .content .postcontentgroup .btngorup .morebtn {
            transition: 1s;
            background-color: #1a191c;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: bold; }
    .forum_1 .postgroup .post .selected .word {
      background-color: #EA8A00; }
    .forum_1 .postgroup .post .selected .postcontentgroup .btngorup .morebtn {
      background-color: #EA8A00; }
    .forum_1 .postgroup .post:hover {
      cursor: pointer; }
      .forum_1 .postgroup .post:hover .word {
        background-color: #EA8A00;
        transition: 1s; }
      .forum_1 .postgroup .post:hover .postcontentgroup .btngorup .morebtn {
        background-color: #EA8A00;
        transition: 1s; }

.bulletin_1 {
  background-color: #12314c;
  background-image: url("../images/1common/bglight.png");
  padding: 3vh 0;
  color: #fff;
  box-sizing: border-box; }
  .bulletin_1 .maxContent .title {
    margin: 20px 0; }
  .bulletin_1 .maxContent .infoarea {
    padding: 30px;
    background-image: url("../images/1common/bulletinbg.png"); }
    .bulletin_1 .maxContent .infoarea .left {
      text-align: center;
      position: relative;
      padding-top: 30%; }
      .bulletin_1 .maxContent .infoarea .left .leftfix {
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        width: 100%;
        overflow: hidden; }
        .bulletin_1 .maxContent .infoarea .left .leftfix img {
          width: 100%; }
    .bulletin_1 .maxContent .infoarea .right {
      overflow-y: scroll;
      padding: 10px 20px; }
      .bulletin_1 .maxContent .infoarea .right .news {
        cursor: pointer;
        padding: 10px; }
        .bulletin_1 .maxContent .infoarea .right .news div {
          display: inline-block;
          vertical-align: top; }
        .bulletin_1 .maxContent .infoarea .right .news .newsimg {
          width: 25%;
          margin: 0 10px; }
          .bulletin_1 .maxContent .infoarea .right .news .newsimg img {
            width: 100%; }
        .bulletin_1 .maxContent .infoarea .right .news .newcontent {
          width: 65%; }
          .bulletin_1 .maxContent .infoarea .right .news .newcontent .newsptitle {
            transition: 1s; }
          .bulletin_1 .maxContent .infoarea .right .news .newcontent .date {
            display: block; }
            .bulletin_1 .maxContent .infoarea .right .news .newcontent .date p {
              margin: 6px 0; }
            .bulletin_1 .maxContent .infoarea .right .news .newcontent .date .newtag {
              margin: 0 5px 0 0; }
          .bulletin_1 .maxContent .infoarea .right .news .newcontent .btn {
            text-align: right;
            padding: 20px 0;
            display: block; }
            .bulletin_1 .maxContent .infoarea .right .news .newcontent .btn a {
              transition: 1s; }
              .bulletin_1 .maxContent .infoarea .right .news .newcontent .btn a:hover {
                background-color: #e97b23; }
      .bulletin_1 .maxContent .infoarea .right .news:after {
        content: '';
        display: block;
        height: 1px;
        width: 80%;
        background-color: #4d6b85;
        box-shadow: 0px 1px 0px #0d253a;
        margin: 10px 0; }
    .bulletin_1 .maxContent .infoarea .right::-webkit-scrollbar {
      width: 12px;
      /* for vertical scrollbars */
      height: 12px;
      /* for horizontal scrollbars */ }
    .bulletin_1 .maxContent .infoarea .right::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1); }
    .bulletin_1 .maxContent .infoarea .right::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5); }
