
@media screen and (min-width: 768px) {

*{
  margin: 0;
  padding: 0;
  list-style:none;
}

body{
  overflow: hidden;
}

.body_overflowauto{
  overflow: auto;
}

.loading_bg {
  background-color:#11314C;
  width: 100vw ;
  height:100vh;
  position: absolute;
  background-size: cover;
  z-index: 50;
  overflow: hidden;
   }



.load-tortoise{
  background-image: url("../images/1common/tortoise.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  width:30%;
  height: 55%;
  position: absolute;
  left : 70%;
  top: 10%;
}

.load-person{
  background-image: url("../images/1common/person.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 30%;
  height: 60%;
  position: absolute;
  left :2%;
  top: 40%;
}

.loading {
  text-transform: uppercase;
  font-family: 'Permanent Marker', sans-serif;
  font-weight: bold;
  font-size: 35pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  bottom: 0;
  display: block;
}

.loading-2 {
  top: 300px;
  width: 533px;
  height: 245px;
  font-size: 0;
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
}



@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 550px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 550px 0px;
  }

  100% {
    background-size: 550px 320px;
  }
}

@keyframes boardmove {
  0% {
    
    top: 0px;
  }

  35% {
    top: 10px;
  }
  65% {
    top: 0px;
  }

  100% {   
    top: 10px;
  }
}

.loading-2-text {
  background-image: url("../images/1common/loading-board-3.png");
  width: 533px;
  height: 245px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  animation: boardmove 3s infinite linear alternate;
}

.wave {
  background-image: url("../images/1common/uFpLbYt.png");
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation .5s infinite linear, loading-animation 5s infinite linear alternate;
  background-size: 520px 245px;
  background-repeat: repeat-x;
  opacity: 1;
  z-index: 50;
}
.wave-2 {
  -moz-background-clip: initial;
  -o-background-clip: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  display: inline-block;
}

}/*桌機結束*/
@media screen and (max-width: 767px) {

*{
  margin: 0;
  padding: 0;
  list-style:none;
}

  .loading_bg {
  position: absolute;
  background-size: cover;
  background-color: #11314C; 
  width: 100vw;
  height: 100vh;
 
}

.load-tortoise{
  background-image: url("../images/1common/tortoise.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  width:40%;
  height: 20%;
  position: absolute;
  left : 60%;
  top: 5%;
}

.load-person{
  background-image: url("../images/1common/person.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 50%;
  height: 30%;
  position: absolute;
  left :5%;
  top: 65%;
}

.loading {
  text-transform: uppercase;
  font-family: 'Permanent Marker', sans-serif;
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  height: 125px;
  line-height: 180px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0px;
  display: block;
}

.loading-2 {
  top: 200px;
  width: 250px;
  height: 115px;
  font-size: 0;
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
}



@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 300px 0px;
  }

  100% {
    background-size: 300px 150px;
  }
}

@keyframes boardmove {
  0% {
    
    top: 0px;
  }

  35% {
    top: 8px;
  }
  65% {
    top: 0px;
  }

  100% {   
    top: 8px;
  }
}



.loading-2-text {
  background-image: url("../images/1common/loading-board-3rwd.png");
  width: 250px;
  height: 115px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  animation: boardmove 3s infinite linear alternate;
}




.wave {
  background-image: url("../images/1common/uFpLbYt.png");
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation .5s infinite linear, loading-animation 3s infinite linear alternate;
  background-size: 250px 115px;
  background-repeat: repeat-x;
  opacity: 1;
}

.wave-2 {
  -moz-background-clip: initial;
  -o-background-clip: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  display: inline-block;
}
}/*RWD結束*/