a {
  text-decoration: none;
  color: #000; }
  a:visited {
    color: #000; }

.map_9 {
  background-image: url("../images/4wavepoint/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: lightblue; }
  .map_9 .center_9 {
    width: 1170px;
    height: 100vh;
    margin: 0 auto;
    position: reletive;
    background-image: url("../images/4wavepoint/map.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .map_9 .center_9 .point_9 {
      width: 20px;
      height: 20px;
      background-color: pink;
      border-radius: 50%;
      position: absolute;
      cursor: pointer; }
    .map_9 .center_9 .point_9:after {
      content: '';
      background-color: rgba(255, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -5px;
      margin: auto;
      width: 30px;
      height: 30px;
      border-radius: 50%; }
@keyframes shine {
  0%,100% {
    background-color: rgba(255, 0, 0, 0.6); }
  50% {
    background-color: rgba(255, 0, 0, 0.1); } }
    .map_9 .center_9 .point1 {
      top: 40vh;
      left: 60vw; }
    .map_9 .center_9 .point2 {
      top: 80vh;
      left: 66vw; }
    .map_9 .center_9 .show {
      width: 18%;
      height: 40vh;
      position: absolute;
      top: 26vh;
      margin-left: 1vw;
      display: none; }
      .map_9 .center_9 .show .pic {
        width: 100%; }
        .map_9 .center_9 .show .pic img {
          width: 100%;
          vertical-align: top; }
      .map_9 .center_9 .show .intro {
        width: 100%;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        padding: 1em;
        position: reletive; }
        .map_9 .center_9 .show .intro .text h1 {
          padding: .2em 0; }
        .map_9 .center_9 .show .intro .enter {
          text-align: center;
          height: 3vh;
          margin: 50px auto 0;
          line-height: 3vh;
          background-color: #1B334B;
          padding: 1em 0;
          transition: .5s; }
          .map_9 .center_9 .show .intro .enter:hover {
            background-color: #ED8C00; }
          .map_9 .center_9 .show .intro .enter a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 25px;
            color: #fff; }

@media screen and (max-width: 767px) {
  .map_9 .center_9 .show {
    display: ''; } }
