@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 微軟正黑體; }

.clearfix {
  clear: both; }

@media screen and (max-width: 767px) {
  .banner_14 {
    background-image: url("../images/5news/surf2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 70%; }
    .banner_14 p {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-top: 25%;
      text-align: center;
      color: #444;
      font-size: 18px; }

  .news_title_14 {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10%;
    text-align: center;
    color: #444;
    letter-spacing: 2px; } }
/*RWD結束*/
@media screen and (min-width: 768px) {
  .body_14 {
    max-width: 1170px;
    margin: auto; }

  .banner_14 {
    background-image: url("../images/5news/surf2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 30%; }
    .banner_14 p {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-top: 15%;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: 700; }

  .news_title_14 {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10%;
    text-align: center;
    color: #fff;
    letter-spacing: 2px; }

  .news_item {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #11314C;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #ED8C00;
    border-radius: 5px;
    margin-bottom: 5px; }

  .news_item_txt {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    margin: 0px 10px; }

  .news_item_1 {
    margin-top: 10vh; }

  .news_item_img {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px; }

  .news_item_7 {
    margin-bottom: 10vh; } }
/*桌機結束*/
