@charset "UTF-8";
/*=========清除浮動=========*/
.topbar26:after {
  content: '';
  display: block;
  clear: both; }

.register26 .topbar26 {
  line-height: 1.5em;
  margin: auto;
  text-align: center;
  background-color: pink; }

.topbar26 .step26 {
  float: left;
  width: calc(33.333% - 4px);
  border: 2px solid #af8;
  background-color: yellow; }

.register26 .setdown26 {
  margin: auto;
  background-color: #ccc; }

.item26 .span26 {
  display: inline-block;
  width: 100px;
  text-align: right; }

.item26 .notice26 {
  font-size: 15px;
  color: #8af; }

.item26 .check26 {
  width: 110px; }

@media screen and (max-width: 767px) {
  .register26 {
    margin-top: 6%;
    padding-top: 3%; }

  .register26 .topbar26 {
    width: 85vw; }

  .register26 .setdown26 {
    padding: 5%;
    width: calc(85vw - 10%); }

  .detail26 .item26 {
    margin: 10vw 2vw; } }
@media screen and (min-width: 768px) {
  .register26 {
    margin-top: 20vh; }

  .register26 .topbar26 {
    width: 67vw; }

  .register26 .setdown26 {
    padding: 5%;
    width: calc(67vw - 10%); }

  .detail26 .item26 {
    margin: 2%; } }
