.showProd .photoSelect .photo, .showProd .photoSelect .selected:after {
  background-repeat: no-repeat;
  background-position: center; }

body {
  overflow-x: hidden; }

.container {
  max-width: 1170px; }
  .container .row2:after {
    content: '';
    display: block;
    clear: both; }
  .container .row2 {
    margin: 0 -20px 15px; }
  .container .item {
    cursor: pointer; }
    .container .item img {
      width: 100%;
      vertical-align: middle; }

.item:after {
  content: '';
  clear: both; }

.showProd {
  background: linear-gradient(180deg, #19344c 35%, rgba(85, 70, 76, 0.8) 100%); }
  .showProd .showProd_bg_up {
    padding: 5% 0;
    background-image: url("../images/3accessories/picselectbg.png");
    background-repeat: no-repeat;
    background-position: 45% 50%; }
    .showProd .showProd_bg_up .showProd_bg .showProd_txt {
      padding-top: 160px; }
      .showProd .showProd_bg_up .showProd_bg .showProd_txt .prodTitle {
        min-height: 150px; }
        .showProd .showProd_bg_up .showProd_bg .showProd_txt .prodTitle h1, .showProd .showProd_bg_up .showProd_bg .showProd_txt .prodTitle p {
          color: rgba(255, 255, 255, 0.8); }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .showProd .photoSelect .photo {
    width: 24%;
    padding-top: 20%;
    display: inline-block;
    background-image: url("../images/1common/insidecircle.png");
    background-size: contain;
    text-align: center;
    position: relative; }
    .showProd .photoSelect .photo img {
      width: 80%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      z-index: 3; }
    .showProd .photoSelect .photo img:hover {
      animation: fadeIn 0.5s;
      cursor: pointer; }
  .showProd .photoSelect .selected:after {
    animation: fadeIn 0.5s;
    content: '';
    position: absolute;
    background-image: url("../images/1common/picselected.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: contain;
    z-index: 2; }
  .showProd .pic_man {
    position: relative; }
    .showProd .pic_man .aa, .showProd .pic_man .bb, .showProd .pic_man .cc, .showProd .pic_man .dd, .showProd .pic_man .ee, .showProd .pic_man .ff, .showProd .pic_man .gg {
      position: absolute;
      width: 100%;
      /*padding-top: 100%;*/
      top: 0;
      left: 0; }
    .showProd .pic_man img {
      width: 100%; }
    .showProd .pic_man #man_suit, .showProd .pic_man #man_fin, .showProd .pic_man #man_leash, .showProd .pic_man #man_wax {
      animation: man .3s infinite alternate; }
@keyframes man {
  0% {
    filter: drop-shadow(3px 3px 5px rgba(255, 255, 255, 0.8)); }
  30% {
    filter: drop-shadow(-3px -3px 5px rgba(255, 255, 255, 0.8)); }
  60% {
    filter: drop-shadow(4px 4px 6px rgba(255, 255, 255, 0.8)); }
  100% {
    filter: drop-shadow(-4px -4px 6px rgba(255, 255, 255, 0.8)); } }
  .showProd .mo-fire {
    width: 100px;
    height: auto;
    position: absolute;
    left: 24%;
    margin-left: -100px;
    top: -45px; }
  .showProd .mo-fire svg {
    width: 100%;
    height: auto;
    position: relative; }
  .showProd .flame {
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0; }
  .showProd .flame.one {
    animation-delay: 1s;
    animation-duration: 3s; }
  .showProd .flame3.two {
    animation-duration: 5s;
    animation-delay: 1s; }
  .showProd .flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  .showProd .flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s; }
  .showProd .flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s; }
  .showProd .flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s; }
  .showProd .flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s; }
  .showProd .flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s; }
@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg); } }
@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg); }
  50% {
    opacity: 1; }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0; } }
.main_BG {
  padding-top: 33px;
  background-image: url("../images/3accessories/hakuna.png"), linear-gradient(180deg, #19344c 35%, rgba(85, 70, 76, 0.8) 100%);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: content; }

.barbg {
  margin-top: 130px; }
  .barbg .changebar {
    max-width: 1170px; }
    .barbg .changebar ul {
      display: inline-block;
      vertical-align: bottom; }
    .barbg .changebar li {
      color: #fff;
      border-right: 1px solid #0b0b0b;
      box-shadow: 1px 0px 0px #878a8d;
      text-align: center;
      padding: 5px 1vw 0px;
      cursor: pointer;
      display: inline-block;
      transition: .5s; }
    .barbg .changebar li:nth-child(4) {
      border-right: none;
      box-shadow: none; }
    .barbg .changebar li:hover {
      color: #e97b23; }
  .barbg hr {
    /*width:1150px;*/
    margin: auto;
    border: 0;
    height: 3px;
    background-color: black;
    color: black; }

.container22 {
  border-radius: 5px;
  padding: 1rem 2rem 1rem;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1), 0px 5px 3px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.1);
  background-image: url("../images/4wavepoint/talk.jpg"); }
  .container22 h1, .container22 p {
    color: rgba(255, 255, 255, 0.8); }
  .container22 h1 {
    font-size: 1.5em; }

.aa {
  max-width: 700px; }

.title h2 {
  text-indent: 60px;
  padding-top: 30px;
  font-size: 30px;
  padding-bottom: 20px;
  /*outline: 1px solid steelblue*/ }

.leashform:nth-child(3n+1),
.finform:nth-child(3n+1),
.waxform:nth-child(3n+1),
.suitform:nth-child(3n+1) {
  clear: left; }

.myview::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px; }

.myview .item {
  /*margin:0px 30px;*/ }
  .myview .item .box {
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    margin: 10px 0px 20px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1), 0px 5px 3px rgba(0, 0, 0, 0.1), 0px 10px 5px rgba(0, 0, 0, 0.1); }
  .myview .item .btngorup {
    margin: auto;
    text-align: center; }

.myview .item .txt {
  padding: 10px;
  color: rgba(255, 255, 255, 0.7); }

.myview .item .pic {
  padding: 10px; }

.myview .item .txt h4 {
  text-align: center;
  line-height: 30px; }

.myview .item .txt p {
  padding-left: 5px;
  text-align: center; }

.myview .item .btngorup input {
  font-size: 16px; }

.clearfix {
  clear: both; }

#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none; }

#info-box {
  max-width: 500px;
  max-height: 650px;
  background-image: url("../images/3accessories/decoration.png"), linear-gradient(white 35%, white 100%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px; }
  #info-box img {
    width: 100%; }
  #info-box .lig-pic {
    box-sizing: border-box;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc; }
  #info-box .btngorup {
    margin: auto;
    text-align: center; }
    #info-box .btngorup .arikicommon_bgwhite_btn {
      display: inline-block; }
  #info-box .info {
    padding: 5px 10px; }

#closebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 0px; }

.loginremindlightboxgroup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: none; }
  .loginremindlightboxgroup .loginremindlightboxarea {
    max-width: 263px;
    max-height: 30vh;
    background-color: white;
    position: relative;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 27px 27px 61px 27px;
    transform: translateY(-50%);
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url("../images/7member/7member_ordercheck/decoration.png");
    background-repeat: no-repeat;
    background-position: 0% 113%; }
    .loginremindlightboxgroup .loginremindlightboxarea p {
      height: 15vh;
      line-height: 15vh;
      color: #4d6273;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 18px; }
    .loginremindlightboxgroup .loginremindlightboxarea #loginremindclosebtn {
      position: absolute;
      right: 0;
      top: 0; }
      .loginremindlightboxgroup .loginremindlightboxarea #loginremindclosebtn .fa {
        font-size: 30px;
        margin: 0 5px 0 0;
        color: #0e2334; }

@media screen and (min-width: 768px) {
  #prodTitleM {
    display: none; }

  .forRwd {
    display: none; } }
@media screen and (max-width: 767px) {
  .forRwd {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    transform: translateY(14px); }

  .showProd .showProd_bg_up .showProd_bg .showProd_txt {
    padding-top: 10px; }
    .showProd .showProd_bg_up .showProd_bg .showProd_txt .prodTitle {
      min-height: 100px; }
    .showProd .showProd_bg_up .showProd_bg .showProd_txt #prodTitleM {
      display: block; }
    .showProd .showProd_bg_up .showProd_bg .showProd_txt .prodTitle1 {
      display: none; }

  .container {
    max-width: 1170px; }
    .container .row2:after {
      content: '';
      display: block;
      clear: both; }
    .container .row2 {
      margin: 0px 0px 15px; }
    .container img {
      width: 100%;
      vertical-align: middle; }

  .main_BG {
    padding-top: 0px; }

  .all {
    max-height: 100px; }

  .myview .item .box {
    padding: 10px;
    margin: 0; }

  .barbg {
    margin-top: 0px; }
    .barbg .changebar li {
      font-size: 15px; }

  .container22 {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 30px; }
    .container22 .txt {
      display: none; }
    .container22 h1 {
      font-size: 23px; }
    .container22 p {
      font-size: 15px; }

  #info-box {
    max-width: 350px;
    max-height: 550px; }

  .main_BG {
    background-position: 0% -4%; }

  .showProd .mo-fire {
    width: 62px;
    left: 33%;
    top: -27px; }

  .pic_man {
    position: relative; }
    .pic_man .aa, .pic_man .bb, .pic_man .cc, .pic_man .dd, .pic_man .ee, .pic_man .ff, .pic_man .gg {
      position: absolute;
      width: 100%;
      /*padding-top: 100%;*/
      top: 0;
      max-width: 350px; }
    .pic_man img {
      width: 100%;
      max-width: 350px; } }
@media screen and (max-width: 321px) {
  .barbg .changebar {
    padding-top: 15px; }
    .barbg .changebar li {
      font-size: 13px; }

  #info-box {
    max-width: 300px;
    max-height: 510px; }

  .showProd .mo-fire {
    width: 60px;
    left: 36%;
    top: -30px; }

  .pic_man {
    position: relative; }
    .pic_man .aa, .pic_man .bb, .pic_man .cc, .pic_man .dd, .pic_man .ee, .pic_man .ff, .pic_man .gg {
      position: absolute;
      width: 100%;
      /*padding-top: 100%;*/
      top: 0;
      max-width: 300px; }
    .pic_man img {
      width: 100%;
      max-width: 300px; } }
.navDetail .navfix .navimg .overlay .overlay-menu .menu li:nth-child(3) a {
  color: #e97b23; }
