
/*=========清除浮動=========*/
.personal21:after,.changepsw21:after,.row21:after{
  content: '';
  display: block;
  clear: both;
}

.row21{
  .label21{
    display: inline-block;
    text-align: right;
  }
  .addr21{
    margin-top: 10px;
    width: 100%;
    width: calc(100% - 204px - 22.222px);
  }
  .upload21{background-color: transparent;}
  .upload21:hover{
    color:rgba(237,144,70,1);
    border:2px solid rgba(237,144,70,1);
  }
}

@media screen and (max-width:767px){


}
@media screen and (min-width:768px){
  
  .right20{
    .row21{
      margin-top: 25px;
      &:first-child{margin-top:0px;}
      .label21{width: 200px;}
    }
  }
  .submit21{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    color: rgba(3,31,54,1);
  }
}