.clearfix{
    clear:both;
}
.right20{
    background-image: none;
    padding-right: 0;
}
@mixin Width-Size($max-width,$percent,$TD,$LR){
    max-width: $max-width + px;
    width: $percent;
    margin:$TD $LR;
}
@media screen and (min-width:768px){
    .member_ordercheck_23{
        @include Width-Size(1170,100% ,3% ,auto );
        box-sizing: border-box;
        padding:10px;
        .fitting-txt,
        .history-txt{
            display: none;
        }
        .ordercheck-title{
            width: 90%;
            margin:0 auto;
            ul{
                li{
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 20px;
                    background-color: #194165;
                    margin-left:3%;
                    position: relative;
                    width: 84px;
                    height: 41px;
                    margin-bottom: -4px;
                    p{
                        position: absolute;
                        right: -5px;
                        top: 10px;
                        z-index: 3;
                    }
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 10%;
                        box-sizing: border-box;
                        padding-bottom: 48%;
                        background-color: #194165;
                        position: absolute;
                        left:-8%;
                        top:0;
                    }
                    &:after{
                        content: '';
                        display: inline-block;
                        // width: 20%;
                        box-sizing: border-box;
                        position: absolute;
                        right:-59%;
                        top:0;
                        z-index: 2;
                        width: 0;
                        height: 0;
                        border-left:50px solid #194165;
                        border-top:41px solid transparent;
                    }
                }
                .li-click{
                    background-color: #DDD;
                    color:#194165;
                    position: relative;
                    z-index: 3;
                    &:before{
                        background-color: #ed9046;
                        z-index: 3;
                    }
                    &:after{
                        // z-index: 3;
                        border-left:50px solid #ddd;
                        border-top:41px solid transparent;
                    }
                }
                .li-unclick{
                    background-color: #194165;
                    color:#DDD;
                    position: relative;
                    &:before{
                        background-color: #194165;
                    }
                    &:after{
                        border-left:50px solid #194165;
                        border-top:41px solid transparent;
                    }
                }
            }
        }
        #fitting-txt,#history-txt{
            display: none;
        }
        #customize-txt{
            display: block;
        }
        .item-txt{
                width: 90%;
                margin:0 auto;
                background-color:#DDD;
                color:#14324c;
                box-sizing: border-box;
                padding: 15px;
                padding-top: 5px;
            .txt-title{
                border-bottom: 1px solid #a1aab0;
                ul{
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5){
                        text-align: center;
                    }
                }
            }
            .txt-val{
                ul{
                    li:nth-child(1),
                    li:nth-child(2),
                    li:nth-child(3),
                    li:nth-child(4){
                        padding-top: 17px;
                    }
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5){
                        text-align: center;
                    }
                }
            }
        }
        .decoration{
            width: 90%;
            margin:0 auto;
            background-image: url("../images/7member/7member_ordercheck/decoration.png");
            background-size: cover;
            background-color: #ddd;
            box-sizing: border-box;
            padding-bottom: 7%;
        }
        .lightbox{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            background-color:rgba(0, 0, 0, 0.5);
            z-index: 100;
            .LB-item{
                padding:0;
                width: 60%;
                height: 60%;
                background-color: #ddd;
                position: absolute;
                left:0;
                right:0;
                top:0;
                bottom: 0;
                margin:auto;
                color:rgba(0, 0, 0, 0.8);
                .LB-item-h3{
                    width: 90%;
                    margin:2% auto;
                }
            }
            .fitting-LB,.history-LB{
                display: none;
            }
            .customize-LB{
                display: none; 
                .cust-box{
                    .cust-Info-box{
                        .cust-OD-Info{
                            padding:0;
                            text-align: center;
                            line-height: 30px;
                            .white{
                               background-color: #fff;
                            }
                            .cust-OD-txt{
                                background-color: #fff;
                                border-left:10px solid #ddd;
                                box-sizing: border-box;
                            }
                            h4{
                                color:#11314c;
                            }                           
                        }
                    }
                    .cust-userInput{
                        box-sizing: border-box;
                        padding:10px 27px;
                        background-color: #fff;
                        border-top:10px solid #ddd;
                        box-sizing: border-box;
                        ul{
                            li{
                                h4{
                                    display: inline-block;
                                    width: 20%;
                                    margin:1.5% 0;
                                }
                                span{
                                    display: inline-block;
                                    margin-left:1%;
                                }
                            }
                        }
                    }
                    .cust-img-btn-box{
                        .cust-img{
                            img{
                                height: 430px;
                            }
                            // padding-right:10px;
                        }
                        .cust-btn{
                            text-align: center;
                            margin-top:5%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .member_ordercheck_23{
        .ordercheck-title{

        }
        .ordercheck-txt{

        }
        .decoration{
            
        }
    }
}