
/*=========清除浮動=========*/
.personal21:after,.changepsw21:after,.row21:after{
  content: '';
  display: block;
  clear: both;
}

.row21 .span21{
  display: inline-block;
  text-align: right;
}

@media screen and (max-width:767px){


}
@media screen and (min-width:768px){
  
  .personal21,.changepsw21{
    
  }
  
  .row21{
    &:first-child{margin-top:0px;}
    margin-top: 20px;
    .span21{
      width: 200px;
    }
  }
  .submit21{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    color: rgba(3,31,54,1);
  }
}