img{width: 100%;}
/*=========清除浮動=========*/
.topbar26:after,.item26:after{
  content: '';
  display: block; 
  clear: both; 
}
.register26{
	color:#fff;
	background-color: #374d60;
	background-image: url(../images/7member/register_bg.png);
	background-size: cover;
    background-size: 70%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.setdown26{
	margin: auto;
	.prompt26{
		font-size: 22px;
		line-height: 1.5em;
		text-align: left;
	}
	.detail26{
		padding-right: 80px;
		background-color: rgba(73,100,122,0.5);
		.title26{
	 	   padding: 0.7em 1.25em;
	 	   background-color: rgba(217,217,217,0.2);
	  	}
		.item26{
			.span26{
				display: inline-block;
				text-align: right;
				margin-right:1vw;
			}
			.number26{display: inline-block;}
		}/*item26*/
		.read26{
			text-align: center;
			a{
				color: #fff;
				text-decoration: underline;
			}
		}
		.submit26{
			display:block;
			color: #000;
			margin: auto;
			width: 150px;
		}
	}/*detail26*/
}/*setdown26*/


@media screen and (max-width:999px){
	
}

@media screen and (min-width:1000px){
	
.setdown26{
	width: 60%;
	min-width: 1170px;
	padding: 100px;
	border: 1px solid #fa0;
	.prompt26,.detail26{
		display: inline-block;
		vertical-align: middle;
	}
	.prompt26{width: calc(100% - 200px - 540px - 10%);}
	.detail26{
		padding: 30px 0px;
		margin-left: 10%;
		width: 540px;
		.title26{
			width: 12em;
			text-align: right;
		}
	}
	.item26{
		margin-top: 25px;
		&:first-child{margin-top:0px;}
		.span26{
			width: 10em;
			display: inline-block;
		}
	}
	.verticle26{
		.br26{display: none;}
		.number26{width: 120px;}
		.span26, .check26, .number26 img{vertical-align: middle;}
	} 
}

			
		
}