.clearfix{
    clear:both;
}
.right20{
    background-image: none;
    padding-right: 0;
}
@mixin Width-Size($max-width,$percent,$TD,$LR){
    max-width: $max-width + px;
    width: $percent;
    margin:$TD $LR;
}
@media screen and (min-width:768px){
    .member_ordercheck_23{
        @include Width-Size(1170,100% ,0 ,auto );
        // box-sizing: border-box;
        // padding:10px;
        .ordercheck-title{
            width: 90%;
            margin:0 auto;
            ul{
                li{
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 20px;
                    background-color: #194165;
                    margin-left:3%;
                    position: relative;
                    width: 84px;
                    height: 41px;
                    margin-bottom: -4px;
                    p{
                        position: absolute;
                        right: -5px;
                        top: 10px;
                        z-index: 3;
                    }
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 10%;
                        box-sizing: border-box;
                        padding-bottom: 48%;
                        background-color: #194165;
                        position: absolute;
                        left:-8%;
                        top:0;
                    }
                    &:after{
                        content: '';
                        display: inline-block;
                        // width: 20%;
                        box-sizing: border-box;
                        position: absolute;
                        right:-59%;
                        top:0;
                        z-index: 2;
                        width: 0;
                        height: 0;
                        border-left:50px solid #194165;
                        border-top:41px solid transparent;
                    }
                }
                .li-click{
                    background-color: #DDD;
                    color:#194165;
                    position: relative;
                    z-index: 3;
                    &:before{
                        background-color: #ed9046;
                        z-index: 3;
                    }
                    &:after{
                        // z-index: 3;
                        border-left:50px solid #ddd;
                        border-top:41px solid transparent;
                    }
                }
                .li-unclick{
                    background-color: #194165;
                    color:#DDD;
                    position: relative;
                    &:before{
                        background-color: #194165;
                    }
                    &:after{
                        border-left:50px solid #194165;
                        border-top:41px solid transparent;
                    }
                }
            }
        }
        #fitting-txt{
            display: none;
            .rwdtitleshow{
                display: none;
            }
            .rwd-FT-title{
                display: none;
            }
        }
        #customize-txt{
            display: block;
            .rwdtitleshow{
                display: none;
            }
        }
        #history-txt{
            display:none;
            .txt-val{
                .rwdtitleshow{
                    display: none;
                }
                .HT-cust-box{
                    margin:3% 0;
                    margin-bottom:20%;
                    h3{
                        margin-bottom:1%;
                    }
                }
                .HT-fitt-box{
                    margin:3% 0;
                    h3{
                        margin-bottom:1%;
                    }
                }
            }
        }
        .item-txt{
                width: 90%;
                margin:0 auto;
                background-color:#DDD;
                color:#14324c;
                box-sizing: border-box;
                padding: 15px;
                padding-top: 5px;
            .txt-title{
                border-bottom: 1px solid #a1aab0;
                ul{
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5){
                        text-align: center;
                    }
                }
            }
            .txt-val{
                ul{
                    li:nth-child(1),
                    li:nth-child(2),
                    li:nth-child(3),
                    li:nth-child(4){
                        padding-top: 17px;
                    }
                    li:nth-child(3),
                    li:nth-child(4),
                    li:nth-child(5){
                        text-align: center;
                    }
                }
            }
        }
        .decoration{
            width: 90%;
            margin:0 auto;
            background-image: url("../images/7member/7member_ordercheck/decoration.png");
            background-size: cover;
            background-color: #ddd;
            box-sizing: border-box;
            padding-bottom: 7%;
        }
        .lightbox{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            background-color:rgba(0, 0, 0, 0.5);
            z-index: 100;
            .LB-item{
                padding:3% 0;
                padding-bottom:5%;
                width: 60%;
                background-color: #ddd;
                background-image:url("../images/7member/7member_ordercheck/decoration.png");
                background-repeat: no-repeat;
                background-size:contain;
                background-position: 0% 105%;
                position: absolute;
                left:0;
                right:0;
                top:0;
                bottom: 0;
                margin:52px auto;
                overflow-y:scroll;
                overflow-x: none; 
                color:rgba(0, 0, 0, 0.8);
                .LB-item-h3{
                    width: 90%;
                    margin:2% auto;
                }
            }
            .customize-LB{
                display: none; 
                .cust-box{
                    .cust-Info-box{
                        .cust-OD-Info{
                            padding:0;
                            text-align: center;
                            line-height: 30px;
                            .white{
                               background-color: #fff;
                            }
                            .cust-OD-txt{
                                background-color: #fff;
                                border-left:10px solid #ddd;
                                box-sizing: border-box;
                            }
                            h4{
                                color:#11314c;
                            }                           
                        }
                    }
                    .cust-userInput{
                        box-sizing: border-box;
                        padding:10px 27px;
                        background-color: #fff;
                        border-top:10px solid #ddd;
                        box-sizing: border-box;
                        ul{
                            li{
                                h4{
                                    display: inline-block;
                                    width: 20%;
                                    margin:1.5% 6%;
                                }
                                span{
                                    display: inline-block;
                                    margin-left:1%;
                                }
                            }
                        }
                    }
                    .cust-img-btn-box{
                        .cust-img{
                            width: 50%;
                            margin:0 auto;
                            padding-top: 170%;
                            position: relative;
                            overflow: hidden;
                            img{
                                width: 100%;
                                position: absolute;
                                top:-14%;
                                left:0;
                                right:0;
                                margin:auto;
                            }
                            // padding-right:10px;
                        }
                        .cust-btn{
                            text-align: center;
                            margin-top:5%;
                        }
                    }
                }
            }
            .fitting-LB{
                display:none;
                .fitt-box{
                    .FT-list-title{
                        width: 90%;
                        margin:0 auto;
                        margin-bottom: 2%;
                        background-color: #fff;
                        ul{
                            li{
                                text-align: center;
                            }
                        }
                    }
                    .FT-list-val{
                        width: 90%;
                        margin:0 auto;
                        background-color: #fff;
                        ul{
                            padding:10px 0;
                            border-bottom:3px solid #ddd;
                            li{
                                text-align: center;
                                span{
                                    display: inline-block;
                                    padding-top:11%;
                                }
                                .hideFT{
                                    display: none;
                                }
                                img{
                                    width: 30%;
                                    margin:0 auto;
                                }
                            }
                            li:nth-child(1){
                                span{
                                    padding-top:24%;
                                }
                            }li:nth-child(3){
                                span{
                                    padding-top:23%;
                                }
                            }li:nth-child(4){
                                span{
                                    padding-top:54%;
                                }
                            }
                        }
                    }
                    .FT-Info-val{
                        width: 90%;
                        margin:2% auto;
                        .FT-Person-Info{
                            width: 50%;
                            background-color:#fff;
                            box-sizing: border-box;
                            padding:2%;
                            float:left;
                            box-sizing: border-box;
                            border-right:solid #ddd 30px;
                            ul{
                                li{
                                    padding:1% 0;
                                    h4{
                                        display: inline-block;
                                        width: 30%;
                                        margin:1.5% 6%;
                                        vertical-align: middle;
                                    }
                                    span{
                                        display: inline-block;
                                        width: 50%;
                                        vertical-align: middle;
                                        // margin-left:15%;
                                    }
                                }
                            }
                        }
                        .FT-OD-Info{
                            width: 50%;
                            background-color: #fff;
                            float:left;
                            box-sizing: border-box;
                            border-left:solid #ddd 33px;
                            padding:4%;
                            padding-bottom:4.9%;
                            text-align:center;
                        }
                    }
                    .FT-btn{
                            width: 95%;
                            text-align: right;
                            // margin-top:5%;
                    }
                }
            }
            .history-LB{
                display:none;
                .history-box{
                    .HT-list-title{
                        width: 90%;
                        margin:0 auto;
                        margin-bottom: 2%;
                        background-color: #fff;
                        ul{
                            li{
                                text-align: center;
                            }
                        }
                    }
                    .HT-list-val{
                        width: 90%;
                        margin:0 auto;
                        background-color: #fff;
                        ul{
                            padding:10px 0;
                            border-bottom:3px solid #ddd;
                            li{
                                text-align: center;
                                span{
                                    display: inline-block;
                                    padding-top:11%;
                                }
                                img{
                                    width: 30%;
                                    margin:0 auto;
                                }
                            }
                            li:nth-child(1){
                                span{
                                    padding-top:24%;
                                }
                            }li:nth-child(3){
                                span{
                                    padding-top:23%;
                                }
                            }li:nth-child(4){
                                span{
                                    padding-top:54%;
                                }
                            }
                        }
                    }
                    .HT-Info-val{
                        width: 90%;
                        margin:2% auto;
                        .HT-Person-Info{
                            width: 50%;
                            background-color:#fff;
                            box-sizing: border-box;
                            padding:2%;
                            float:left;
                            box-sizing: border-box;
                            border-right:solid #ddd 30px;
                            ul{
                                li{
                                    h4{
                                        display: inline-block;
                                        width: 20%;
                                        margin:1.5% 6%;
                                    }
                                    span{
                                        display: inline-block;
                                        margin-left:15%;
                                    }
                                }
                            }
                        }
                        .HT-OD-Info{
                            width: 50%;
                            background-color: #fff;
                            float:left;
                            box-sizing: border-box;
                            border-left:solid #ddd 33px;
                            padding:4%;
                            padding-bottom:4.9%;
                            text-align:center;
                        }
                    }
                    .HT-btn{
                            width: 95%;
                            text-align: right;
                            // margin-top:5%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .member_ordercheck_23{
        .ordercheck-title{
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            // margin:2% auto;
            ul{
                li{
                    display:inline-block;
                    box-sizing: border-box;
                    padding:0 10px;
                }
                li:nth-child(2){
                    border-left:1px dotted #ddd;
                    border-right:1px dotted #ddd;
                }
            }
        }
        #customize-txt{
            // display: none;
            background-color:#ddd;
            color:#194165;
            .txt-title{
                display: none;
            }
            .txt-val{
                .rwdtitleshow{
                    display: inline;
                    margin: 0 30px;
                }
                ul{
                    padding:7% 0;
                    padding-left:19%;
                    border-bottom:1px solid #194165;
                    li{
                        display: block;
                    }
                }
                
            }
        }
        #fitting-txt{
            display: none;
            .txt-title{
                display: none;
            }
            .txt-val{
                width: 100%;
                box-sizing: border-box;
                // padding: 23px 0  0 30px;
                background-color: #ddd;
                color:#194165;
                .rwd-FT-box{
                    width: 80%;
                    margin:0 auto;
                    padding:5% 0;
                    border-bottom: 1px solid #194165;
                    ul{
                        box-sizing: border-box;
                        // padding: 23px 0  0 30px;
                    }
                    .rwd-FT-title{
                        // margin-left:40px;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: right;
                        ul{
                            .rwdtitleshow{
                            }
                        }
                    }
                    .DSrwd-FT-val{
                        display: inline-block;
                        vertical-align: middle;
                        // width: 55%;
                    }
                }
                    
            }
        }
        #history-txt{
            display: none;
            background-color:#ddd;
            color:#194165;
            h3{
                margin-left:10px;
            }
            .txt-val{
                padding:7% 0;
                .HT-cust-box,.HT-fitt-box{
                    .txt-title{
                        display:none;
                    }
                }
            }
            .CT-HT-list{
                // margin-left:19%;
                padding:7% 0;
                // padding-left:19%;
                width: 80%;
                margin:0 auto;
                margin-bottom:25%;
                border-bottom:1px solid #194165;
                .rwdtitleshow{
                    display: inline;
                    margin:0 30px;
                    margin-left:20%;
                }
            }
            .CT-HT-list:last-child{
                border-bottom:0px;
            }
            .FT-HT-list{
                padding:7% 0;
                width: 80%;
                margin:0 auto;
                margin-bottom:10%;
                border-bottom:1px solid #194165;
                .rwdtitleshow{
                    display: inline;
                    margin:0 30px;
                    margin-left:20%;
                }
            }
            .FT-HT-list:last-child{
                border-bottom:0px solid #194165;

            }
        }
        .lightbox{
            display: none;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: fixed;
            top:0;
            left:0;
            bottom:0;
            z-index: 100;
            color:#11314c;
            #customize-LB{
                display: none;
                background-color: #ddd;
                width: 90%;
                height: 90%;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                overflow: scroll;
                .cust-box{
                    .LB-item-h3{
                        box-sizing: border-box;
                        padding:10px;
                    }
                    .cust-Info-box{
                        width: 90%;
                        margin:1% 5%;
                        padding:1% 0;
                        .cust-OD-Info{
                            padding:0;
                            .white{
                                background-color: white;
                                margin:2% 0 5%;
                                h4{
                                    display: inline-block;
                                    width: 30%;
                                }
                                p{
                                    display: inline-block;
                                    margin-left:10%;
                                }
                            }
                        }
                        .cust-OD-txt{
                            background-color: white;
                            margin:2% 0 5%;
                            h4{
                                display: inline-block;
                                width: 30%;
                            }
                            p{
                                display: inline-block;
                                margin-left:10%;
                            }
                        }
                        .cust-userInput{
                            background-color: white;
                            margin:2% 0 5%;
                            ul{
                                li{
                                    padding:10px;
                                    h4{
                                        display: inline-block;
                                        width: 30%;
                                        vertical-align: middle;
                                    }
                                    span{
                                        display: inline-block;
                                        margin-left:10%;
                                        vertical-align: middle;
                                        width: 60%;
                                    }
                                }
                                    
                            }
                        }
                        
                    }
                    .cust-img-btn-box{
                        .cust-img{
                            position: relative;
                            padding-top: 131%;
                            img{
                                width: 35%;
                                position: absolute;
                                top:-23%;
                                left: 0;
                                right:0;
                                margin:auto;
                            }
                        }
                        .cust-btn{
                            margin:3% auto;
                            text-align: center;
                        }
                    }
                }
            }
            #fitting-LB{
                display:none;
                background-color: #ddd;
                width: 90%;
                height: 90%;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                overflow-y: scroll;
                overflow-x: hidden;
                .fitt-box{
                    .LB-item-h3{
                        box-sizing: border-box;
                        padding:10px;
                    }
                    .FT-list-title{
                        width: 90%;
                        margin:1% 5%;
                        padding:1% 0;
                        background-color: #fff;
                        display: none;
                    }
                    .FT-list-val{
                        ul{
                            background-color: #fff;
                            width: 90%;
                            margin:2% auto 5%;
                            box-sizing: border-box;
                            border:1px solid rgba(25, 65, 101, 0.5);
                            li{
                                .hideFT{
                                    display: inline-block;
                                    width: 31%;
                                    vertical-align: middle;
                                }
                                span{
                                    display: inline-block;
                                    margin-left:10%;
                                    vertical-align: middle;
                                    width: 59%;
                                }
                                img{
                                    width: 30%;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                    .FT-Info-val{
                        .FT-Person-Info{
                            width: 90%;
                            margin:2% auto 5%;
                            padding:1% 0;
                            background-color: #fff;
                            li{
                                width: 100%;
                                padding:10px;

                                h4{
                                    display: inline-block;
                                    width: 31%;
                                    vertical-align: middle;
                                }
                                span{
                                    display: inline-block;
                                    margin-left:10%;
                                    vertical-align: middle;
                                    width: 59%;
                                }
                            }
                        }
                        .FT-OD-Info{
                            width: 90%;
                            margin:2% auto 5%;
                            padding:1% 0;
                            background-color: #fff;
                            h4{
                                display: inline-block;
                                width: 30%;
                                vertical-align: middle;
                            }
                            span{
                                display: inline-block;
                                margin-left:10%;
                                vertical-align: middle;
                                width: 60%;
                            }
                        }
                    }
                    .FT-btn{
                        margin:3% auto;
                        text-align: center;
                    }
                    
                }
            }
            #history-LB{
                display:none;
            }
        }
    }
}
// <span class="rwdtitleshow">訂單編號</span>