$F2:16px;
$F3:16px;
$F4:16px;

/*=========清除浮動=========*/
.topbar26:after,.item26:after{
  content: '';
  display: block; 
  clear: both; 
}
.register26{background-color: rgba(200, 202, 250,0.4);}
.setdown26{
	margin: auto;
	.subject26{
		text-align: center;
		letter-spacing: 8px;
		padding-bottom: 15px;
		border-bottom:1px solid #ddd;
		background-color: rgba(255,125,255,0.9);
	}
	.detail26{
		background-color: rgba(255,155,133,0.9);
		.item26{
			text-align: center;
			background-color:#ffa;
			.span26{
				display: inline-block;
				line-height: 3em;
				width: 15vw;
				min-width: 100px;
				text-align: left;
				background-color:#9f5;
			}
			.input26{
				width: 30vw;
				height: 3em;
				min-width: 180px;
				border: none;
			}
			.notice26{
				font-size: 15px;
				color:rgb(18,49,76);
			}
			.read26{
				padding-top: 12px;
				border-top:1px solid rgba(255,255,255,0.9);
			}
			.check26{width: 150px;}
			.number26{width:120px;height: 40px;}
			.submit26{
				display: inline-block;
				min-width: 110px;
				margin:auto;
				text-align: center;
				border:none;
				border-radius: 8px;
				background-color: #8af;
			}
		}
	}
}

@media screen and (max-width:767px){
	.register26{padding: 4% 0%;}
	.setdown26{
		padding: 5%;
		width: calc(85vw - 10%);
		.detail26 .item26{padding: 2.5vw 10vw;}
	}
}

@media screen and (min-width:768px){
	.register26{padding-bottom:5%;}
	.setdown26{
		padding: 8%;
		width: calc(70vw - 10%);
		.detail26 .item26{margin: 12px 5vw;}
	}
}