$F2:16px;
$F3:16px;
$F4:16px;
/*=========清除浮動=========*/
.menu35:after{
  content: '';
  display: block;
  clear: both;
}
.content35{background: linear-gradient(#ddd,#7EC7C8);}
.menu35{
  background-color:pink;
  text-align: center;
  .title35{
    width: 100%;
    letter-spacing: 12px;
    line-height: 2.5;
    font-size: $F2;
    font-weight: bold;
    color:#55b0c5;
  }/*title35*/
  .sidebar35 li a{
    font-size: 15px;
    color: #fff;
    background-color:#7CB8C4;
  }/*sidebar35*/
}/*menu35*/
/*主區塊*/
.main35{
  // background: linear-gradient(#fff,#B4C3CA);
  background-color:#000;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  .part35{background-color:#ffa;}
}
@media screen and (min-width:768px){
  header,.clearfix{display: none;}
  .head35{
    width: 100%;
    height: 100px;
    background-color: #0e2334;
  }
  .content35{
    padding: 1% 13% 1% 13%;
    height: calc(84vh - 6vh - 2% - 5px);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    position: relative;
  }
  .menu35{
    border-radius: 10px 10px 0px 0px;
    .title35{
      padding: 30px 0px;
      border-radius: 0px 0px 10px 10px;
    }
    .sidebar35{
      float: left;
      width: 18%;
      position: relative;
      top: 40%;
      left: -8vw;
      padding: 4%;
      background-color: #eee;
      border-radius: 20px;
      li a{
          display: block;
          padding:15px 20px;
          margin-top: 2vh;
          letter-spacing: 2px;
          border-radius: 8px;
        }
      li:first-child a{margin-top:0px; }
    }/*sidebar35*/
  }
  .main35{
    float: left;
    width: calc(100% - 5% -15%);
    padding:4% 5% 2% 15%;
  }/*main35*/

}
@media screen and (max-width:767px){
  .head35,.main35{display: none;}
  .content35{
    padding: 0vh 5%;
    height: 100vh;
    box-sizing: border-box;
  }
  .menu35{
    width: 100%;
    .title35{
      padding-top:10vh; 
      height: 5em;
      line-height: 5em;
    }
    .sidebar35{
      width: 100%;
      padding-top:20px; 
      li a{
        float: left;
        margin: 7px;
        padding: 8% 3%;
        width: calc(50% - 6% - 14px);
      }
    }/*sidebar35*/
  }/*menu35*/
  .main35{
    padding:10%;
    width: 80%;
  }/*main35*/
}