@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-family: 微軟正黑體;
}
.clearfix {
  clear: both; }

@media screen and (max-width:767px){

.bg_17{
 background-image: url("../images/6ariki/aa.png");
 background-repeat:no-repeat;
 background-size: contain; 
 background-color:#2A6C84;
 height: auto;
 padding-top: 1rem;  
  .about_title_17{ 
   box-sizing: border-box;
      .about_title_17_txt{
        box-sizing: border-box;
        padding: 1rem 2rem 1rem;
        background-image:url("../images/4wavepoint/talk.jpg");
        background-repeat: no-repeat; 
        color:#fff;
        margin-top: 5rem;
      }
      .about_txt_17{
        position: relative;
        box-sizing: border-box; 
        padding: 2rem;
        color:#fff;
        background: linear-gradient(#5F7F92,#29465E);
        &:after{
          content:'';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 99%;
          height: 95%;
          border:1px solid #95AFBA;
        }
        p{
          margin-bottom: .4rem;
        }
      }
  }
}


  .about_bg{
    background-color:#11314C;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .about_title{
      text-align: center;
      margin-top:4vh;
      margin-bottom: 1vh;
      color:#fff;
  } 

  .about_rightSide_17{
    p{
     margin:20px;
     line-height: 1.8;
     display: inline-block;
     color:#fff;
    }
  } 
 
.about_txt ,.business_txt{
    opacity: 0;
    transform:translateY(50px);
    transition:all 1s ease-out;
  }


  .fade-in{
    opacity: 1;
    transform:translateY(0);
  }

 .business_philosophy_title{
      text-align: center;
      margin-top:4vh;
      margin-bottom: 1vh;
      color:#fff;
  } 
  

  .business_bg{
    background-color:#1D4D66;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .business_rightSide_17{
    p{
     margin:20px;
     line-height: 1.8;
     display: inline-block;
     color:#fff;
    }
  } 

  .winning_bg{
    background-image:url("../images/6ariki/winning_bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .winning_record_title{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
    color:#fff;
  }

 
 .winning_img{
      width: 100%;
      height: auto;
  }
  

.small_board img{
  display:none;
}

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 90%;
  float: left;
  margin: 80px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 18px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px; 
  height: 10px;
  transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
} 


  .global_bg{
    background-image:url("../images/6ariki/global_bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .global_base_title{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
    color:#fff;
  }

  .global_img_1 ,.global_img_2 ,.global_img_3 ,.global_img_4{
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
 }

   .global_text_1 ,.global_text_2 ,.global_text_3 ,.global_text_4{
    width: 100%;
    padding: 10px;
    box-sizing:border-box;
    height: auto;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute; 
    z-index: 5; 
    left: 0;  
    bottom: 3px;  
    color:#fff;
    font-weight:800;
 } 

 .text_description_1 ,.text_description_2 ,.text_description_3 ,.text_description_4{
    padding:10px;
    color:#fff;  
     }

  .clock ,.phone ,.location {
    width: 100%;
    height: 40px;
    img{
      margin-top:10px;
      margin-left:0px;
      margin-right:5px;
      width: 24px;
      height: 24px;
      float: left; }
    p{
      margin-top:10px;
      float: left;
      line-height:1.8;
      height: 24px;
      text-align:center;} 
    }



}/*RWD結束*/
@media screen and (min-width:768px){
  .cen{
  width: 100%;
  max-width:$navmaxwidth;
  margin: 0 auto;
}

  
 .bg_17{
 background-image: url("../images/6ariki/cc.png");
 background-repeat:no-repeat;
 background-size: contain; 
 height: auto;
 padding-top: 4rem;  
  .about_title_17{ 
   @extend .cen;
   box-sizing: border-box;
      .about_title_17_txt{
        box-sizing: border-box;
        padding: 1rem 2rem 1rem;
        background-image:url("../images/4wavepoint/talk.jpg");
        background-repeat: no-repeat; 
        color:#fff;
        margin-top: 10rem;
      }
      .about_txt_17{
        position: relative;
        box-sizing: border-box; 
        padding: 2rem;
        color:#fff;
        background: linear-gradient(#5F7F92,#29465E);
        &:after{
          content:'';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 99%;
          height: 95%;
          border:1px solid #95AFBA;
        }
        p{
          margin-bottom: .8rem;
        }
      }
  }
}

  .body_17{
    margin:auto;
  }

 
  .about_bg{
    background-image:url("../images/6ariki/about_bg3.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:8%;
    padding-bottom:14%;
    margin-top: 5%;
  }

  .about_1170{
    max-width: 1170px;
    margin: auto;
  }

  .about_title{
    padding-top:5vh;
    padding-bottom: 1vh;
    color:#fff;
    margin:0px 4%;

  }

  
  .about_leftSide_17{
    width: 100%;
    img{
      display:none;
    }
  }

  .about_rightSide_17{
    .about_txt{
     margin:0 5%;
     line-height: 2;
     display:flex;
     justify-content:center;
     align-items:center;
     height: 300px;
     font-weight:700;
     color:#fff;
    }
  }
  .about_txt ,.business_txt{
    opacity: 0;
    transform:translateY(50px);
    transition:all 1s ease-out;
  }

 

  .fade-in{
    opacity: 1;
    transform:translateY(0);
  }

  .business_bg{
    background-image:url("../images/6ariki/business_bg1.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:8%;
    padding-bottom:13%;
    
  }

 .business_1170{
    max-width: 1170px;
    margin: auto;
  }

  .business_philosophy_title{
      
      margin-top:5vh;
      margin-bottom: 1vh;
      color:#fff;
  } 
  .business_leftSide_17{
    img{
      width: 100%;
      display:none;
    }
  }
 
  .business_rightSide_17{
    p{
     margin-left:0px 5%;;
     line-height: 2;
     display:flex;
     align-items:center;
     justify-content:center;
     height: 300px;
     font-weight:700;
     color:#fff;
    }
  } 

  .winning_bg{
    background-image:url("../images/6ariki/winning_bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .winning_1170{
    max-width: 1170px;
    margin: auto;
  }

  .winning_record_title{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
    color:#fff;
  }

  .winning_img{
      width: 375px;
      height: auto;
  }
  
section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}

.small_board{
  text-align: center;
}

section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 18px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px; 
  height: 10px;
  transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #2ecc71;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: #e67e22;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #1abc9c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #9b59b6;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
}





  .global_bg{
    background-image:url("../images/6ariki/global_bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top:5%;
    padding-bottom:8%;
  }

  .global_1170{
    max-width: 1170px;
    margin: auto;
  }

  .global_base_title{
    text-align: center;
    margin-top: 12vh;
    margin-bottom: 5vh;
    color:#fff;
  }

 .global_img_1 ,.global_img_2 ,.global_img_3 ,.global_img_4{
  position: relative;

  img{
    width: 270px;
    height: 215px;
  }
 }
 

 .global_text_1 ,.global_text_2 ,.global_text_3 ,.global_text_4{
    width: 270px;
    padding: 10px;
    box-sizing:border-box;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.5);
    position: absolute; 
    z-index: 5; 
    left: 0;  
    bottom: 3px;  
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:height .4s cubic-bezier(.32,.28,1,1.09);

 } 
 

  .text_description_1 ,.text_description_2 ,.text_description_3 ,.text_description_4{
    padding:10px;
    color:#fff;  
     }

  .clock ,.phone ,.location {
    width: 240px;
    height: 40px;
    img{
      margin-top:10px;
      margin-left:0px;
      margin-right:5px;
      width: 24px;
      height: 24px;
      float: left; }
    p{
      margin-top:10px;
      float: left;
      line-height:1.8;
      height: 24px;
      text-align:center;
      font-size:16px;
    } 
    }
  .range{
    width: 1170px;
    height: 500px;
  }
  
    
   




}/*桌機結束*/