.clearfix{
    clear:both;
}

@media screen and (min-width:768px){
    .cart-body_28{
        a{
            text-decoration: none;
            color:black;
        }
        .cart1-phone_28{
            display: none;
        }
        .btn-item{
            width: 100px;
            height: 35px;
            line-height: 35px;
            // margin: 0 auto;
            background-color: #ccc;
            border-radius: 10%;
            text-align: center;
        }
        .big-title_28{
            border-bottom: 3px solid #5A929E;
            margin-top: 1%;
            padding: 0;
            text-align: center;
            h2{
                width: 150px;
                background-color: #5A929E;
                box-sizing: border-box;
                padding: 5px;
            }
        }
        .flow_28{
            max-width: 1170px;
            width: 100%;
            height: 50px;
            margin:0 auto;
            margin-top: 5%;

            .flow-box{
                width: 60%;
                margin:0 20%;
                text-align: center;
                ul{
                    display: inline-block;
                    // padding-top: 15px;
                    li{
                        float: left;
                        text-align: center;
                        line-height: 13px;
                    }
                    li:nth-child(odd){
                        background-color: #ccc;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        line-height: 25px;
                    }
                    li:nth-child(even){
                        padding-bottom: 30px;
                        .line-item{
                            height: 3px;
                            width: 150px;
                            background-color: #ccc;
                            margin-top: 3px;
                        }
                    }
                    li:last-child{
                        position: relative;
                        .flag{
                            width: 5px;
                            height: 30px;
                            background-color:#ddd;
                            position: absolute;
                            right: 0;
                            left:0;
                            margin:auto;
                            bottom:10px;
                        }
                        .flag:after{
                            content: '◣';
                            position: absolute;
                            bottom:10px;
                        }
                    }
                    li:nth-child(1),
                    li:nth-child(2) .flowline1{
                        background-color: #5A929E;
                    }
                    li:nth-child(2) span{
                        color:#5A929E;                    
                    }
                }
            }
        }//.flow_28
        .cart1-pc_28{
            max-width: 1170px;
            width: 100%;
            margin:0 auto;

            .title-group_28{
                border: 2px #E4E4EF solid;
                background-color: #E4E4E4;
                width: 100%;
                margin:1% 0 1%;
                // margin-top: 5%;
                text-align: center;
                box-sizing: border-box;
                padding:0 50px;

                ul{ 
                    li{
                        font-size: 20px;
                    }
                }
            }

            .list-group_28{
                border:2px #ccc solid;
                width: 100%;
                margin-bottom:1%;
                text-align: center;

                .list-Pimg_28{
                    padding-top: 3%;
                    img{
                        width: 50%;
                    }
                }
                .list-Pname_28{
                    padding-top: 5%;
                    text-align: left;
                }
                .list-context_28{
                    width: 47%;
                    padding-top: 5%;
                    text-align: left;
                    p{
                        display: inline-block;
                        box-sizing: border-box;
                        // padding: 0 10%;
                    }
                    p:nth-child(1){
                        padding-left: 13%;
                    }
                    p:nth-child(2){
                        padding-left: 22%;
                    }
                    p:nth-child(3){
                        padding-left: 22%;
                    }
                    .Pamount{
                        width: 40px;                    
                    }
                }
                .list-Pchange_28{
                    // margin-top: 20px;
                    padding-top: 2%;
                    
                    .Pchange-changebtn{
                        margin:0 auto;
                        margin-bottom: 3%;                    
                    }
                    .Pchange-deletbtn{
                        margin:0 auto;
                    }
                }
            }

            .total_28{
                width: 100%;
                background-color: #ddd;
                box-sizing: border-box;
                padding: 2% 0;
                margin-bottom: 3%;

                .group-del{
                    float: left;
                    margin-left:2%;
                }

                .total-sum{
                    width: 40%;
                    margin-left:77%;

                    .total-num,
                    .total-money{
                        display: inline-block;
                        color:red;
                        font-size: 25px;
                        margin: 0 5px;
                    }
                }
            }
        }// .cart1-pc_28
        .notice_28{
            max-width: 1170px;
            width: 100%;
            margin:0 auto;
            .notice-context{
                margin-top:1%;
                margin-bottom: 1%;
                border: 1px solid black;
                box-sizing: border-box;
                padding: 1% 0;
                ul{
                    li{
                        list-style:circle;
                        margin-left: 3%;
                    }
                }
            }
        }//.notice_28
        .change-page_28{
            max-width: 1170px;
            width: 100%;
            margin:0 auto;
            margin-bottom: 1%;
            .btn-item{
                width: 150px;
                height: 50px;
                line-height: 50px;
                float: left;
                margin: 0 3px
            }
            .btn-goshop{
                margin-left:72%;
            }
        }//.change-page_28
    }//.body_28
}//media screen and (mix-width:768px)

@media screen and (max-width:767px){
    .cart-body_28{
        a{
            text-decoration: none;
            color:black;
        }
        .cart1-pc_28,
        .flow_28{
            display: none;
        }
        .cart1-phone_28{
            max-width: 767px;
            width: 100%;
            margin:0 auto;

            img{
                width: 100%;
            }
            .title-phone{
                margin: 3% 0;
                text-align: center;
            }
            .cart1-box{
                background-color: #858789;
                color:white;
                .list-Proitem{
                    text-align: center;
                    .list-ProImgtxt{
                        background-color: white;
                        .Pname{
                            color:white;
                            display: block;
                            background-color: rgba(0,0,0,0.7);
                            box-sizing: border-box;
                            padding:5px;
                        }
                    }
                }

                .list-Txtitem{
                    ul{
                        li{
                            font-size: 20px;
                            margin-bottom:10px;
                            .Pmoney{
                                margin-left:20px;
                            }
                            .Pamount{
                                width: 50px;
                                margin-left: 20px;
                            }
                            .Psub{
                                margin-left:20px;
                            }
                        }
                        .btn-item{
                            width: 100%;
                            height: 30px;
                            background-color: #ccc;
                            color:black;
                            text-align: center;
                        }
                    }
                }
            }
        }//cart1-phone_28
    }//.cart-body_28
}//media screen and (max-width:767px)