@media screen and (max-width:767px){
	.bg_forest_2{
		.lightboxgroup{
			.lightboxarea{
				background-position: 0% 175%;
			}			
		} 
		.comfirmlightboxgroup{
			.comfirmlightboxarea{
				margin: 10px;
				.comfirmlightboxcontent{
					text-align: left;
				}
			}			
		}

		.step1_maxContent{
			position: relative;
			width: 100%;
			height: 100vh;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
					.svgboard{
						top: 3%;
					    width: 129%;
					    right: -10%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 5%;
    				top: 3%;
    				.rwdSelectboardMenu{
    					border: 1px solid #fff;
    					color: #fff;
    					text-align: center;
    					li{
    						padding: 10px;
    						border-bottom: 1px solid rgba(255,255,255,0.4);
    						&.click{
    							background-color: #e97b23;
    						}
    					}
    				}
				}
				.rwdintroduce{
					display: block;
					position: absolute;
					width: 45%;
					background-color: rgba(0,0,0,0.6);
					color: #fff;
					padding:23px 10px;
					top: 47%;
    				left: -51%;
					z-index: 6;
					transition:1s;
					.rwdintroducefix{
						position: relative;
						.btnfield{
							width: 5%;
							position: absolute;
							top: -23px;
   							right: -59px;
							background-color: #fff;
							color: #555;
							padding: 37px 20px 10px 20px;
							text-align: right;
							font-weight: bold;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
						}
						i{
							font-size: 23px;
							position: absolute;
							right: 11px;
    						top: 11px;
    						color: #999;
   							// text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
						}
						#rwdHideInfoBtn{
							display: none;
						}
					}
					&.show{
						transition:1s;
						left: 0%;
						#rwdHideInfoBtn{
							display: block;
						}
						#rwdShowInfoBtn{
							display: none;
						}
					}
					
				}
			}
			.next{
				position: absolute;
				right: -283%;
				bottom: 0;
				#step1tostep2{
			    margin: 0;
			    width: 100%;
			    box-sizing: border-box;
			    padding: 5px 10px;

				}
			}
		}
		.step2_maxContent{
			position: relative;
			width: 100%;
			height: 100vh;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
						width: 153%;
						left: -28%;
					}
					.svgboard{
					    width: 99%;
					    top: 3%;
					    left: -10%;
					}
				}
				.rwdselectstyle{
					width: 82%;
					display: block;
					position: absolute;
					right: 0;
					top: -8%;
					padding: 0 10px;
					.btn{
						width: 25%;
						border: 1px solid #fff;
						border-radius: 5px;
						padding: 5px;
						color: #fff;
						float: right;
						margin: 0 0 0 -5%;
						text-align: center;
						&.click{
							background-color: #e97b23;
							color: #12314c;
							border: none;
						}
					}
					.selectgroup{
						margin: 5px 0;
					}
					.colorgroup{
							color: #fff;
						.colorall{
							margin: 10px 0;
							width: 34%;
							float: right;
							background-color: rgba(0,0,0,0.2);
							padding:10px;
							text-align: center;
							.color{
								margin:0 2px;
								width: 25%;
								display: inline-block;
								&:nth-child(1) .circle{
									background-color: #fff;
								}
								&:nth-child(2) .circle{
									background-color:rgb(0, 155, 216);
								}
								&:nth-child(3) .circle{
									background-color: rgb(255, 209, 5);
								}
								.circle{
									width: 100%;
									padding-top: 100%;
									border-radius: 50%;
									display: inline-block;
								}
							}

						}
					}
					.patterngroup{
						.patternarea{
							width: 34%;
							margin: 10px 0;
							background-color: rgba(255,255,255,0.2);
							color: #fff;
							float: right;
							.top{
								overflow: hidden;
								.allpattern{
									width: 150vw;
									transform:translateX(0vw);
									.pattern{
										width: 30vw;
										display: inline-block;
										img{
											width: 100%;
										}
									}
								}
								.arrow{
									background-color:rgba(255,255,255,0.8);
									.arrowbtn{
										text-align: center;
										display: inline-block;
										width: 50%;
										color: rgba(0,0,0,0.6);
										box-sizing:border-box;
										&:active{
											background-color: #e97b23;
											color: #fff;
										}
										&.pre{
											border-right: 1px solid rgba(0,0,0,0.3);
											margin: 0 -2% 0 0;
										}
										&.next{
											margin: 0 -2% 0 -2%;
										}
									}
								}
							}
							.bottom{
								padding: 10px 0;
								text-align: center;
							}
						}
					}
					.texturegroup{
						.texturecontent{
							.title{
								color: #fff;
								background-color: rgba(255, 130, 0, 0.1);
								padding: 5px;
								text-align: center;
							}
							margin: 10px 0;
							width: 30%;
							float: right;
							background-color: rgba(0,0,0,0.2);
							padding: 2px;
							.alltexture{
								padding: 10px 0;
								text-align: center;
								.texture{
									display:block;
									width: 60%;
									margin: auto;
									&.selected{
										outline: 2px solid #e97b23;
									}
									img{
										width: 100%;
									}
								}
							}
						}
					}
				}
				.rwdintroduce{
					display: block;
					position: absolute;
					width: 45%;
					background-color: rgba(0,0,0,0.6);
					color: #fff;
					padding:23px 10px;
					top: -13%;
    				left: -51%;
					z-index: 6;
					transition:1s;
					.rwdintroducefix{
						position: relative;
						.texturetitle{
							color: #e97b23;
							padding: 5px 0px;
							margin:0 0 5px 0;
							border-bottom:1px solid rgba(255,255,255,0.3);
							letter-spacing: 1px;
						}
						.btnfield{
							width: 5%;
							position: absolute;
							top: -23px;
   							right: -56px;
							background-color: #fff;
							color: #555;
							padding: 37px 20px 10px 20px;
							text-align: right;
							font-weight: bold;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
						}
						i{
							font-size: 23px;
							position: absolute;
							right: 11px;
    						top: 11px;
    						color: #999;
   							// text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
						}
						#rwdHideInfoBtn{
							display: none;
						}
					}
					&.show{
						transition:1s;
						left: 0%;
						#rwdHideInfoBtn{
							display: block;
						}
						#rwdShowInfoBtn{
							display: none;
						}
					}
					
				}

			}
			.selectAndNextfix{
				display: none;
			}
			.selectAndNext{
				padding-top: 0;
				width: 96%;
				right: 0;
				left: 0;
				margin: auto; 
				.next{
					position: absolute;
					right: 0%;
					bottom: 0;
					left: 2%;
					margin:auto;
					width: 100%;
					transform:translateY(-24%);
					#step2tostep3{
						margin: 5px 8px;
						width: 23.5%;
						box-sizing:border-box;
						padding: 5px 10px;
					}
					#step2tostep1{
						width: 23.5%;
						margin: 5px 8px;
						float: left;
						box-sizing:border-box;
						padding: 5px 10px;
					}
				}	
			}
			
		}
		.step3_maxContent{
			display: block;
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				display: none;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;

					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 3%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}

			}
			.fill{
				width: 100%;
				display: block;
				position: static;
				padding: 0 20px;
				box-sizing:border-box;
				.fillfix{
					position: static;
					display: block;
					padding:10px 20px;
					margin: 10px 0;
					box-sizing:border-box;
					.head{
					    width: 47%;
					    margin: 11px 0 0 -20px;
					    font-size: 14px;
						font-weight: normal;
					}
					.total{
						margin: 10px 0;
						transform: translateX(7px);
					}
					.contentgroup{
						.content{
							padding: 20px 2px 10px 0;
							width: 100%;
							h3{
								font-size: 15px;
							}
							.next{
								.arikicommon_next_btn{
									margin: 5px 8px;
									width: 29.5%;
									box-sizing:border-box;
									padding: 5px 10px;			
								}
								#step3tostep2{
									float: left;
								}
							}
						}
					}
				}
			}
			.selectAndNext{
				display: none;
			}
			
		}
		.step4_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			
			.fill{
				all: unset;
				width: 100%;
				display: block;
				position: static;
				.fillfix{
					all: unset;
					display: block;
					padding:0px 20px;
					margin: 10px 0;
					box-sizing:border-box;
					.content{
						.right{
							.title{
								width: 57%;
							}
						}
						.demogroup{
							width: 100%;
							position: absolute;
							right: -25%;
    						bottom: 5%;
							.demo{
								width: 24%;
								margin: auto;
								position: relative;
							}
							.rwdselectboard{
								display: block;
								position: absolute;
								right: 6%;
			    				top: 11%;
			    				select {
			    					width: 100%;
			    					padding: 10px;
			    					background-color: transparent;
			    					color: #fff;
			    					option{
			    						color: #000;
			    						text-align: center;
			    						&:hover{
			    							background: #000;
			    						}
			    					}
			    				}
							}
						}
						.right{
							.next{
								text-align: right;
								margin: 0;
								width: 100%;
								.arikicommon_next_btn{
									margin: 0;
								    width: 38%;
								    box-sizing: border-box;
								    padding: 5px 10px;
								    text-align: center;
								}
								#step4tostep3{
									float: left;
								}
								#finishorder{
									float: right;
								}
								
									a{
										margin: 10px;
									}	
								
							}
						}

					}
				}
			}
			
		}
	}
}