@media screen and (max-width:767px){
	.bg_forest_2{
		height: 100vh;
		.step1_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.next{
				position: absolute;
				right: -283%;
				bottom: 0;
				#step1tostep2{
					margin: 0;
				}
			}
		}
		.step2_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.selectAndNextfix{
				display: none;
			}
			.selectAndNext{
				padding-top: 0;
				.next{
					position: absolute;
					right: -283%;
					bottom: 0;
					width: 100%;
					#step2tostep3{
						margin: 0;
						width: 58%;
					}
				}	
			}
			
		}
		.step3_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				display: none;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.fill{
				all: unset;
				width: 100%;
				display: block;
				position: static;
				.fillfix{
					all: unset;
					display: block;
					padding:0px 20px;
					margin: 10px 0;
					box-sizing:border-box;
				}
			}
			
		}
		.step4_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				display: none;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.fill{
				all: unset;
				width: 100%;
				display: block;
				position: static;
				.fillfix{
					all: unset;
					display: block;
					padding:0px 20px;
					margin: 10px 0;
					box-sizing:border-box;
				}
			}
			
		}
	}
}