@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機
%testsha{
	text-shadow:1px 1px 5px rgba(0,0,0,0.8);
}
%bgrp{
	background-repeat: no-repeat;
	background-position: top;
}
%orangebtn{
    background-color: #e97b23;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
%whiteblacklineright{
	box-shadow: 1px 0px 0px #000, 2px 0px 0px rgba(255, 255, 255, 0.6);
	&:last-child{
		box-shadow: none;
	}	
}

.bg_forest_2{
	background-image: url('../images/2board/forest.png');
	@extend %bgrp;
	background-size: cover;
	width: 100%;
	position: relative;
	background-position: center;
	padding: 4% 0 4% 0;

	.lightboxgroup{
		width: 100%;
	    height: 100%;
	    background-color: rgba(0, 0, 0, 0.5);
	    text-align: center;
	    position: fixed;
	    left: 0;
	    top: 0;
	    z-index: 100;
	    display: none;
	    .lightboxarea{
	    	max-width: 200px;
		    max-height: 150px;
		    background-color: white;
		    position: relative;
		    top: 50%;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    padding: 10px;
		    transform:translateY(-50%);
		    margin: 0 auto;
		    box-sizing: border-box;
		    border-radius: 5px;
		    p{
		    	height: 20vh;
		    	line-height: 20vh;
		    }
		    #closebtn{
		    	position: absolute;
		    	right: 0;
		    	top: 0;
		    }
	    }
	}
	.step1_maxContent{
		max-width: $navmaxwidth;
		margin: auto;
		position: relative;
		// text-align: center;
		.stepbar{
			text-align: left;
			background-image: url('../images/2board/strpbar.png');
			@extend %bgrp;
			width: 20%;
			background-size: contain;
			padding-top:1.7%;
			margin: 0 auto 3vh auto;
			position: relative;
			.circle{
				width: 10%;
				padding-top: 10%;
				border-radius: 50%;
				background: linear-gradient(#ffcf8d,#ff7b00);
				margin-left: 13%;
				position: relative;
			}
			.circle:after{
				content:'1';
				position: absolute;
				color: #fff;
				top: 0;
				right: 0;
				bottom: 0;
				left: 30%;
				margin: auto;
				@extend %testsha;
			}
			h3.undercircle{
				color: #fff;
				margin: 10px 0;
			}
			.title{
				color: #fff;
				position: absolute;
			    right: -147%;
			    top: 43%;
			}
		}
		.introduce{
			vertical-align: top;
			width: 100%;
			display: inline-block;
			width: 25%;
			// background-image: url('../images/2board/insidebox.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			padding: 4% 0 4% 4%;
			margin: 2% 0 0 9%;
			position: relative;
			.pricegroup{
				width: 31%;
				position: absolute;
				color: #fff;
				top: -14%;
    			left: 61%;
				background: rgba(0,0,0,0.1);
				box-shadow: 0px 0px 5px rgba(0,0,0,0.2) inset;
				border-radius: 10px;
				padding: 10px 10px 10px 20px;
				.priceshowgroup{
					margin: 0 0 0 10px;
				}
			}
			.introducefix{
				position: absolute;
				.head{
					padding: 8px 20px;
					color: #fff;
					background-image: url('../images/2board/introducehead.png');

				}
				.content{
					background-color: #2e2e2e;
					color: #fff;
					padding: 20px;
					.contentimg{
						margin: 20px -20px;
						img{
							width: 100%;
						}
					}
				}
			}
		}
		.demogroup{ //我是步驟一
			vertical-align: top;
			display: inline-block;
			width: 28%;
			.demo{				
			    width: 43%;
			    margin: 0 0 0 28%;
			    position: relative;
			    padding-top: 109%;
				img{
					width: 100%;
					position: absolute;
				}
				.boarddemo{
					top: 0;
					left: 0;
					z-index: 2;
				}
				.base{
					bottom: -37%;
				    left: -24%;
					width: 150%;
				}
				.svgboard{
					position: absolute;
					top: 0;
					z-index: 2;
					width: 100%; 
				}
				
				
			}
			.rwdselectboard{
				display: none;
			}
			.rwdintroduce{
				display: none;
			}			
		}
		.selectAndNext{
			width: 25%;
			padding-top: 40%;
			display: inline-block;
			position: relative;
			.selectAndNextfix{
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				.selectboard{
					background-image: url('../images/2board/borderselectfield.png');
					background-size: cover;
					background-repeat: no-repeat;
					padding: 8% 8% 0 8%;				
					box-sizing:border-box;
					overflow: hidden;
					margin: -15% 0 0 0;
					.head{
						background-color: rgba(255,130,0,0.1);
						padding:20px 10px 10px 20px;
						margin: 0 -5px 0 -5px;
						border-radius: 16px 16px 0 0;
						color: #fff;
						span{
							font-size: 14px;
							margin: 0 5px;
						}
					}
					.boardgroup{
						width: 100%;
						.board{
							position: relative;
							padding-top: 26%;
							display: block;
							box-shadow: 0px 1px 0px #000,0px 2px 0px rgba(255,255,255,0.2);
							&:last-child{
								box-shadow:none;
							}
							img{
								position: absolute;
								height: 70%;
								right: 10px;
								bottom: 10px;
							}
							&.click{
								background-color: #e97b23;
								box-shadow: 5px -5px 10px rgba(0,0,0,0.2) inset;
								img{
								    -webkit-filter: drop-shadow(8px 6px 6px rgba(0,0,0,0.2)); /* Safari */
								    filter: drop-shadow(8px 6px 6px rgba(0,0,0,0.2));
								}
							}
						}
						.selected{
							// -webkit-filter: drop-shadow(1px 1px 5px rgba(240,146,35,0.6));
		  			// 		filter: drop-shadow(1px 1px 5px rgba(240,146,35,0.6));
						}
					}
					.boardcontent{
						.boardname{
							position: relative;
							background: linear-gradient(#f09223,rgba(240,146,35,0.6));
							text-align: center;
							padding: 6px;
							margin: 15px 0 0 0;
							color: #fff;
							text-shadow:1px 1px 5px rgba(0,0,0,0.3);
							h3{
								font-weight: 400;
							}
							.arrow{
								width: 0;
								height: 0;
								border-right: 10px solid transparent;
								border-left: 10px solid transparent;
								border-bottom: 10px solid #f09223;
								position: absolute;
							    top: -26%;
							    left: 70%;
							}
						}
						.boardintroduce{
							background-color: rgba(255,255,255,0.6);
							padding: 20px 10px;
							box-shadow: 1px 1px 10px rgba(0,0,0,0.1) inset;
							color: #444;
							th{
								width:26%;
							}
						}

					}


				}
				.next{
								
					a{
						display: inline-block;
						float: right;
						margin: 4% 7% 0 0;
					}
				}	
			}		
		}

	}
	.step2_maxContent{
		max-width: $navmaxwidth;
		margin: auto;
		// text-align: center;
		.stepbar{
			text-align: left;
			background-image: url('../images/2board/strpbar.png');
			@extend %bgrp;
			width: 20%;
			background-size: contain;
			padding-top:1.7%;
			margin: 0 auto 3vh auto;
			position: relative;
			.circle{
				width: 10%;
				padding-top: 10%;
				border-radius: 50%;
				background: linear-gradient(#ffcf8d,#ff7b00);
				margin-left: 34%;
				position: relative;
			}
			.circle:after{
				content:'2';
				position: absolute;
				color: #fff;
				top: 0;
				right: 0;
				bottom: 0;
				left: 30%;
				margin: auto;
				@extend %testsha;
			}
			h3.undercircle{
				color: #fff;
				margin: 10px 0 10px 24%;
			}
			.title{
				color: #fff;
				position: absolute;
			    right: -147%;
			    top: 43%;
			}
		}
		.introduce{
			vertical-align: top;
			width: 100%;
			display: inline-block;
			width: 25%;
			// background-image: url('../images/2board/insidebox.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			padding: 4% 0 26.4% 4%;
			margin: 10% 0 0 9%;
			position: relative;
			.pricegroup{
				width: 31%;
				position: absolute;
				color: #fff;
			    top: -30%;
			    left: 61%;
				background: rgba(0,0,0,0.1);
				box-shadow: 0px 0px 5px rgba(0,0,0,0.2) inset;
				border-radius: 10px;
				padding: 10px 10px 10px 20px;
				.priceshowgroup{
					margin: 0 0 0 10px;
				}
			}
			.introducefix{
				position: absolute;
				width: 125%;
				left: -19%;
				.head{
					padding: 8px 20px;
					color: #fff;
					background-image: url('../images/2board/introducehead.png');
					position: relative;
					.headimg{
						.headimgfix{
							position: absolute;
						    top: -135%;
						    right: -7%;
							img{
								width: 100%;
							}
						}
						
					}
				}
				.content{
					background-color: #2e2e2e;
					color: #fff;
					padding: 20px;
					line-height: 23px;
				}

			}
		}
		.demogroup{ //我是步驟二
			vertical-align: top;
			display: inline-block;
			width: 28%;
			.demo{				
			    width: 33%;
			    margin: 0 0 0 28%;
			    position: relative;
			    padding-top: 109%;

				.svgboard{
					position: absolute;
					top: 0;
					left: 9%;
					z-index: 2;
					width: 100%;
				}
				img{
					width: 100%;
					position: absolute;
				}
				.boarddemo{
					top: 0;
					left: 0;
					z-index: 2;
				}
				.base{
				    bottom: -37%;
				    left: -31%;
				    width: 196%;
				}
				#draggroup{
					position: absolute;
				}
				.patternshow{
					position: absolute;
					width:160%;
					z-index: 3;
					img{
						width: 100%;	
					}
				}
			}
			.rwdselectstyle{
				display: none;
			}
			.rwdintroduce{
				display: none;
			}			
		}
		.selectAndNext{
			width: 25%;
			display: inline-block;
			padding-top: 40%;
			position: relative;
			margin: -2% 0 0 0;
			.selectAndNextfix{

				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				.whitebtn{
					color: #fff;
					padding: 10px 20px;
					border: 1px solid #fff;
					border-radius: 5px;
					width: 30%;
					text-align: center;
					float: right;
					cursor: pointer;
				}
				.orangebtn{
					background-color: #e97b23;
					border: none;
					color: #12314c;
					font-weight: bold;
				}
				.colorgroup{
					.colorselectgroup{
						margin: 10px 0;
						padding: 10px;
						background-color: rgba(0,0,0,0.2);
						border-radius: 10px;
						width: 63%;//
						float: right;//
						.color{
							display: inline-block;
							width:30%; //18%;
							text-align: center;
							color: #fff;
							padding: 10px 1px;
							@extend %whiteblacklineright;
							.circle{
								background-color: #f00;
								border-radius: 50%;
								width: 40%;
								padding-top: 40%;
								display: inline-block;
								position: relative;
							}
							.circle:after{
								content: '';
								border: 1px solid rgba(255,255,255,0.6);
								border-radius: 50%;
								position: absolute;
							    width: 140%;
							    padding-top: 140%;
							    top: -26%;
							    left: -22.7%;							
							}
							p{
								margin: 10px 0 0 0;
							}

						}
					}
				}
				.patterngroup{
					margin:3% 0;
					.patternselectgroup{
						background-image: url('../images/2board/step2/patternselectfield.png');
						background-size: 103% 103%;
						background-repeat: no-repeat;
						background-position: 100% 5%;
						margin:2% -5%;
						position: relative;
						padding-top: 104%;
						.patternselectgroupfix{
							width: 100%;
							position: absolute;
							top: 0;
							left: 0;
							.head{
								color: #fff;
							    background-color: rgba(255, 130, 0, 0.1);
							    padding: 5% 5% 5% 5%;
							    margin:  5% 7% 5% 1%;
							    border-radius: 16px 16px 0 0;
							    p{
							    	text-transform:capitalize;
							    	display: none;
							    	&:nth-child(1){
							    		display:block;
							    	}
							    }

							}
							.patternframe{
									width: calc(100% - 44px);
									overflow-x:scroll; 
									margin: auto;
									transform:translateX(-0.5vw);
									&::-webkit-scrollbar
									{
									  width: 12px;  /* for vertical scrollbars */
									  height: 12px; /* for horizontal scrollbars */
									}

									&::-webkit-scrollbar-track
									{
									  background: rgba(255, 255, 255, 0.1);
									}

									&::-webkit-scrollbar-thumb
									{
									  background: rgba(255, 130, 0, 0.1);
									}
								.patterns{
									height: 10vh;
									overflow-y:hidden; 
									.pattern{
										width: 5vw;
										display: inline-block;
										margin: 0 -5px 0 -5px ;
										cursor: pointer;
										img{
											width: 100%;
											// opacity: 0.2;
										}
									}
								}							
							}
							.scroll{
								display: none;
								width: 81%;
							    height: 6px;
							    background-color: rgba(255, 255, 255, 0.3);
							    border-radius: 5px;
							    margin: 1% 1% 1% 6%;
							    position: relative;
								.controller{
								    width: 100%;
								    position: absolute;
								    top: 0%;
								    left: 39%;
								    margin: -5% 0 0 0;
								}
							}
							.uploadgroup{
								color: #fff;
								margin: 2% 9%;
								.introduceUpload{
									width: 61%;
									display: inline-block;
								}
								.uploadbtn{
									cursor: pointer;
									display: inline-block;
								}
							}

						}
					}
				}
				.texturegorup{
					.textureselect{
						background-image: url('../images/2board/step2/texturefield.png');
						background-size: 100% 100%;
						position: relative;
						width: 108%;
						padding-top: 71%;
						margin: 0 -7%;
						.textureselectfix{
							width: 100%;
							color: #fff;
							position: absolute;
							top: 0;
							left: 0;
							.head{
								width: 80%;
							    background-color: rgba(255, 130, 0, 0.1);
							    padding: 5% 5% 5% 5%;
							    margin:  5% 7% 5% 5%;
							    border-radius: 16px 16px 0 0;
							}
							.texturegroup{
								width: 90%;
								margin: auto;
								.texture{
									width: 32%;
									display: inline-block;
									@extend %whiteblacklineright;
									&.click{
										outline: 2px solid #e97b23;
									}
									img{
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
			.next{
				position: absolute;
				width: 94%;
				bottom: -9%;
				right: 0;
				float: right;
				text-align: right;
				a{
					display: inline-block;
					
					margin: 6% 0 0 7%;
				}
			}			
		}

	}
	.step3_maxContent{
		max-width: $navmaxwidth;
		margin: auto;
		text-align: center;
		padding: 0 0 5% 0;
		.stepbar{
			text-align: left;
			background-image: url('../images/2board/strpbar.png');
			@extend %bgrp;
			width: 20%;
			background-size: contain;
			padding-top:1.7%;
			margin: 0 auto 3vh auto;
			position: relative;
			.circle{
				width: 10%;
				padding-top: 10%;
				border-radius: 50%;
				background: linear-gradient(#ffcf8d,#ff7b00);
				margin-left: 56%;
				position: relative;
			}
			.circle:after{
				content:'3';
				position: absolute;
				color: #fff;
				top: 0;
				right: 0;
				bottom: 0;
				left: 30%;
				margin: auto;
				@extend %testsha;
			}
			h3.undercircle{
				color: #fff;
				margin: 10px 0 10px 38%;
			}
			.title{
				color: #fff;
				position: absolute;
			    right: -158%;
			    top: 43%;
			}
		}
		.demogroup{ //我是步驟三
			vertical-align: top;
			display: inline-block;
			width: 16%;
			position: relative;
			.demo{
				margin: auto;				
			    width: 80%;
			    position: relative;
			    padding-top: 142%;
			    // #step3result{
			    // 	position: absolute;
			    // 	top: 0;
			    // 	left: 0;
			    // 	width: 100%;
			    // 	height: 100%;
			    // }
				img{
					width: 100%;
				}
				.boarddemo{
					top: 0;
					left: 0;
					z-index: 2;
				}
				.base{
					bottom: -37%;
				    left: -24%;
					width: 150%;
				}
				#png-container{
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}		
		}
		.fill{
			vertical-align: top;
			display: inline-block;
			// background-image: url('../images/2board/insidebox.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			padding: 26%;
			position: relative;
			.fillfix{
			    position: absolute;
			    width: 100%;
			    top: 0;
			    left:0;
			    background-color: rgba(0,0,0,0.2);
				.head{
					display: inline-block;
					padding: 8px 20px;
					color: #fff;
					// background-image: url('../images/2board/step3/head.png');
					// background-size: cover;
					background-color: #e97b23;
					padding: 10px;
					width: 30%;
					text-align: right;
					margin: 15px 0;
					float: left;
					h3{
						
						
					}
				}
				.total{
					display: inline-block;
					float: right;
					margin: 17px 61px 0 0;
    				text-align: right;
					.totalfix{
						color: rgba(255,255,255,0.5);		
						h4{
							margin: 5px 0;	
						}		
					    .number{
					    	vertical-align: middle;
					    	display: inline-block;
					    	h3{
					    		font-size: 30px;
					    		color: #fff;
					    	}
					    }
						.detail{

							margin: 0 10px;
							vertical-align: middle;
							display: inline-block;
							display: none;
							vertical-align: middle;
							padding:5px 5px;
							border: 1px solid rgba(255,255,255,0.5);
							border-radius: 5px;
							cursor: pointer;
							transition:0.5s;
							&:hover{
								border: 1px solid #e97b23;
								color: #e97b23;
							}
						}
					}
				}	
				.contentgroup{
					text-align: center;
					position: relative;
					.content{
						width: 80%;
						color: rgba(255,255,255,0.6);
						padding: 7px 10px 10px 10px;
						display: inline-block;
						h3{
							font-weight: 100;
						}
						table{
							width: 100%;
							th{
								width: 36%;
							}
							td{
								padding: 10px 10px 10px 0;
								input{
									width: 100.6%;
									padding: 8px 5px;
									box-sizing:border-box;
									border-radius: 5px;
									background-color: rgba(255,255,255,0.6);
									border:none;
								}
								textarea{
									width: 101%;
									padding: 8px 5px;
									box-sizing:border-box;
									resize:none;
									border-radius: 5px;
									background-color: rgba(255,255,255,0.6);
									border:none;
								}
							}

						}
						.next{
							text-align: right;
							a{
								display: inline-block;
								margin: 20px 10px;
							}
						}
					}

				}

			}
		}

	}
	.step4_maxContent{
		max-width: $navmaxwidth;
		margin: auto;
		// text-align: center;
		.stepbar{
			text-align: left;
			background-image: url('../images/2board/strpbar.png');
			@extend %bgrp;
			width: 20%;
			background-size: contain;
			padding-top:1.7%;
			margin: 0 auto 3vh auto;
			position: relative;
			.circle{
				width: 10%;
				padding-top: 10%;
				border-radius: 50%;
				background: linear-gradient(#ffcf8d,#ff7b00);
				margin-left: 77%;
				position: relative;
			}
			.circle:after{
				content:'4';
				position: absolute;
				color: #fff;
				top: 0;
				right: 0;
				bottom: 0;
				left: 30%;
				margin: auto;
				@extend %testsha;
			}
			h3.undercircle{
				color: #fff;
				margin: 10px -20% 10px 38%;
				padding-top: 1em;
				position: relative;
				span{
					top: 0;
					left: 27%;
					position: absolute;
				}
			}
			.title{
				color: #fff;
				position: absolute;
			    right: -158%;
			    top: 43%;
			}
		}
		.fill{
			vertical-align: top;
			width: 60%;
			margin: auto;
			// background-image: url('../images/2board/insidebox.png');
			background-repeat: no-repeat;
			background-position: top;
			background-size: cover;
			position: relative;
			.fillfix{
				.head{
					padding: 8px 20px;
					color: #fff;
					background-image: url('../images/2board/step3/head.png');
					background-size: cover;
					
				}
				.content{
					padding: 5% 0px;
					background-color: rgba(0,0,0,0.2);
					color: rgba(255,255,255,0.8);
					line-height: 30px;
					.demogroup{						
						.demo{				
						    width: 50%;
						    margin: auto;
							img{
								width: 100%;
							}
							
						}	
					}
					.right{
						.title{
							width: 50%;
							color: #e97b23;
							padding: 10px 0;
							border-bottom: 2px solid rgba(255,255,255,0.6);
						}
						.infocontent{
							padding: 2% 0px;
							#orderpattern{
								text-transform: capitalize;
							}
						}
						.next{
							text-align: right;
							margin: 0 34px 0 0;
							a{
								display: inline-block;
								margin: 20px;
							}
						}
					}
				}

			}
		}
		.selectAndNext{
			width: 25%;
			display: inline-block;
			padding-top: 40%;
			position: relative;			
		}

	}
}