@media screen and (max-width:767px){
	.bg_forest_2{
		.step1_maxContent{
			position: relative;
			width: 100%;
			height: 100vh;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 5%;
    				top: 11%;
    				.rwdSelectboardMenu{
    					border: 1px solid #fff;
    					color: #fff;
    					text-align: center;
    					li{
    						padding: 15px 20px;
    						border-bottom: 1px solid rgba(255,255,255,0.4);
    						&.click{
    							background-color: #e97b23;
    						}
    					}
    				}
				}
				.rwdintroduce{
					display: block;
					position: absolute;
					width: 45%;
					background-color: rgba(0,0,0,0.6);
					color: #fff;
					padding:23px 10px;
					top: 66%;
    				left: -51%;
					z-index: 6;
					transition:1s;
					.rwdintroducefix{
						position: relative;
						.btnfield{
							width: 5%;
							position: absolute;
							top: -23px;
   							right: -59px;
							background-color: #fff;
							color: #555;
							padding: 37px 20px 10px 20px;
							text-align: right;
							font-weight: bold;
							box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
						}
						i{
							font-size: 23px;
							position: absolute;
							right: 11px;
    						top: 11px;
    						color: #999;
   							// text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
						}
						#rwdHideInfoBtn{
							display: none;
						}
					}
					&.show{
						transition:1s;
						left: 0%;
						#rwdHideInfoBtn{
							display: block;
						}
						#rwdShowInfoBtn{
							display: none;
						}
					}
					
				}
			}
			.next{
				position: absolute;
				right: -283%;
				bottom: 0;
				#step1tostep2{
					margin: 0;
				}
			}
		}
		.step2_maxContent{
			position: relative;
			width: 100%;
			height: 100vh;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.selectAndNextfix{
				display: none;
			}
			.selectAndNext{
				padding-top: 0;
				.next{
					position: absolute;
					right: -283%;
					bottom: 0;
					width: 100%;
					#step2tostep3{
						margin: 0;
						width: 58%;
					}
				}	
			}
			
		}
		.step3_maxContent{
			display: block;
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				display: none;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.fill{
				all: unset;
				width: 100%;
				display: block;
				position: static;
				.fillfix{
					all: unset;
					display: block;
					padding:0px 20px;
					margin: 10px 0;
					box-sizing:border-box;
					.content{
						padding: 10px 2px 0 0;
						h3{
							font-size: 15px;
						}
					}
				}
			}
			.selectAndNext{
				display: none;
			}
			
		}
		.step4_maxContent{
			position: relative;
			width: 100%;
			.stepbar{
				width: 60%;
				.title{
					display: none;
				}
				.circle{
					margin-top: 5%;
				}
			}
			.introduce{
				display: none;
			}
			.selectboard{
				display: none;
			}
			.demogroup{
				width: 100%;
				position: relative;
				display: none;
				.demo{
					width: 28%;
					padding-top: 70vh;
					margin: auto;
					position: relative;
					.base{
						bottom: -3%;
					}
				}
				.rwdselectboard{
					display: block;
					position: absolute;
					right: 6%;
    				top: 11%;
    				select {
    					width: 100%;
    					padding: 10px;
    					background-color: transparent;
    					color: #fff;
    					option{
    						color: #000;
    						text-align: center;
    						&:hover{
    							background: #000;
    						}
    					}
    				}
				}
			}
			.fill{
				all: unset;
				width: 100%;
				display: block;
				position: static;
				.fillfix{
					all: unset;
					display: block;
					padding:0px 20px;
					margin: 10px 0;
					box-sizing:border-box;
					.next{
						text-align: right;
					}
				}
			}
			
		}
	}
}