@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

$textsha:1px 1px 5px rgba(0,0,0,0.8);/*文字陰影*/
$top:16vh;

.Sashimi {
  overflow-y: hidden; 
}
#goTop{
	display: none;
}

%textsha{
	text-shadow:1px 1px 5px rgba(0,0,0,0.8);
}
%whiteword{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	color: #fff;
}
%navmax{
	max-width: $navmaxwidth;
	margin: auto;
	width: 100%;
} 
%h2p{
		line-height: 25px;
	h2{
		margin: 15px 0;
	}
}
%bgnrpc{
	background-repeat: no-repeat;
	background-position: center;
}
%orangetitle{
	color: #e97b23;
}
%blackbtn{
	background-color:  #1a191c;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
}
body{
	overflow-x:hidden; 
	overflow-y:hidden; 

}
.loading_bg{
	display: none;
}

		.navDetail .navfix .navimg .logo .logofix .arikicommon_breadcrumb{
			display: none;
		}
		.banner_1{
			width: 100%;
			padding-top: 52%;
			overflow: hidden;
			position: relative;
			background-color:#11334e; 
			text-align: center;
			color:#fff;
			// z-index: -1;
			// background-image: url("../images/1common/banner.png");
			@extend %bgnrpc;
			// video{
			// 	position: absolute;
   			//  			top: -30vh;
			// }

			h2{
				opacity: 0.5;
				position:relative;
				// top:37vh; 
				right: 0;
				left:15px;
				margin: auto;

				font-size: 30px;
			}
			
			.Button_Entrance{
				position:relative;
				
				right: 0;
				left:15px;
				margin: auto;
				margin-top:3%; 
				font-size: 30px;
				.Button_Entrance2{
					margin:1%; 
					padding:30px;
					color:#fff;
					border-radius: 50%;
					// border:2px solid #fff;
					box-shadow: 0px 0px 0px 2px #ddd,0px 0px 0px 6px #587392; 
					transition:.5s cubic-bezier(.68,.05,.22,.75);
				}
			}
			
		}

		
		.Button_Entrance .Button_Entrance2:hover{
			color:#ff9630;
			// font-weight:bold;
			// background-color:#ff9630;
			box-shadow:0px 0px 0px 2px #ff9630,0px 0px 0px 0px,0px 0px 0px 3px #ff9630 inset,0px 0px 0px 5px #fff inset,;  
		}
		
			// ===========================================================================
		.cloud{

			// background-image:url("../images/1common/coastal.jpg");
			// background-size:cover;
			// background-repeat: no-repeat; 
			position: relative;
			margin-top:10%;
			// background-color:#f00;
			width: 100%;
			// height:150vh; 

			
			.seawater{
				position:absolute;
				bottom: 3%;
				z-index:28;
				width:100%;
				height: 150px;
				background-image: url('../images/1common/seawater_shadow.png');
				background-repeat: repeat-y;
				// background-color: #f00; 

				
			}



			.Will_hurt_the_stoneA{
					position:absolute;
					top:-180%;
					left:-12%;
					z-index:29;
			}

			.Will_hurt_the_stoneB{
					position:absolute;
					top:-150%;
					right: -12%;
					z-index:29;
			}	


			.cloud1{
				width: 100vw;

				// background-color: #142737;
			}

			.cloud2{

				width:120vw;
				top:15%;
				left:-55%; 
				opacity: 0.3;
				position:absolute;
				z-index:20;
				transition:15s;
				

				img{
					width: 100%;
					filter: blur(20px);
				}  
			}


			.cloud3{

				width:100vw;
				top:-3%;
				right: -45%; 
				opacity: 0.3;
				position:absolute;
				z-index:21;
				transition:15s;
				

				img{
					width: 100%;
					filter: blur(20px);
				}  
			}

			.cloud4{

				width:50vw;
				top:10%;
				right:40%; 
				opacity:1;
				position:absolute;
				z-index:23;
				transition:10s;
				

				img{
					width: 100%;
					// filter: blur(20px);
				}  
			}

		}



			
		.coconut{
			position:absolute;
			top:-450%;
			left:0%;

		}	

		.coconut2{
			position:absolute;
			top:-450%;
			right:0%;

		}	


		.gradient_bambooo{
			position: absolute;

			// top:0;
      		right:0;
   			// bottom:0;
      		left:0;
      		margin:auto;
			bottom:17%;
			z-index:19;
			padding:2% 0% ; 
			text-shadow:3px 3px 13px #061428,3px 3px 20px #0f3368;

			background-color: rgba(25,25,25,0.2);
			transition:1s;
			opacity:0; 
			transition-delay:3.5s;
		}
	
		
		.wood_surf{

			position: absolute;
			z-index:18;
			right:0;
			left:0;
			margin:auto;
			// bottom:9.5%;
			bottom:-10%;
			display:inline-block;
			width:9vw;
			transition:1s cubic-bezier(.54,1.42,.96,1.35);
			transition-delay:2s;

			
			.wood_meat{
				width: 100%;
				filter: drop-shadow(0px 8px 30px #11334e);
				// transition:0.5s cubic-bezier(.54,1.42,.96,1.35);
				// transition-delay:3s;
				// transition:0.5s cubic-bezier(.54,1.42,.96,1.35);
			} 

		}


		.wood_surf2{

			position: absolute;
			z-index:17;
			right:0;
			left:0;
			margin:auto;
			bottom:9.5%;
			display:inline-block;
			width:9vw;
			transform:rotateZ(0deg);
			transform-origin:50% 100%;
			transition:1s cubic-bezier(.54,1.42,.96,1.35);
			opacity:0; 
			transition-delay:3s;


			
			img{
				width: 100%;

			} 

		}

		.wood_surf3{

			position: absolute;
			z-index:16;
			right:0;
			left:0;
			margin:auto;
			bottom:9.5%;
			display:inline-block;
			width:9vw;
			transform:rotateZ(0deg);
			transform-origin:50% 100%;
			opacity:0; 
			transition:1s cubic-bezier(.54,1.42,.96,1.35);
			transition-delay:3s;

			
			img{
				width: 100%;
			} 

		}




		.logo_canvas1{
			position:absolute;
			// top: -260%;
			top:10%;
			// transition:2.5s cubic-bezier(.68,.05,.22,.75);
			// animation:circle 0.7s linear both;
				
				
			}

		

		@keyframes circle3 {
			   0%{
       				bottom:-10%;
   				 }
   			 100%{
        			bottom: 3%;
    			}

		}	


		@keyframes circle2 {
			   0%{
       				 top:-300px;
   				 }
   			 100%{
        			top:0px;
    			}

		}	
		
		@keyframes circle {
			   0%{
       				 top:10%;
   				 }
   			 100%{
        			top:-230%;
    			}

		}

// ========================================================================	
		.slogan_1{
			width: 100%;
			
			text-align: center;
			background-color: #11314c;
			background-image: url('../images/1common/bglighttop.png');
			@extend %bgnrpc;
			@extend %whiteword;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.5) inset;
			.gradient{
				width: 100%;
				padding: 20vh 0;
				@extend %bgnrpc;
				background-size: cover;
				background-image: url('../images/1common/sloganbg.png');
			}
			h1{
				margin: 10px 0;
			}
			h3{
				font-size: 16px;
				font-weight: 100;
				line-height: 28px;
			}
		}
		.coating_1{
			box-sizing:border-box;
			background-color: #0e2334;
			width: 100%;
			background-image: url('../images/1common/screw.png');
			background-repeat: no-repeat;
		    padding: 150px 0;
		    background-position: 250%;
		    background-size: cover;
			@extend %whiteword;
			.maxContent{
				@extend %navmax;
				max-width: 1000px;
				width: 100%;
			}
			.demorwd{
				display: none;
			}
			.introduce{
				h2{
					line-height: 50px;
				}
			}
			.demo{
				position: relative;
				img{
					position: absolute;
					width: 100%;
					cursor:pointer;

				}
				@for $i from 1 through 4{
					img:nth-child(#{$i}){
						left: -90px;
						z-index: 5-$i;
						transition:all 0.5s ease-out;
					}
				}
				@for $i from 1 through 4{
					img:nth-child(#{$i}).explode{
						transform:translateY( #{-230px+$i*100});
						transition:all 0.5s ease-out;
						opacity: 1;
					}
				}
				img:nth-child(1){
					opacity: 0;
				}
				img:nth-child(3){
					opacity: 0;
				}

			}
			.about{
				
				position: relative;
				padding-top: 40%;
				.aboutContent{
					position: absolute;
					transition:1s;
					top: 4%;
					left: 0;
					opacity:0;
					&:nth-child(1){
						opacity:1;
					}
					.word{
						background-color: #49545d;
						padding: 10px 33px;
						margin: 10px 0;
						position: relative;
						h4{
							margin:5px 0;
						}
						p{
							font-size: 14px;
						}
						svg{
							position: absolute;
						    top: 22%;
						    left: -59%;
							.path {
							  stroke-dasharray: 1000;
							  stroke-dashoffset: 1000;
							  stroke:#49545d;
							  stroke-width:3;
							  // animation: dash 5s linear alternate forwards;
							}

							@keyframes dash {
							  0% {
							    stroke-dashoffset: 1000;
							  }
							  5%{
							  	stroke-dashoffset: 1000;
							  }
							  100% {
							    stroke-dashoffset: 0;
							  }
							}							
						}

					}
					.photo{
						img{
							width: 100%;
						}
					}

				}
			}
		}
		.picture_1{
			
			background-color: #18344c;
			@extend %whiteword;
			background-image: url('../images/1common/bglight.png');
			overflow: hidden;
			.maxContent{
				padding: 20vh 0 0 0;
				background-image: url('../images/1common/picselectbg.png');
				background-repeat: no-repeat;
				background-position: 74% -129%;
			    max-width: 1280px;
			    margin: auto;
			    width: 100%;
				.introduce{
					padding-left: 5%;
					.introduceMax{
						width: 50%;
						line-height: 25px;
						h2{
							margin: 15px 0;
						}
					}
				}
				.photoSelect{
					    padding-left: 5%;
					 @keyframes fadeIn{
					 	0%{
							opacity: 0;
					 	}
					 	100%{
							opacity: 1;
					 	}
					 }
					.photo{
						width: 12%;
						padding-top: 20%;
						display: inline-block;
						background-image: url('../images/1common/insidecircle.png');
						background-size: contain;

						@extend %bgnrpc;
						text-align: center;
						position: relative;
						img{
							
							width: 80%;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
							z-index: 3;
						}
						img:hover{
							animation: fadeIn 0.5s;
							cursor: pointer;
						}
					}
					.selected:after{
						animation: fadeIn 0.5s;
						content:'';
						position: absolute;
						background-image: url('../images/1common/picselected.png');
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						@extend %bgnrpc;
						background-size: contain;
						z-index: 2;

					}
					.arrowrwd{
						display: none;
					}
				}
				.button{
					position: relative;
					z-index: 4;
					padding-left: 5%;
					
					a{
						color: #fff;
						text-shadow:none;
						padding: 20px;
						border:1px solid #fff;
						border-radius: 10px;
						font-weight: bold;
						&:hover{
							background-color: #e97b23;
							border:none;
						}
					}
				}

				.demo{
					padding-top: 14%;
					position: relative;
					.surfboard{
						position: absolute;
					    bottom: -8%;
					    right: -31%;

						img{
							width: 100%;
						}
						.selectpicshow{
							img{
								transition:1s;
							}
							 @keyframes fadeIn{
							 	0%{
									opacity: 0;
							 	}
							 	100%{
									opacity: 1;
							 	}
							 }
							position: absolute;
							bottom: 1%;
						    right: 39%;
						    width: 20%;
						    .fadeIn{
						    	animation:fadeIn 1s;
						    }
						}

					}

				}
				.demorwd{
					display: none;
				}
			}

		}
		.map_1{
			// height: 85vh;
			position: relative;
			background-color: #0e2334;
			padding: 20vh 0 47vh 0;
			background-image: url('../images/1common/maplight.png');
			@extend %bgnrpc;
			@extend %whiteword;
			background-size: cover;
			&:before{
				content: '';
				position: absolute;
				top:0;
				left:0;

				display:block; 
				height: 100%;
				width: 100%;
				background-image: url('../images/1common/map-9487.png');
				background-size: contain;

			}
			.contentMax{
				// height: 85vh;
				@extend %navmax;
				.introduce{
					text-align: right;
					.introduceWord{
						@extend %h2p;
						display: inline-block;
						text-align: left;
					}
				a{
					position: absolute;
					margin:5vh 0 5vh; 
					color: #fff;
    				text-shadow: none;
 					padding: 20px;
    				border: 1px solid #fff;
    				border-radius: 10px;
    				font-weight: bold;
    				display: inline-block;

				}

				a:hover {
  					background-color: #e97b23;
    				border: none;
				}	

				}

				.map_box{
					position:relative;

					.Earth_shadow{

						position:absolute;
						top:0;
						left:10%; 
						z-index:2;
						border-radius: 50%;

						height:500px;
						width:500px;
						box-shadow: 13px -10px 35px 0px #0e2334 inset,13px -10px 85px 10px #11314c inset,13px -10px 185px 10px #11314c inset,13px -10px 185px 10px rgba(101,161,212,0.3),3px 1px 15px 0px #0f2435,-13px 10px 35px 0px #0e2334,-13px 10px 55px 0px #0e2334;

					}

					.map_Earth{
						height:500px;
						width:500px;
						// box-shadow: 13px -10px 35px 0px #0e2334 inset,13px -10px 85px 10px #11314c inset,13px -10px 185px 10px #11314c inset,13px -10px 185px 10px rgba(101,161,212,0.3),3px 1px 15px 0px #0f2435,-13px 10px 35px 0px #0e2334,-13px 10px 55px 0px #0e2334;
					
						overflow: hidden;
						position:absolute;
						top:0;
						left:10%; 
						z-index:1;
						border-radius: 50%;
						// background-color: #17c0ff;  
						background: rgb(30,87,153); /* Old browsers */
					    background: -webkit-linear-gradient(bottom left, rgb(30,87,153) 0%, rgb(125,185,232) 100%);
					    background: -o-linear-gradient(bottom left, rgb(30,87,153) 0%, rgb(125,185,232) 100%);
					    background: linear-gradient(to top right, rgb(30,87,153) 0%, rgb(125,185,232) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */

						
						.map_islands{
							position: absolute;
							top:35%;
							left:30%;
							width: 60vw;
							height: 60vh;
							animation:map 15s linear infinite;
    						

							img{
								width: 100%;
							}
						}

				


					}

				}


				@keyframes map {
							  0%{
							   	top:35%;
								left:30%;
							  }
							  
							  100%{
							    top:-95%;
								left:-100%;
							  }
							}					
			
				// .map{
				// 	margin: 0 0 0vh 0;
				// 	.mapimg{
				// 		position: relative;
				// 		.mapimgpic{
				// 			width: 100%;
				// 		}
				// 		.pin{
				// 			display: none;
				// 			width: 8%;
				// 			position: absolute;
				// 		    top: 29%;
				// 		    left: 37%;
				// 			.pinpic{
				// 				width: 100%;
				// 			}
				// 		}
				// 	}
				// }
			}
		}
		.forum_1{
			padding: 20vh 0 0 0;
			background-color: #13324c;
			color: #fff;
			
			.title{
				@extend %orangetitle;
				margin: 20px 0;
			}
			.contentMax{
				@extend %navmax;
				border-bottom: 1px solid #fff;
				padding: 0 0 20vh 0;
			}
			.postgroup{
				a{
					color: #fff;
				}
				.post{
					background-color: #223d55;
					border-radius:10px;
					.head{
						background: #1a191c;
						padding: 37% 0% 0% 0%;
						border-radius:10px 10px 0 0;
						min-height: 4.5em;
						background-size: cover;
						transition:1s;
						&.p1{
							background-image: url('../images/1common/1Pipeline.jpg');
						}
						&.p2{
							background-image: url('../images/1common/2SuperBank.jpg');
						}
						&.p3{
							background-image: url('../images/1common/3Jeffreys Bay.jpg');
						}
						&.p4{
							background-image: url('../images/1common/4Black Beach.jpg');
						}
						&.p5{
							background-image: url("../images/1common/5Teahupo'o.jpg");
						}
						&.p6{
							background-image: url('../images/1common/6La Graviere.jpg');
						}
						&.p7{
							background-image: url('../images/1common/7Uluwatu.jpg');
						}
						&.p8{
							background-image: url('../images/1common/8Cloudbreak.jpg');
						}
						&.p9{
							background-image: url("../images/1common/9Maverick's.jpg");
						}
						.headword{
							background-color: rgba(0,0,0,0.5);
							padding: 5% 10%;
							h3{
								opacity: 0.9;
							}
						}
					}
					.head:hover{
						// background-size: 200%;
					}
					.content{
						.word{
							transition:1s;
							color: #1a191c;
							background-color: rgba(255,255,255,0.05);
							width: 100%;
							color: #fff;
							text-align: left;
							padding: 5% 5%;
							box-sizing:border-box;
							h3{
								opacity: 0.5;
							}
						}
						text-align: left;
						div{
							display: inline-block;
							vertical-align: middle;
						}
						.postcontentgroup{
							padding: 20px;
							width: 100%;
							box-sizing:border-box;
							.mempic{
								width: 4vw;
								box-sizing:border-box;
								display: inline-block;
								vertical-align: middle;
								img{
									width: 100%;
									border-radius: 50%;
								}
							}
							.postcontent{
								width: 75%;
								padding: 5px;
								text-align: left;
								display: inline-block;
								vertical-align: middle;
								box-sizing:border-box;
								h5{
									font-size: 16px;
								}
								p{
									min-height: 3em;
								}
							}
							.btngorup{
								text-align: left;
								width: 100%;
								margin: 20px 0;
								.morebtn{
									transition:1s;
									background-color:  #1a191c;
									padding: 10px;
									border-radius: 5px;
									color: #fff;
									font-weight: bold;
								}	
							}

						}
					}
					.selected{
						.word{
								background-color: #EA8A00;
							}
							.postcontentgroup{
								.btngorup{
									.morebtn{
										background-color: #EA8A00;
									}
								}
							}
					}
					&:hover{
						cursor: pointer;
						.word{
							background-color: #EA8A00;
							transition:1s;
						}
						.postcontentgroup{
							.btngorup{
								.morebtn{
									background-color: #EA8A00;
									transition:1s;
								}
							}
						}
					}
				}

			}
		}
		.bulletin_1{
			background-color: #12314c;
			background-image: url('../images/1common/bglight.png');
			padding: 3vh 0;
			color: #fff;
			box-sizing:border-box;
			@extend %bgnrpc;
			.maxContent{
				@extend %navmax;
				.title{
					@extend %orangetitle;
					margin: 20px 0;
				}
				.infoarea{
					padding: 30px;
					background-image: url('../images/1common/bulletinbg.png');
					@extend %bgnrpc;
					.left{
						text-align: center;
						position: relative;
						padding-top: 30%;
						.leftfix{
							position: absolute;
							top: 0;
							left: 0;
							height: 500px;
							width: 100%;
							overflow: hidden;
							img{
								width: 100%;
							}							
						}
					}
					.right{
						overflow-y: scroll;
						padding: 10px 20px;
					.news{
							cursor: pointer;
							padding: 10px;
							div{
								display: inline-block;
								vertical-align: top;
							}
							.newsimg{
								width: 25%;
								margin:0 10px;
								img{
									width: 100%;
								}
							}
							.newcontent{
								width: 65%;
								.newsptitle{
									transition:1s;
								}
								.date{
									display: block;
									p{
										margin: 6px 0;
										span{
											@extend %orangetitle;
										}
									}
									.newtag{
										margin: 0 5px 0 0;
									}
								}
								.btn{
									text-align: right;
									padding: 20px 0;
									display: block;
									a{
										transition:1s;
										@extend %blackbtn;
										&:hover{
											background-color: #e97b23;
										}
									}
								}
							}
						}
						.news:after{
							content: '';
							display: block;
							height: 1px;
							width: 80%;
							background-color: #4d6b85;
							box-shadow: 0px 1px 0px #0d253a;
							margin:10px 0;
						}
					}
					.right::-webkit-scrollbar
					{
					  width: 12px;  /* for vertical scrollbars */
					  height: 12px; /* for horizontal scrollbars */
					}

					.right::-webkit-scrollbar-track
					{
					  background: rgba(0, 0, 0, 0.1);
					}

					.right::-webkit-scrollbar-thumb
					{
					  background: rgba(0, 0, 0, 0.5);
					}
						
					
				}
			}
		}