@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

$textsha:1px 1px 5px rgba(0,0,0,0.8);/*文字陰影*/
$top:16vh;
%textsha{
	text-shadow:1px 1px 5px rgba(0,0,0,0.8);
}
%whiteword{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	color: #fff;
}
%navmax{
	max-width: $navmaxwidth;
	margin: auto;
	width: 100%;
} 
%h2p{
		line-height: 25px;
	h2{
		margin: 15px 0;
	}
}
%bgnrpc{
	background-repeat: no-repeat;
	background-position: center;
}
%orangetitle{
	color: #e97b23;
}
%blackbtn{
	background-color:  #1a191c;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
}

@media screen and (max-width:960px){
	.banner_1{
		background-image: url('../surfopening.gif');
		background-size: cover;
		video{
			display: none;
		}
	}
	.coating_1{
		.maxContent{
			.demo{
				display: none;
			}
			.about{
				display: none;
			}
			.demorwd{
				display: block;
				position: relative;
				width: 100%;
				overflow: hidden;
				.demoimg{
					width: 100%;
					margin: auto;
					overflow: hidden;
					ul{
						width: 600%;
						margin-left: 12%;
						&:after{
							content:'';
							clear: both;
						}
						li{
							padding: 10px 25px;
							display: block;
							float: left;
							width: 11%;
							text-align: center;
							img{
								width: 100%;
							}	
						}
					}			
				}
				.arrowleft{
					width: 150px;
					height: 210px;
					border-radius: 50%;
					background-color:rgba(255,255,255,0.1);
					position: absolute;
					left: -83px;
					top: 31%;
					cursor: pointer;
					.arrowfix{
					    width: 27%;
					    position: absolute;
					    left: 88px;
					    top: 61px;
						img{
							width: 100%;
						}
					}
				}
				.arrowright{
					content: '';
					display: block;
					width: 150px;
					height: 210px;
					border-radius: 50%;
					background-color: rgba(255,255,255,0.1);
					position: absolute;
					right:  -83px;
					top: 31%;
					cursor: pointer;
					.arrowfix{
					    width: 27%;
					    position: absolute;
					    right: 88px;
					    top: 61px;
						img{
							width: 100%;
						}
					}
				}

			}
			.introduce {
				text-align: center;
				width: 100%;
			}
		}
	}
	.picture_1{
		.maxContent{
			padding: 44vh 0 20vh 0;
			position: relative;
			background-image: none;
			.demo{
				display: none;
			}
			.demorwd{
				display: inline-block;
				position: relative;
				padding-top: 40%;
				width: 100%;
				.surfboard{
					width: 100%;
				    transform: rotate(22deg);
				    position: absolute;
				    top: -256%;
				    left: -46%;
					img{
						width: 100%;
					}
				}

			}
			.introduce{
				text-align: center;
				.introduceMax{
					width: 100%;
				}
			}
			.photoSelect {
				.photo{
					display: none;
				}
				.photo:nth-child(2){
					display: block;
				}
				.selected{
					position: absolute;
				    display: block;
				    bottom: 45%;
				    left: 41.5%;
				    width: 59%;
				    padding-top: 40%;
				    img{
				    	width: 60%;
				    }
				}
				.arrowrwd{
					display: block;
					.fa-caret-left{
						position: absolute;
					    right: 51%;
					    font-size: 48px;
					    bottom: 51%;
					}
					.fa-caret-right{
						position: absolute;
					    right: 3%;
					    font-size: 48px;
					    bottom: 51%;
					}
				}
			}
			.button{
				text-align: center;
			}
		}
	}
	.map_1{
		background-image:none;
		background-color: #13324c;
		padding: 11vh 0 0 0;
		.contentMax{
			.introduce{
				.introduceWord{
					text-align: center;
					p{
						text-align: center;
					}
				}
			}
			.map{
				display: block;
				margin: 0 0 0 0;
				.mapimg{
					position: relative;
					.mapimgpic{
						width: 100%;
					}
					.pin{
						width: 8%;
						position: absolute;
					    top: 29%;
					    left: 37%;
						.pinpic{
							width: 100%;
						}
					}
				}
			}
		}
	}
	.forum_1{
		padding: 10px 10px 0 10px;
		.contentMax{
			.title{
				display: none;
			}
			.postgroup{
				// all:unset;
				.postfix{
					.post{
						.content{
							.postcontentgroup{
								.mempic{
									width: 10vw;
								}
							}
						}
					}
				}
			}
		}
	}
	.bulletin_1{
		.maxContent{
			.title{
				text-align: center;
			}
			.infoarea{
				background-position: top;
				background-size: contain;
				width: 85%;
				margin: auto;
				.right {
					height: auto;
				}
				.left {
					display: none;
				}
			}
		}
	}
}