@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

$textsha:1px 1px 5px rgba(0,0,0,0.8);/*文字陰影*/
$top:16vh;
%textsha{
	text-shadow:1px 1px 5px rgba(0,0,0,0.8);
}
%whiteword{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	color: #fff;
}
%navmax{
	max-width: $navmaxwidth;
	margin: auto;
	width: 100%;
} 
%h2p{
		line-height: 25px;
	h2{
		margin: 15px 0;
	}
}
%bgnrpc{
	background-repeat: no-repeat;
	background-position: center;
}
%orangetitle{
	color: #e97b23;
}
%blackbtn{
	background-color:  #1a191c;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
}
		.banner_1{
			width: 100%;
			height: 70vh;
			overflow: hidden;
			position: relative;
			z-index: -1;
			background-image: url("../images/1common/banner.png");
			@extend %bgnrpc;
			video{
				position: absolute;
    			top: -30vh;
			}
		}
		.slogan_1{
			width: 100%;
			
			text-align: center;
			background-color: #11314c;
			background-image: url('../images/1common/bglighttop.png');
			@extend %bgnrpc;
			@extend %whiteword;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.5) inset;
			.gradient{
				width: 100%;
				padding: 20vh 0;
				@extend %bgnrpc;
				background-size: cover;
				background-image: url('../images/1common/sloganbg.png');
			}
			h1{
				margin: 10px 0;
			}
			h3{
				font-size: 16px;
				font-weight: 100;
				line-height: 28px;
			}
		}
		.coating_1{
			box-sizing:border-box;
			background-color: #0e2334;
			width: 100%;
			background-image: url('../images/1common/screw.png');
			background-repeat: no-repeat;
		    padding: 150px 0;
		    background-position: 250%;
		    background-size: cover;
			@extend %whiteword;
			.maxContent{
				@extend %navmax;
				max-width: 1000px;
				width: 100%;
			}
			.demorwd{
				display: none;
			}
			.introduce{
				h2{
					line-height: 50px;
				}
			}
			.demo{
				position: relative;
				img{
					position: absolute;
					width: 100%;
					cursor:pointer;

				}
				@for $i from 1 through 4{
					img:nth-child(#{$i}){
						left: -90px;
						z-index: 5-$i;
						transition:all 0.5s ease-out;
					}
				}
				@for $i from 1 through 4{
					img:nth-child(#{$i}).explode{
						transform:translateY( #{-230px+$i*100});
						transition:all 0.5s ease-out;
						opacity: 1;
					}
				}
				img:nth-child(1){
					opacity: 0;
				}
				img:nth-child(3){
					opacity: 0;
				}

			}
			.about{
				
				position: relative;
				padding-top: 40%;
				.aboutContent{
					position: absolute;
					transition:1s;
					top: 4%;
					left: 0;
					opacity:0;
					&:nth-child(1){
						opacity:1;
					}
					.word{
						background-color: #49545d;
						padding: 10px 33px;
						margin: 10px 0;
						position: relative;
						p{
							font-size: 14px;
						}
						svg{
							position: absolute;
						    top: 22%;
						    left: -59%;
							.path {
							  stroke-dasharray: 1000;
							  stroke-dashoffset: 1000;
							  stroke:#49545d;
							  stroke-width:3;
							  // animation: dash 5s linear alternate forwards;
							}

							@keyframes dash {
							  0% {
							    stroke-dashoffset: 1000;
							  }
							  5%{
							  	stroke-dashoffset: 1000;
							  }
							  100% {
							    stroke-dashoffset: 0;
							  }
							}							
						}

					}
					.photo{
						img{
							width: 100%;
						}
					}

				}
			}
		}
		.picture_1{
			
			background-color: #18344c;
			@extend %whiteword;
			background-image: url('../images/1common/bglight.png');
			overflow: hidden;
			.maxContent{
				padding: 20vh 0 0 0;
				background-image: url('../images/1common/picselectbg.png');
				background-repeat: no-repeat;
				background-position: 74% -129%;
				@extend %navmax;
				.introduce{
					padding-left: 5%;
					.introduceMax{
						width: 50%;
						line-height: 25px;
						h2{
							margin: 15px 0;
						}
					}
				}
				.photoSelect{
					    padding-left: 5%;
					.photo{
						width: 12%;
						padding-top: 20%;
						display: inline-block;
						background-image: url('../images/1common/insidecircle.png');
						background-size: contain;
						@extend %bgnrpc;
						text-align: center;
						position: relative;
						img{
							width: 80%;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
							z-index: 3;
						}
					}
					.selected:after{
						content:'';
						position: absolute;
						background-image: url('../images/1common/picselected.png');
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						@extend %bgnrpc;
						background-size: contain;
						z-index: 2;

					}
					.arrowrwd{
						display: none;
					}
				}
				.button{
					padding-left: 5%;
					a{
						color: #fff;
						text-shadow:none;
						padding: 20px;
						border:1px solid #fff;
						border-radius: 10px;
						font-weight: bold;
					}
				}

				.demo{
					padding-top: 14%;
					position: relative;
					.surfboard{
						position: absolute;
					    bottom: -8%;
					    right: -31%;

						img{
							width: 100%;
						}
						.selectpicshow{
							position: absolute;
							bottom: 1%;
						    right: 39%;
						    width: 20%;
						}
					}

				}
				.demorwd{
					display: none;
				}
			}

		}
		.map_1{
			background-color: #0e2334;
			padding: 20vh 0 0 0;
			background-image: url('../images/1common/maplight.png');
			@extend %bgnrpc;
			@extend %whiteword;
			background-size: cover;
			.contentMax{
				@extend %navmax;
				.introduce{
					text-align: right;
					.introduceWord{
						@extend %h2p;
						display: inline-block;
						text-align: left;
					}
				}
				.map{
					margin: 0 0 -20vh 0;
					.mapimg{
						position: relative;
						.mapimgpic{
							width: 100%;
						}
						.pin{
							width: 8%;
							position: absolute;
						    top: 29%;
						    left: 37%;
							.pinpic{
								width: 100%;
							}
						}
					}
				}
			}
		}
		.forum_1{
			padding: 20vh 0 0 0;
			background-color: #13324c;
			color: #fff;
			
			.title{
				@extend %orangetitle;
			}
			.contentMax{
				@extend %navmax;
				border-bottom: 1px solid #fff;
				padding: 0 0 20vh 0;
			}
			.postgroup{
				$images:("1Pipeline","2SuperBank","3Jeffrey’s Bay","4Black Beach");	
				@for $i from 1 through 4{
					.postfix:nth-child(#{$i}) .post .head{
						background-image: url('../images/1common/#{nth($images,$i)}.jpg');
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center;

					}
				} 
				.post{
					background-color: #223d55;
					border-radius:10px;
					.head{
						background: #1a191c;
						padding: 60% 0% 0% 0%;
						border-radius:10px 10px 0 0;
						min-height: 4.5em;
						.headword{
							background-color: rgba(0,0,0,0.5);
							padding: 5% 10%;
							h3{
								opacity: 0.9;
							}
						}
					}
					.content{
						.word{
							color: #1a191c;
							background-color: rgba(255,255,255,0.05);
							width: 100%;
							color: #fff;
							text-align: left;
							padding: 5% 5%;
							box-sizing:border-box;
							h3{
								opacity: 0.5;
							}
						}
						text-align: center;
						div{
							display: inline-block;
							vertical-align: middle;
						}
						.postcontentgroup{
							padding: 20px;
							.mempic{
								width: 20%;
								box-sizing:border-box;
								display: inline-block;
								vertical-align: middle;
								img{
									width: 100%;
									border-radius: 50%;
								}
							}
							.postcontent{
								width: 70%;
								padding: 5px;
								text-align: left;
								display: inline-block;
								vertical-align: middle;
								box-sizing:border-box;
								h5{
									font-size: 16px;
								}
								p{
									min-height: 3em;
								}
							}
							.btngorup{
								text-align: left;
								width: 100%;
								margin: 20px 0;
								.morebtn{
									background-color:  #1a191c;
									padding: 10px;
									border-radius: 5px;
									color: #fff;
									font-weight: bold;
								}	
							}

						}

					}
					.selected{
						.word{
							background-color: #EA8A00;
						}
						.postcontentgroup{
							.btngorup{
								.morebtn{
									background-color: #EA8A00;
								}
							}
						}
					}
				}
			}
		}
		.bulletin_1{
			background-color: #12314c;
			background-image: url('../images/1common/bglight.png');
			padding: 3vh 0;
			color: #fff;
			box-sizing:border-box;
			@extend %bgnrpc;
			.maxContent{
				@extend %navmax;
				.title{
					@extend %orangetitle;
					margin: 20px 0;
				}
				.infoarea{
					padding: 20px;
					background-image: url('../images/1common/bulletinbg.png');
					@extend %bgnrpc;
					.left{
						height: 450px;
						overflow-y: scroll;
						padding: 10px 20px;
					.news{
							padding: 10px;
							div{
								display: inline-block;
								vertical-align: top;
							}
							.newsimg{
								width: 25%;
								margin:0 10px;
								img{
									width: 100%;
								}
							}
							.newcontent{
								width: 65%;
								.date{
									display: block;
									p{
										span{
											@extend %orangetitle;
										}
									}
								}
								.btn{
									text-align: right;
									padding: 20px 0;
									display: block;
									a{
										@extend %blackbtn;
									}
								}
							}
						}
						.news:after{
							content: '';
							display: block;
							height: 1px;
							width: 80%;
							background-color: #4d6b85;
							box-shadow: 0px 1px 0px #0d253a;
							margin:10px 0;
						}
					}
					.left::-webkit-scrollbar
					{
					  width: 12px;  /* for vertical scrollbars */
					  height: 12px; /* for horizontal scrollbars */
					}

					.left::-webkit-scrollbar-track
					{
					  background: rgba(0, 0, 0, 0.1);
					}

					.left::-webkit-scrollbar-thumb
					{
					  background: rgba(0, 0, 0, 0.5);
					}
						
					.right{
						text-align: center;
						img{
							width: 100%;
						}
					}
				}
			}
		}

@media screen and (max-width:960px){
	.coating_1{
		.maxContent{
			.demo{
				display: none;
			}
			.about{
				display: none;
			}
			.demorwd{
				display: block;
				position: relative;
				width: 100%;
				overflow: hidden;
				.demoimg{
					width: 55%;
					margin: auto;
					img{
						width: 100%;
					}				
				}
				.arrowleft{
					width: 150px;
					height: 210px;
					border-radius: 50%;
					background-color:rgba(255,255,255,0.1);
					position: absolute;
					left: -83px;
					top: 31%;
					cursor: pointer;
					.arrowfix{
					    width: 27%;
					    position: absolute;
					    left: 88px;
					    top: 61px;
						img{
							width: 100%;
						}
					}
				}
				.arrowright{
					content: '';
					display: block;
					width: 150px;
					height: 210px;
					border-radius: 50%;
					background-color: rgba(255,255,255,0.1);
					position: absolute;
					right:  -83px;
					top: 31%;
					cursor: pointer;
					.arrowfix{
					    width: 27%;
					    position: absolute;
					    right: 88px;
					    top: 61px;
						img{
							width: 100%;
						}
					}
				}

			}
			.introduce {
				text-align: center;
				width: 100%;
			}
		}
	}
	.picture_1{
		.maxContent{
			padding: 44vh 0 20vh 0;
			position: relative;
			.demo{
				display: none;
			}
			.demorwd{
				display: inline-block;
				position: relative;
				padding-top: 40%;
				width: 100%;
				.surfboard{
					width: 100%;
				    transform: rotate(22deg);
				    position: absolute;
				    top: -256%;
				    left: -46%;
					img{
						width: 100%;
					}
				}

			}
			.introduce{
				text-align: center;
				.introduceMax{
					width: 100%;
				}
			}
			.photoSelect {
				.photo{
					display: none;
				}
				.selected{
					position: absolute;
				    display: block;
				    bottom: 45%;
				    left: 41.5%;
				    width: 59%;
				    padding-top: 40%;
				    img{
				    	width: 60%;
				    }
				}
				.arrowrwd{
					display: block;
					.fa-caret-left{
						position: absolute;
					    right: 51%;
					    font-size: 48px;
					    bottom: 51%;
					}
					.fa-caret-right{
						position: absolute;
					    right: 3%;
					    font-size: 48px;
					    bottom: 51%;
					}
				}
			}
			.button{
				text-align: center;
			}
		}
	}
	.map_1{
		background-image:none;
		background-color: #13324c;
		padding: 11vh 0 0 0;
		.contentMax{
			.introduce{
				.introduceWord{
					text-align: center;
					p{
						text-align: center;
					}
				}
			}
			.map{
				display: block;
				margin: 0 0 0 0;
				.mapimg{
					position: relative;
					.mapimgpic{
						width: 100%;
					}
					.pin{
						width: 8%;
						position: absolute;
					    top: 29%;
					    left: 37%;
						.pinpic{
							width: 100%;
						}
					}
				}
			}
		}
	}
	.forum_1{
		padding: 10px 10px 0 10px;
		.contentMax{
			.title{
				display: none;
			}
			.postgroup{
				overflow: hidden;
				padding-top: 100%;
				position: relative;
				.postfix{
					width: 80%;
					position: absolute;
					top: 0;
					left: 0;
				}
				.selected{
					z-index: 3;
					left: 0;
					right: 0;
					margin: auto;
				}
				.postfix:nth-child(4){
					display: none;
				}
				.postfix:nth-child(2){
					left: -71%;
				}
				.postfix:nth-child(3){
					 right: -160%;
				}
			}
		}
	}
	.bulletin_1{
		.maxContent{
			.title{
				text-align: center;
			}
			.infoarea{
				background-position: top;
				background-size: contain;
				width: 85%;
				margin: auto;
				.left {
					height: auto;
				}
				.right {
					display: none;
				}
			}
		}
	}
}