@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

$textsha:1px 1px 5px rgba(0,0,0,0.8);/*文字陰影*/
$top:16vh;
%whiteword{
	text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	color: #fff;
}
%navmax{
	max-width: $navmaxwidth;
	margin: auto;
	width: 100%;
} 
%h2p{
		line-height: 25px;
	h2{
		margin: 15px 0;
	}
}
%bgnrpc{
	background-repeat: no-repeat;
	background-position: center;
}
%orangetitle{
	color: #e97b23;
}
%blackbtn{
	background-color:  #1a191c;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;	
}
		.banner_1{
			width: 100%;
			height: 70vh;
			overflow: hidden;
			background-image: url("../images/1common/banner.png");
			@extend %bgnrpc;
		}
		.slogan_1{
			width: 100%;
			
			text-align: center;
			background-color: #11314c;
			background-image: url('../images/1common/bglighttop.png');
			@extend %bgnrpc;
			@extend %whiteword;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.5) inset;
			.gradient{
				width: 100%;
				padding: 20vh 0;
				@extend %bgnrpc;
				background-size: cover;
				background-image: url('../images/1common/sloganbg.png');
			}
			h1{
				margin: 10px 0;
			}
			h3{
				font-size: 16px;
				font-weight: 100;
				line-height: 28px;
			}
		}
		.coating_1{
			box-sizing:border-box;
			padding: 100px 0;
			background-color: #0e2334;
			width: 100%;
			background-image: url('../images/1common/screw.png');
			background-repeat: no-repeat;
			background-position: left;
			background-size: contain;
			@extend %whiteword;
			.maxContent{
				@extend %navmax;
				max-width: 1000px;
				width: 100%;
			}
			.introduce{
				h2{
					line-height: 50px;
				}
			}
			.demo{
				position: relative;
				img{
					position: absolute;
					width: 100%;
				}
				@for $i from 1 through 4{
					img:nth-child(#{$i}){
						top: -230px+$i*100;
						left: -90px;
						z-index: 5-$i;
					}
				}
			}
			.about{
				.word{
					background-color: #49545d;
					padding: 10px 33px;
					margin: 10px 0;
					position: relative;
					p{
						font-size: 14px;
					}
				}
				.word:after{
					content: '';
					display: block;
					width: 0;
					height: 0;
				    border-top: 24px solid transparent;
				    border-bottom: 1px solid transparent;
				    border-right: 50px solid #49545d;
					position: absolute;
				    top: 27px;
				    left: -48px;

				}
				.photo{
					img{
						width: 100%;
					}
				}
			}
		}
		.picture_1{
			
			background-color: #18344c;
			@extend %whiteword;
			background-image: url('../images/1common/bglight.png');
			overflow: hidden;
			.maxContent{
				padding: 20vh 0 0 0;
				background-image: url('../images/1common/picselectbg.png');
				background-repeat: no-repeat;
				background-position: 74% -129%;
				@extend %navmax;
				.introduce{
					padding-left: 5%;
					.introduceMax{
						width: 50%;
						line-height: 25px;
						h2{
							margin: 15px 0;
						}
					}
				}
				.photoSelect{
					.photo{
						width: 16%;
						padding-top: 20%;
						display: inline-block;
						background-image: url('../images/1common/insidecircle.png');
						background-size: contain;
						@extend %bgnrpc;
						text-align: center;
						position: relative;
						img{
							width: 80%;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							margin: auto;
							z-index: 3;
						}
					}
					.selected:after{
						content:'';
						position: absolute;
						background-image: url('../images/1common/picselected.png');
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						@extend %bgnrpc;
						background-size: contain;
						z-index: 2;

					}
				}
				.button{
					padding-left: 5%;
					a{
						color: #fff;
						text-shadow:none;
						padding: 20px;
						border:1px solid #fff;
						border-radius: 10px;
						font-weight: bold;
					}
				}

				.demo{
					padding-top: 20%;
					position: relative;
					.surfboard{
						position: absolute;
					    bottom: -8%;
					    right: -31%;

						img{
							width: 100%;
						}
						.selectpicshow{
							position: absolute;
							bottom: 1%;
						    right: 39%;
						    width: 20%;
						}
					}

				}
			}

		}
		.map_1{
			background-color: #0e2334;
			padding: 20vh 0 0 0;
			background-image: url('../images/1common/maplight.png');
			@extend %bgnrpc;
			@extend %whiteword;
			background-size: cover;
			.contentMax{
				@extend %navmax;
				.introduce{
					text-align: right;
					.introduceWord{
						@extend %h2p;
						display: inline-block;
						text-align-last: left;
					}
				}
				.map{
					margin: 0 0 -20vh 0;
					.mapimg{
						position: relative;
						.mapimgpic{
							width: 100%;
						}
						.pin{
							width: 8%;
							position: absolute;
						    top: 29%;
						    left: 37%;
							.pinpic{
								width: 100%;
							}
						}
					}
				}
			}
		}
		.forum_1{
			padding: 20vh 0 0 0;
			background-color: #13324c;
			color: #fff;
			
			.title{
				@extend %orangetitle;
			}
			.contentMax{
				@extend %navmax;
				border-bottom: 1px solid #fff;
				padding: 0 0 20vh 0;
			}
			.postgroup{
				.post{
					background-color: #223d55;
					border-radius:10px;
					.head{
						background: #1a191c;
						padding: 10% 10% 10% 15%;
						border-radius:10px 10px 0 0;
						min-height: 4.5em;
						h3{
							opacity: 0.5;
						}
					}
					.content{
						padding: 10% 5%;
						text-align: center;
						div{
							display: inline-block;
							vertical-align: middle;
						}
						.mempic{
							width: 20%;
							img{
								width: 100%;
								border-radius: 50%;

							}
						}
						.postcontent{
							width: 78%;
							text-align: left;
							box-sizing:border-box;
							padding: 5%;
							h5{
								font-size: 16px;
							}
							p{
								min-height: 3em;
							}
						}
						.btngorup{
							text-align: left;
							width: 100%;
							margin: 20px 0;
							.morebtn{
								background-color:  #1a191c;
								padding: 10px;
								border-radius: 5px;
								color: #fff;
								font-weight: bold;
							}	
						}

					}
				}
				.selected{
					.head{
						background: linear-gradient(#e67a23, #c7691e);
					}
					.content{
						.btngorup{
							.morebtn{
								background-color: #e97b23;
							}
						}					
					}

				}
			}
		}
		.bulletin_1{
			background-color: #12314c;
			background-image: url('../images/1common/bglight.png');
			padding: 3vh 0;
			color: #fff;
			box-sizing:border-box;
			@extend %bgnrpc;
			.maxContent{
				@extend %navmax;
				.title{
					@extend %orangetitle;
					margin: 20px 0;
				}
				.infoarea{
					padding: 20px;
					background-image: url('../images/1common/bulletinbg.png');
					@extend %bgnrpc;
					.left{
						height: 450px;
						overflow-y: scroll;
						padding: 10px 20px;
					.news{
							padding: 10px;
							div{
								display: inline-block;
								vertical-align: top;
							}
							.newsimg{
								width: 25%;
								margin:0 10px;
								img{
									width: 100%;
								}
							}
							.newcontent{
								width: 65%;
								.date{
									display: block;
									p{
										span{
											@extend %orangetitle;
										}
									}
								}
								.btn{
									text-align: right;
									padding: 20px 0;
									display: block;
									a{
										@extend %blackbtn;
									}
								}
							}
						}
						.news:after{
							content: '';
							display: block;
							height: 1px;
							width: 80%;
							background-color: #4d6b85;
							box-shadow: 0px 1px 0px #0d253a;
							margin:10px 0;
						}
					}
					.left::-webkit-scrollbar
					{
					  width: 12px;  /* for vertical scrollbars */
					  height: 12px; /* for horizontal scrollbars */
					}

					.left::-webkit-scrollbar-track
					{
					  background: rgba(0, 0, 0, 0.1);
					}

					.left::-webkit-scrollbar-thumb
					{
					  background: rgba(0, 0, 0, 0.5);
					}
						
					.right{
						text-align: center;
						img{
							width: 100%;
						}
					}
				}
			}
		}

@media screen and (max-width:960px){
	.coating_1{
		.maxContent{
			.demo{
				display: none;
			}
			.about{
				display: none;
			}
		}
	}
}