@import "base/var";

.map_bamboo_3{
	max-width: 1170px;
	margin: auto;
	position: relative;
	.mobile{
		cursor: pointer;
		padding: 10px 0 0 0;
		&.click{
			color: #ff9813;
		}
	}
}

.mobile{
	transition:1.5s cubic-bezier(.68,.05,.22,.75);
}

.map_bamboo_2{
	width: 100%;
	height: 100vh;
	overflow:hidden;
	.map_bamboo_1{
		background-image: url("../images/4wavepoint/map-1.png");
		// -webkit-background-size: 200%;
		background-size: cover;
		background-repeat: no-repeat;
		// transform:scale(1.5);
		background-position: center;
		position:relative;
		width:300%;
		padding-top:198%;
		transition:1.5s cubic-bezier(.68,.05,.22,.75);
		bottom:0;
		right: 0;
		// img{
		// 	width: 100%;
		// }
	}
}



.map_bamboo{ 
	// overflow-y:hidden;
	background-color: #11314c;
}

.map_bamboo_menu{
	position:absolute;
	z-index:2;
	background-color:rgba(0,0,0,0.3); 
	display: inline-block;
	margin-top:12vh;
	// margin-left:9vh;
	border-radius:10px;
	border:5px solid rgba(255,255,255,0.2);
	box-shadow:(-3px -3px 15px rgba(157,228,255,0.7)),(3px 3px 15px #103046 inset);
	text-shadow:1px 1px 3px #103046;
	width:18%;  

}

.bamboo_address{
	width:250px; 
	position:absolute;
	z-index:2;
    top: 12vh;
    left: 20%;
	display: inline-block;
	border-radius:10px;
	border:5px solid rgba(255,255,255,0.3);
	box-shadow:3px 3px 15px #103046 inset;
	background-color:rgba(0,0,0,0.5);
	text-align: center;
	text-shadow:none;
	color:#fff;
	padding:10px;
	background-image: url(../);
	// transition:1.5s cubic-bezier(.68,.05,.22,.75); 
		.fa{
			display: none;
		}
		.pipeline{
			width: 100%;
		}

		h5{
			margin-top:5%; 
		}
		.bamboo_title{
			margin:0% 0% 5%;

		}
		.address_mobile{
			display: inline-block;
			border:1px solid #fff;
			// background-color:#ff9813;
			color:#fff;
			margin:7% 0% 5%; 
			padding:5px 10px;
			border-radius:4px; 

			span{
			} 
		}
}	

.bamboo_line{

	background-color:rgba(255,255,255,0.2);
	height:1px;
	margin:5% 5% 0 5%;  
}

.map_bamboo_menu ul li h3{
	// padding:7%;

}

.map_bamboo_menu ul li{
	text-align: center;
	color:#fff;
	// padding: 7%;
	// margin:5% 0%;  		

}






// ==============================

.po{
	width: 50px;
	height: 50px;
	// border: 2px solid #f00; /*我是定位用der*/
	position: absolute;
	}

.p1{
	top: 20%;
	left:42%;
	}

.p2{
	top: 42%;
	left:30%;
	}

.p3{
	top: 68%;
	left:20%;
	}

.p4{
	top: 66%;
	left:45%;
	}

.p5{
	top: 55%;
	left:63%;
	}

.p6{
	top: 42%;
	left:82%;
	}

.p7{
	top: 65%;
	left:85%;
	}

.p8{
	top:36%;
	left:54%;
	}

.p9{
	top:15%;
	left:69%;
	}	

.bamboo_menu_phone{
	display: none;
}

// ============秋G仔===============

@media screen and ( max-width:767px ){
	.map_bamboo_menu{
		display: none;
	}
	
	.bamboo_address{
		display: none;
	}


	.bamboo_menu_phone{
		color: #fff;
		position:absolute;
		z-index:2;
		background-color:rgba(0,0,0,0.3); 
		display: inline-block;
		text-align: center;
		
      	right:0;
      	bottom:5vh;
      	left:0;
      	margin:auto;
		// margin-left:9vh;
		border-radius:10px;
		border:5px solid rgba(255,255,255,0.2);
		box-shadow:(-3px -3px 15px rgba(157,228,255,0.7)),(3px 3px 15px #103046 inset);
		text-shadow:1px 1px 3px #103046;
		width:80%; 
			.bamboo_menu_phone_text{
				padding:0% 15%;
				text-align:left;
			}

			.title{
				margin:7% 0% 4%; 
			}

			a{
				text-shadow:none;
				display: inline-block;
				padding:2% 5%;
				color:#14324c;
				background-color:#ff9630;
				border-radius:4px;
				margin:7% 0% 7%; 

			} 
	}

		.bamboo_Direction_right{

			color:#ff9630;
			// margin: 50px; 
			font-size: 40px;
			content: '4';
			position:absolute;
			z-index:3; 
			top:0%;
      		right:4%; 
      		text-shadow:1px 1px 3px #103046;
      		text-align: center;
      			.fa{
					padding: 80px 5px 80px 30px;
      			}

      		
			
		
		}

		.bamboo_Direction_left{
			color:#ff9630;
			font-size: 40px;
			content: '4';
			position:absolute;
			z-index:3; 
			top:0%;
      		left:4%; 
      		text-shadow:1px 1px 3px #103046;
      			.fa{
					padding: 80px 30px 80px 5px;
      			}
      		
		}

	

}									
		
// =============還沒秋g仔.但快秋g仔=========

// @media screen and ( max-width:1500px ){
// 	.map_bamboo_2{
// 		.map_bamboo_1{
// 			width:200%;
// 			padding-top:160%; 
// 		}
// 	}
// }
