@import "base/var";

.map_bamboo_3{
	max-width: 1170px;
	margin: auto;
	position: relative;
}

.map_bamboo_2{
	width: 100%;
	height: 100vh;
	overflow:hidden;
	.map_bamboo_1{
		background-image: url("../images/4wavepoint/map-1.png");
		-webkit-background-size: 200%;
		background-size: contain;
		background-repeat: no-repeat;
		transform:scale(1.5);
		position:relative;
		width:100%;
		padding-top:100%; 
		transition:1.5s cubic-bezier(.68,.05,.22,.75);
		// img{
		// 	width: 100%;
		// }
	}
}



.map_bamboo{ 
	// overflow-y:hidden;
	background-color: #11314c;
}

.map_bamboo_menu{
	position:absolute;
	z-index:2;
	background-color:rgba(0,0,0,0.3); 
	display: inline-block;
	margin-top:12vh;
	margin-left:9vh;
	border-radius:10px;
	border:5px solid rgba(255,255,255,0.2);
	box-shadow:(-3px -3px 15px rgba(157,228,255,0.7)),(3px 3px 15px #103046 inset);
	text-shadow:1px 1px 3px #103046;
	width:18%;  

}

.bamboo_line{

	background-color:rgba(255,255,255,0.2);
	height:1px;
	margin:5% 5%;  
}

.map_bamboo_menu ul li h3{
	// padding:7%;

}

.map_bamboo_menu ul li{
	text-align: center;
	color:#fff;
	// padding: 7%;
	margin:5% 0%;  		

}




// ============秋G仔===============

// @media screen and ( max-width:992px ){
// 	.map_bamboo_2{
// 		.map_bamboo_1{
// 		width:300%;
// 		}
// 	}
	


// }

// ==============================

.po{
	width: 50px;
	height: 50px;
	border: 2px solid #f00;
	position: absolute;
	}

.p1{
	top: 16%;
	left:38%;
	}

.p2{
	top: 30%;
	left:25%;
	}

.p3{
	top: 53%;
	left:11%;
	}

.p4{
	top: 46%;
	left:47%;
	}

.p5{
	top: 42%;
	left:65%;
	}

.p6{
	top: 32%;
	left:87%;
	}

.p7{
	top: 52%;
	left:92%;
	}

.p8{
	top:26%;
	left:54%;
	}

.p9{
	top:11%;
	left:69%;
	}									
		
// =============還沒秋g仔.但快秋g仔=========

@media screen and ( max-width:1500px ){
	.map_bamboo_2{
		.map_bamboo_1{
			padding-top:150%; 
			background-position: 25% 25%;
			transform:scale(1.7);
		}
	}
}
