@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-family: 微軟正黑體;
}
.clearfix {
  clear: both; }

@media screen and (max-width:767px){
  
 .bg_14{
    background-image:url("../images/5news/bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width:100%;
    background-color: lightblue;
  }



  .banner_14{
      background-image:url("../images/5news/surf2.png");
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
      position: relative;
      padding-top:70%;
      p{
        position: absolute;
        top: 0;
        right: 0; 
        bottom: 0;
        left: 0;
        margin-top: 25%;
        text-align: center;
        color:#fff;
        font-size:16px;
      }
    }

  .news_title_14{
    font-size:30px;
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    margin-top: 10%;
    text-align: center; 
    color:#fff;
    letter-spacing: 2px;
  }

  .news_item{
  width: 100%;
  height: auto;  
  box-sizing:border-box;
  background-color:#11314C;
  box-shadow:1px 1px 2px rgba(0,0,0,.5),
            0px 6px 0px #ED8C00;
  margin-bottom: 18px;
  }
  .news_item_txt{
    display:inline-block;
    vertical-align: middle;
    text-decoration: none;
    color:#fff;
    margin:0px 10px;
    padding:15px;
    h3{
      margin-bottom: 5px;
    }
    .date_14{
      font-size:15px;
      margin-bottom: 8px;
     }
  }
 
 
 .news_item_img{
  width: 95%;
  display:inline-block;
  vertical-align: middle;
  padding:10px;
 }   
 


  .news_item_border{
  padding-top:5vh;
  padding-bottom:10vh;
 } 



}/*RWD結束*/
@media screen and (min-width:768px){
  .bg_14{
    background-image:url("../images/5news/bg.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width:100%;
    background-color: lightblue;
  }
  .body_14{
    max-width: 1170px;
    margin:auto;
  }

  .banner_14{
      background-image:url("../images/5news/surf5.png");
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
      position: relative;
      padding-top:30%;
      p{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        margin-top: 14%;
        color:#fff;
        font-size:20px;
        font-weight:700;
      }
    }
  
 .news_title_14{
    font-size:40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    margin-top: 10%;  
    color:#fff;
    letter-spacing: 2px;
  }
 .news_item{
  width: 100%;
  height: auto;  
  box-sizing:border-box;
  background-color:#11314C;
  box-shadow:1px 1px 2px rgba(0,0,0,.5),
            6px 6px 0px #ED8C00;
  margin-bottom: 18px;
  }
  .news_item_txt{
    display:inline-block;
    vertical-align: middle;
    text-decoration: none;
    color:#fff;
    margin:0px 10px;

  }
 .news_item_border{
  padding-top:5vh;
  padding-bottom:10vh;
 }

 
  
 .news_item_img{
  width: 10%;
  display:inline-block;
  vertical-align: middle;
  padding:10px;
 }   
 

 

}/*桌機結束*/