
		.container{
			max-width: 1170px;
			outline:1px solid black;
		}
		/*S*/
		.all{
			outline:1px solid green;
			display: inline-block;
			max-height: 200px;
			overflow: hidden;
		}
		
		.item:after{
			content: '';
			clear: both;
		}
		.container{
			.changebar{
			 padding-top: 15px;
			 padding-bottom: 10px;
			ul{
			display: inline-block;
			vertical-align:bottom;
		   }
		
		   li{
			outline: 1px solid red;
			text-align: center;
			border-bottom:1px solid black;
			padding:5px;
			cursor:pointer;
			display: inline-block;
		    }
		  }
		
		hr{
		/*width:1150px;*/
		margin:auto;
		border:0;
		height:3px;
		background-color: black; 
		color:black;
		}
		img{
			width: 100%;
			vertical-align: middle;
			
		}
	  }
	  .container22{
	  	padding-top: 5%;
	  	// padding-bottom: 3%;
	  	h1,p,li{
	  		color: #fff;
	  	}
	  }
		.bg_1{
			background-image: url("../images/3accessories/roll_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_2{
			background-image: url("../images/3accessories/roll_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_3{
			background-image: url("../images/3accessories/fin_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_4{
			background-image: url("../images/3accessories/wax_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_5{
			background-image: url("../images/3accessories/suit_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		
		.aa{
			max-width: 700px;
		}

		
		.everyone{
			outline:1px solid blue;
		}
		.title h2{
			text-indent:60px;
			padding-top: 30px;
			font-size:30px;
			padding-bottom: 20px;
			/*outline: 1px solid steelblue*/
		}
		
        .myview {
        	overflow: scroll;
        	height: 550px;	
        }
        .myview::-webkit-scrollbar{
        	width: 12px;
	      /* for vertical scrollbars */
	      	height: 12px;
        }
        .myview::-webkit-scrollbar-track,
        .myview::-webkit-scrollbar-thumb{
        	background: rgba(0, 0, 0, 0.1);
        }
        .myview .item{
          /*  width:540px;*/
            /*height:200px;*/
            outline: 1px solid blue;
            vertical-align: middle;
            /*margin:0px 30px;*/
          .btngorup{
             margin: auto;
             text-align: center;
          }
         .btngorup .morebtn {
          background-color: #1a191c;
          padding: 5px;
          border-radius: 5px;
          color: #fff;
          font-weight: bold; 
         }
        }
        .myview .item{
        	margin: 10px 0px;
        }
        
        .myview .item .txt{
          padding: 5px;
        }
        .myview .item .pic{
          padding: 10px;
        }
        
        .myview .item .txt h4{
            text-align: center;
            line-height:30px;
        }
        
        .myview .item .txt p{
            padding-left: 5px;
            text-indent: 30px;
        }
		.clearfix{
			clear: both;
		}
		@media screen and (max-width:767px) {
			.all{
				max-height: 100px;
			}
			.myview {
        	overflow: scroll;
        	height: 350px;	
          }
          .container{
			.changebar{
			 padding-bottom: 18px;
		   li{
			font-size: 15px;
		    }
		   }
		  }
		  .container22{
		  	.txt{
		  	  display: none;
		     }
		  	padding-top: 10px;
		  	padding-bottom: 30px;
		  	h1{
             font-size: 23px;
		  	}
		  	p{
		  	 font-size: 15px;
	  	    }
		  }
	   }
