
		.container{
			max-width: 1170px;
			// outline:1px solid black;
			img{
			width: 100%;
			vertical-align: middle;
			
		}
		}

		.item:after{
			content: '';
			clear: both;
		}
		.barbg{
			background-color: #11314c;
			.changebar{
			 max-width: 1170px;
			 padding-top: 15px;
			 padding-bottom: 10px;
			ul{
			display: inline-block;
			vertical-align:bottom;
		   }
		
		   li{
		   	color: #fff;
			border: 1px solid #fff;
			border-radius: 5px;
			text-align: center;
			padding:5px;
			cursor:pointer;
			display: inline-block;
			transition: .5s;
		    }
		    li:hover{
		    	color: #e97b23;
		    	border: 1px solid #e97b23;
		    }
		  }
		
		hr{
		/*width:1150px;*/
		margin:auto;
		border:0;
		height:3px;
		background-color: black; 
		color:black;
		}
		
	  }
	  .container22{
	  	padding-top: 8%;
	  	padding-bottom: 2%;
	  	h1{
	  		color: #fff;
	  		text-shadow: 0px 2px 1px #888,
        	             0px 3px 3px #aaa,
        	             0px 5px 5px #ccc,;
	  	}
	  }
		.bg_1{
			background-image: url("../images/3accessories/roll_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_2{
			background-image: url("../images/3accessories/roll_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_3{
			background-image: url("../images/3accessories/fin_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_4{
			background-image: url("../images/3accessories/wax_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		.bg_5{
			background-image: url("../images/3accessories/suit_head.jpg");
			  background-repeat: no-repeat;
			  background-position: left;
			  background-size: cover;
		}
		
		.aa{
			max-width: 700px;
		}

		
		.everyone{
			// outline:1px solid blue;
		}
		.title h2{
			text-indent:60px;
			padding-top: 30px;
			font-size:30px;
			padding-bottom: 20px;
			/*outline: 1px solid steelblue*/
		}
		
        .myview {
        	overflow: scroll;
        	height: 550px;	
        }
        .myview .item:nth-child(3n+1){
        	clear: left;
        }
        .myview::-webkit-scrollbar{
        	width: 12px;
	      /* for vertical scrollbars */
	      	height: 12px;
        }
        .myview::-webkit-scrollbar-track,
        .myview::-webkit-scrollbar-thumb{
        	background: rgba(0, 0, 0, 0.1);
        }
        .myview .item{
            background: linear-gradient(#fff , #ddd);
            border: 1px solid #ccc;
            vertical-align: middle;

            /*margin:0px 30px;*/
          .btngorup{
             margin: auto;
             text-align: center;
             .morebtn {
	          background-color: #1a191c;
	          padding: 5px;
	          border-radius: 5px;
	          color: #fff;
	          font-weight: bold; 
	          transition: .5s;
             }
            .morebtn:hover{
              background-color: #e97b23;
            }
          }
        }
        .myview .item{
        	margin: 10px 0px;
        	 box-shadow: 0px 2px 0px #888,
        	             0px 5px 3px #aaa,
        	             0px 10px 5px #ccc,;
        }
        
        .myview .item .txt{
          padding: 10px;
        }
        .myview .item .pic{
          padding: 10px;
        }
        
        .myview .item .txt h4{
            text-align: center;
            line-height:30px;
        }
        
        .myview .item .txt p{
            padding-left: 5px;
            text-indent: 30px;
        }
		.clearfix{
			clear: both;
		}
		@media screen and (max-width:767px) {
			.all{
				max-height: 100px;
			}
			.myview {
        	overflow: scroll;
        	height: 350px;	
          }
          .barbg{
			.changebar{
			 padding-bottom: 18px;
		   li{
			font-size: 15px;
		    }
		   }
		  }
		  .container22{
		  	.txt{
		  	  display: none;
		     }
		  	padding-top: 10px;
		  	padding-bottom: 30px;
		  	h1{
             font-size: 23px;
		  	}
		  	p{
		  	 font-size: 15px;
	  	    }
		  }
	   }
