@charset "UTF-8";
@import "base/var"; //變數在這裏面
@import "mixins/mixin"; //mixin在這裏面
@import "layout/mobile"; //手機
@import "layout/desktop"; //桌機

*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  font-family: 微軟正黑體;
}
.clearfix {
  clear: both; }

@media screen and (max-width:767px){
  
.bg_15{
 background-image: url("../images/4wavepoint/bg_f.jpg");
 background-repeat:no-repeat;
 background-size: contain; 
 // background-color:#2A6C84;
 height: auto;
 padding-top: 1rem;  
  .article_title_15{ 
   box-sizing: border-box;
      .article_txt_15{
        box-sizing: border-box;
        padding: 1rem 2rem 1rem;
        background-image:url("../images/4wavepoint/talk.jpg");
        background-repeat: no-repeat; 
        color:#fff;
        margin-top: 5rem;
      }
  }
}


.article_item{
  width: 100%;
  padding-bottom:5vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.article_item_title{
  font-size:16px;
  padding:15px 10px;
  background-color:#1D4D66;
  color:#fff;
  border-bottom:2px solid #ED8C00;
  p{
    font-size:16px;
    padding:10px 0px;
  }
}
.article_item_content_img{
  width: 100%;
  margin: 1vh auto;
  
  
  img{
    width: 100%;
    border:1px solid #fff;
  }
}
.article_item_content{
  line-height: 2;
  padding:30px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color:#fff;
  font-size: 18px;

} 
  
.btn_15{
  display:inline-block; 
  text-align: center;
  width: 100%;
  margin-top:30px;
  
}

// .btn_15_a{
//   color:#14324C;
//   padding:12px;
//   background-color:#FF9630;
//   border-radius:5%;
//   font-weight:700;
// }


}/*RWD結束*/
@media screen and (min-width:768px){
.cen{
  width: 100%;
  max-width:$navmaxwidth;
  margin: 0 auto;
}

  
  .bg_15{
 background-image: url("../images/4wavepoint/bg_f.jpg");
 background-repeat:no-repeat;
 background-size: cover; 
 height: auto;
 padding-top: 4rem;  
  .article_title_15{ 
   @extend .cen;
   box-sizing: border-box;
      .article_txt_15{
        box-sizing: border-box;
        padding: 1rem 2rem 1rem;
        background-image:url("../images/4wavepoint/talk.jpg");
        background-repeat: no-repeat; 
        color:#fff;
        margin-top: 15rem;
      }
  }
}

  
  .body_15{
    max-width: 1170px;
    margin:auto;
  }


.article_item{
  width: 100%;
  padding:7vh 0;
}

.article_big_title{
  color:#fff;
}

.article_item_title{
  font-size:28px;
  padding:20px;
  background-color:rgba(255,255,255,.1);
  color:#fff;
  border-bottom:1px solid #ED8C00;
  p{
    font-size:16px;
    padding:10px 0px;
  }
}
.article_item_content_img{
  width: 50%;
  margin: 1vh auto;
  
  
  img{
    width: 100%;
    border:1px solid #fff;
  }
}
.article_item_content{
  line-height: 2;
  padding:30px;
  background-color: rgba(255,255,255,.1);
  color:#fff;
  font-size: 18px;


}

.btn_15{
  display:inline-block; 
  text-align: center;
  width: 100%;
  margin-top:30px;
  
}



}/*桌機結束*/